
/* ___ TOTEM ___ */

:root{
  --bleed-overprint-v: -4mm;
  --bleed-overprint-h: -4mm;
  --visible-width: 110cm;
  --visible-height: 152cm;
}

@media print{
  @page {
    /*
    Voici ci-dessous les informations livrées par Claude Noël - Technical manager (pour les totems)  :
    Format papier : 120 x 160 cm
    Format impression : 118 x 160 cm
    Format visible minimum : 112 x 152 cm (centré dans le format)
    */

    size: 120cm 160cm;
    bleed: 1cm 1cm;
    marks: crop;
    margin: 0cm 0cm;
  }
}
