

/* ___ JC Decaux - mobilerVertical ___ */

:root{
  --bleed-overprint-v: -6.25mm;
  --bleed-overprint-h: -4.75mm;
  --visible-width: 110cm;
  --visible-height: 161cm;
}

@media print{

  @page {
    /*
    Voir site/pdf JCDecaux: Mobilier Urbain (Street Furniture)
    Format papier : 118.5cm x 175cm
    Format impression : 117.45cm x 174.25cm -> 10.5mm x 7.5mm -> 5.25mm x 3.75mm
    --> minimum print margins of: 5.25mm x 3.75mm
    to which we add the actual bleeds: (let's say 4.5mm x 2.5mm -> 2.25mm x 1.25mm)
    so we ends up with a format of: 117cm x 174cm
    for bleed margins of: 5.25mm+2.25mm=7.5mm x 3.75mm+1.25mm=5mm
    Format visible minimum : 110cm x 161cm (centré dans le format)

    actually size pagedjs attribute is the size inside the bleeds
    if we put bleed margins (print+overprint) of 1cmx1cm (-2cm on the format)
    and the printing margins are of 5.25mmx3.75mm (w h)
    it leads to overprint margins of 4.75mmx6.25mm (w h)
    */

    size: 116.5cm 173cm;
    bleed: 10mm 10mm;
    marks: crop;
    margin: 0cm 0cm;
  }
}
