
/* ___ METRO ___ */

:root{
  --bleed-overprint: -2mm;
  --visible-width: 152cm;
  --visible-height: 110cm;
}

@media print{
  @page {
    /*
    Voir site/pdf JCDecaux: Horizontal valves (Metro Bus Tram)
    Format papier : 160cm x 120cm
    Format impression : 159.25cm x 117.45cm -> 7.5mm x 25.5mm -> 3.75mm x 12.75mm;
    Format visible minimum : 152cm x 110cm (centré dans le format)
    */

    size: 160cm 120cm;
    /* margin: 3.75mm 12.75mm; */
    /* marks: crop; */
    margin: 0cm 0cm;
  }
}
