/* ___ RULES ___ */

body.preview .pagedjs_page_content::after,
body.preview .pagedjs_page_content::before{
  display: none;
}

@media screen{
  .pagedjs_page_content::after{
    /* visible zone */
    z-index: 999999999;
    content: "";
    position: absolute;
    top: 50%; left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: var(--visible-width);
    height: var(--visible-height);
    outline: var(--interface-outline) solid red;
    pointer-events: none;
  }
  .pagedjs_page_content::before{
    /* center rules */
    z-index: 999999999;
    content: "";
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: linear-gradient(
      transparent,
      transparent calc(50% - var(--interface-outline) / 2),
      blue calc(50% - var(--interface-outline) / 2),
      blue calc(50% + var(--interface-outline) / 2),
      transparent calc(50% + var(--interface-outline) / 2),
      transparent
    ), linear-gradient( 90deg,
      transparent,
      transparent calc(50% - var(--interface-outline) / 2),
      blue calc(50% - var(--interface-outline) / 2),
      blue calc(50% + var(--interface-outline) / 2),
      transparent calc(50% + var(--interface-outline) / 2),
      transparent
    );
    pointer-events: none;
  }
}
