
#pages {
  counter-reset: folio 62;
}

.footer::before {
  counter-increment: folio 1;
  content: counter(folio) " ";
}


#extras {
	-webkit-flow-into: extras;
    flow-into: extras;
}

.paper:nth-of-type(1) .body,
.paper:nth-of-type(2) .body,
.paper:nth-of-type(3) .body{
	-webkit-flow-from: extras;
    flow-from: extras;
}
#residences {
	-webkit-flow-into: residences;
    flow-into: residences;
}

.paper:nth-of-type(4) .body,
.paper:nth-of-type(5) .body,
.paper:nth-of-type(6) .body{
	-webkit-flow-from: residences;
    flow-from: residences;
}
#pratiques {
	-webkit-flow-into: pratiques;
    flow-into: pratiques;
}
.paper:nth-of-type(7) .body,
.paper:nth-of-type(8) .body,
.paper:nth-of-type(9) .body {
	-webkit-flow-from: pratiques;
    flow-from: pratiques;
}
#tarifs {
	-webkit-flow-into: tarifs;
    flow-into: tarifs;
}
.paper:nth-of-type(10) .body,
.paper:nth-of-type(11) .body,
.paper:nth-of-type(12) .body {
	-webkit-flow-from: tarifs;
    flow-from: tarifs;
}
#equipe {
	-webkit-flow-into: equipe;
    flow-into: equipe;
}

.paper:nth-of-type(13) .body {
	-webkit-flow-from: equipe;
    flow-from: equipe;
}

#soutiens {
	-webkit-flow-into: soutiens;
    flow-into: soutiens;
}

.paper:nth-of-type(14) .body{
	-webkit-flow-from: soutiens;
    flow-from: soutiens;
}

#furo {
	-webkit-flow-into: furo;
    flow-into: furo;
}

.paper:nth-of-type(15) .body {
	-webkit-flow-from: furo;
    flow-from: furo;
}

#furo img{
	max-width: 150%;
	margin-left: -70px !important;
	margin-top: -60px !important;
}
#mobilite {
	width: 10%;
	float:left;margin-top: 0pt;margin-right: 10pt;
}
#united {
	width: 25%;
	float:left;
	margin-top: 0pt;
	margin-right: 10pt;
	padding-top: 8pt;
}
#logos-partenaires {
	margin-top: 8pt;
}
#logos-balsa {
	width: 30%;
}

 figure img {
 	width: 100%;
 	position: relative;
 }

 dl, dd, dt {
 	margin-left: 0;
 	padding-left: 0;
 }
 dd {
  font-family: ume P Gothic;
  font-size: 0.9em;
  letter-spacing: 0.05em;
  font-weight: bold;
}
dl,
h2 + p,
h3 + p {
	margin-top: 8pt;
/*	margin-bottom: 8pt
*/}
h2 + h3 {
	margin-top: 0;
}
h3 + h2 {
	margin-top: 8pt;
}
/*h1 + h2.résidences-artistiques,
h3 + h2.résidences-artistiques {
	margin-top: 8pt;
}*/
h1 {
	margin-top: 0;
}
/*#residences h2:not(.résidences-artistiques) {
	font-family: ume mincho;
font-size: 1.2em;
font-weight: bold;
}*/

#residences dt + dd {
	margin-top: 8pt;
}
/*#residences h2 + dl {
	margin-top: 4pt;
}*/

#tarifs h2 {
	font-family: "ume mincho";
font-size: 24pt;
letter-spacing: -0.03em;
margin: 0;
background: linear-gradient( pink 0%, white 75%);
padding-top: 4pt;
padding-left: 5pt;
}
#tarifs h2 +h2 {
	margin-bottom: 8pt;
	margin-top: 20pt;

}
#tarifs h2#les-tarifs {
	font-family: "ume P Gothic";
	font-size: 18pt;
	margin-bottom: 20pt;
	background: transparent;
	padding-top: 0;
}
h2#tarif-spécial-au-pied-des-montagnes {
	margin-bottom: 20pt;
}
#tarifs h2#tarif-réduit-prevente {
	margin-bottom: 0;
}
#tarifs h2 + p {
	margin-top: 0;
/*	margin-bottom: 10pt;
*/}

#tarifs h2 + h2,
#tarifs p + h2,
#tarifs h2.groupes + h2.groupes  {
	margin-top: 20pt;
} 
/*#tarifs h2 + h2.prevente,
#tarifs h2 + h2.groupes,
p + h2.groupes {
	margin-top: 0pt;
} */
#tarifs h2.prevente,
#tarifs h2.groupes {
	margin-top: 8pt;
margin-left: 50pt;
width: calc(100% - 50pt);
}

figure#rem {
	width: 12%;
float: right;
margin-right: 8pt;
margin-left: 8pt: ;

}
#residence-rem {
float: right;
}
figure.logos h3 + h3 {
	margin-top: 8pt;
}
.h3-rem {
	margin-top: 8pt;
}
h1#les-tarifs {
	margin-bottom: 20pt;
}

figure#arsene50,
figure#article27 {
	width: 10%;
float: right;
margin-right: 8pt
}
figure#article27 {
	margin-right: 40pt;

}
figure#arsene50{
	margin-top: 20pt;

}

.asterisque img {
	width: 15px;
	margin-right: 8pt;
	display: none;
}
#plan{
	margin-top:0px;
	margin-left: -69px;
margin-right: -15px;
margin-bottom: -20px;
}

#bar ul {
	text-indent: 0pt !important;
	margin-left: -30pt !important;
}

#equipe dl {
  line-height: 9.5pt;
}
#equipe dt {
    font-size: 8.5pt;
}
#equipe dd {
  font-family: ume P Gothic;
  font-size: 7.5pt;
  letter-spacing: 0.05em;
  font-weight: bold;
}
#page-4 .inside,
#page-5 .inside,
#page-14 .inside {
  visibility: visible;
}

