

/* GRID DISPLAY
  =========================================================================== */
:root{
  --cell-size: 50px;
  /* --gap-size: calc(var(--cell-size) * 3/4); */
  --gap-size: var(--cell-size);
  --stroke-size: 3px;
}

#interface{
}

#interface::after{
  /* content: ""; */
  position: absolute; display: block;
  top: 60%; left: 0; right: 0; bottom: 0;
  background-image: url('../dessin/orgue-pattern-test.svg');
  background-size: 40%;
  z-index: -1;
}

#interface .schedule{
  position: relative;
  overflow: hidden;
}

#interface .schedule__grid-wrapper{
  /* scrolling if too big */
  height: 100%;
  overflow-y: auto;

  /* display: flex;
  align-items: center; */
}
#interface .schedule__grid-inner{

  /* flex-grow: 1; */

  /* background: hsl(var(--hue),4%,80%);
  background-image: url('../dessin/orgue-pattern-test.svg');
  background-size: 40%; */
  /* border-radius: 40vh; */

  box-sizing: border-box;
  /* margin: var(--cell-size) calc(var(--cell-size) * 2); */
  margin: calc(var(--cell-size) * 2);
  /* padding: var(--cell-size); */

  /* position: relative; */

  /* horizontal centering if too small */
  /* min-height: (100vh - calc(var(--cell-size) * 2)); */
}

#interface .schedule__grid{
  /* position: relative; */

  /* to take the center with the remaining space*/
  display: grid;
  justify-content: center;

  /* insert as much columns as possible with a min-width of --cell-size */
  grid-template-columns: repeat(auto-fill, var(--cell-size));
  /* use auto-rows to create as much rows as needed and expand vertically */
  grid-auto-rows: var(--cell-size);
  grid-gap: var(--gap-size);
  grid-auto-flow: dense;

  /* growing cells */
  /* grid-template-columns: repeat(auto-fill, minmax(var(--cell-size), 1fr)); */
  /* grid-auto-rows: minmax(var(--cell-size), 1fr); */
}

/* BUTTONS
  =========================================================================== */
#back-to-interface{
  position: absolute; inset: 0;
  background: rgba(255,255,255,0.25);
  z-index: 100;
  animation: fadein 0.5s;
}
#back-to-interface.fadeout{
  animation: fadeout 0.5s;
  opacity: 0;
}
#back-to-interface span{
  font-size: 5vh;
  width: 12vw;
  height: var(--top-section);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
#back-to-interface:hover{
  color: var(--link-clr);
}
@keyframes fadein {
  from{   opacity: 0; }
  to{     opacity: 1; }
}
@keyframes fadeout {
  from{   opacity: 1; }
  to{     opacity: 0; }
}

.schedule__controls{
  position: absolute; top: 0; left: 0; right: 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  z-index: 100;
  color: var(--dark-clr);
  padding: calc(var(--pad) / 2) var(--pad);

  pointer-events: none;
}
.schedule__controls > *{
  cursor: pointer;
  pointer-events: auto;
  color: inherit !important;
  position: relative;
}

#interface.list-display .schedule__controls{
  justify-content: flex-end;
}
#interface.list-display #sound-on-off-button{
  display: none;
}

#sound-on-off-button::after{
  content: "";
  display: inline-block;
  height: 2.2em;
  width: 2.2em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("picto/picto_son.svg");
  position: absolute;
  top: calc(50% - 1.1em);
}

/* One Cell
  ========================================== */

#interface .schedule__grid .cell.interactive{
  width: 100%;
  height: 100%;
  position: relative;
}
#interface .schedule__grid .svg-wrapper{
  width: 100%;
  height: 100%;

  /* center svg or img inside the cell */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
  align-content: center;
}
#interface .schedule__grid .svg-wrapper > *{
  flex-basis: 100%;
}
#interface .cell-title {
	text-align: center;
	z-index: 11;
	font-family: 'Ume Mincho';
	font-size: 1.2em;
	margin: 0 calc(var(--cell-size) * -1);
	width: 100%;
	flex-grow: 1;
	margin-top: 0.5em;
  line-height: 1;
}
.cell{
  grid-column-end: span 2;
  grid-row-end: span 2;
}

/* SVG / img STYLING
  ========================================== */

#interface :is(svg, img){
  /* the border can expand beyond the viewbox */
  max-width: 100%;
  max-height: 100%;
}

#interface svg{
  overflow: visible;
}

#interface .svg-gradient{
  position: absolute;
  top: 0; left: 0; width: 0; height: 0;
}

#interface path{
  /* this magic property will homogenise the stroke-width
  between the different svgs*/
  vector-effect: non-scaling-stroke;
  stroke-width: var(--stroke-size);

  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: none;

  /* fill: var(--back-clr); */
  stroke: url(#degrade);
  /* stroke: hsl(var(--hue), 2%, 50%); */
  /* stroke-opacity: 0.75; */
  fill: white;

  cursor: pointer;
}

/* HOVER
  ========================================== */

/* #interface .cell.hover .cell-title > *{
  text-decoration: underline;
} */


#interface .cell.hover path{
  stroke: url(#degrade-animation) !important;
  stroke-opacity: 1 !important;
}

/* ALTERNATIVE STATUS
  ========================================== */

#interface .cell.active path{
  /* fill: url(#radial); */
  /* stroke-opacity: 1; */  /* stroke: pink; */
}

#interface .cell.active svg{
  /* animation: micro-mouvement 4s infinite;
  transform-origin: center; */
}
#interface .cell.active .svg-wrapper::after{
  content: ""; display: block; position: absolute; inset: calc(var(--gap-size) * -1);
  background: radial-gradient(closest-side, var(--acc-clr), transparent);
  z-index: -1;
}

#interface .cell.past path{
  stroke-dasharray: 20;
}

@keyframes micro-mouvement {
  0%{   max-height: 100%; max-width: 100%; transform: rotate(0deg);  }
  6%{   max-height: 95%; max-width: 95%; transform: rotate(-3deg); }
  12%{  max-height: 100%; max-width: 100%; transform: rotate(0deg);  }
  18%{  max-height: 95%; max-width: 95%; transform: rotate(3deg);  }
  25%{  max-height: 100%; max-width: 100%; transform: rotate(0deg);  }
}


/* COMPO - ILLUSTRATIONS FOND
  ========================================== */

.schedule__illustrations{
  position: absolute; inset: 0;
}
.schedule__illustrations > .illustration{
  position: absolute;
  pointer-events: none;
  z-index: 1;
}
.illustration.fenetre{
  width: calc(var(--cell-size) * 7.25);
  top: calc(var(--cell-size) * 1.5);
  right: calc(var(--cell-size) * -0.5);
}
.illustration.personnage{
  top: 40%;
  width: calc(var(--cell-size) * 4.3);
  left: calc(var(--cell-size) * -0.75);
}
.illustration.oreiller{
  width: calc(var(--cell-size) * 5.5);
  bottom: calc(var(--cell-size) * 1);
  right: 10%;
}
.illustration.arbres{
  width: calc(var(--cell-size) * 9);
  left: 18%;
  top: 20%;
}


/* COMPO - GRID INTERACTIVE
  ========================================== */

.cell.chromosome{
  grid-column-end: span 2;
  grid-row-end: span 2;
  order: 7;
}
.cell.lego{
  grid-column-end: span 3;
  grid-row-end: span 2;
  order: 4;
}
.cell.cabane{
  grid-column-end: span 3;
  grid-row-end: span 2;
  order: 4;
}
.cell.casque{
  grid-column-end: span 3;
  grid-row-end: span 3;
  order: 3;
}
.cell.troisfenetre{
  grid-column-end: span 3;
  grid-row-end: span 2;
  order: 3;
}
.cell.serpent{
  grid-column-end: span 2;
  grid-row-end: span 3;
  order: 6;
}
.cell.slip{
  grid-column-end: span 3;
  grid-row-end: span 2;
  order: 9;
}
.cell.heaume{
  grid-column-end: span 4;
  grid-row-end: span 2;
  order: 4;
}
.cell.hochet{
  grid-column-end: span 4;
  grid-row-end: span 2;
  order: 4;
}
.cell.mailloche{
  grid-column-end: span 4;
  grid-row-end: span 2;
  order: 4;
}
.cell.boomerang{
  grid-column-end: span 3;
  grid-row-end: span 2;
  order: 6;
}
.cell.trace{
  grid-column-end: span 2;
  grid-row-end: span 2;
  order: 7;
}
.cell.feuille{
  grid-column-end: span 3;
  grid-row-end: span 2;
  order: 11;
}
.cell.cerf{
  grid-column-end: span 2;
  grid-row-end: span 2;
  order: 1;
}
.cell.germination{
  grid-column-end: span 2;
  grid-row-end: span 2;
  order: 4;
}

/* LIST-DISPLAY
  ========================================== */
#interface.list-display .schedule__grid-wrapper{
  display: none;
}
#interface.list-display .schedule__illustrations{
  display: none;
}
#interface.list-display .schedule{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#interface.list-display .schedule__controls{
  position: static;
  border-bottom: var(--border) solid var(--dark-clr);
}
#interface.list-display .schedule__list{
  pointer-events: auto;
  position: relative;

  min-height: 0;
  flex-basis: 0;
  flex-grow: 1;
}
#interface.list-display .schedule__list > .schedule__item{
  position: relative;
  opacity: 1;
}
#interface.list-display .schedule__list > .schedule__item{
  margin-bottom: var(--stroke-size);
  z-index: 0;
}
#interface.list-display .schedule__list > .schedule__item::after{
  content: ""; bottom: calc(var(--stroke-size) * -1);
  height: var(--stroke-size);
  display: block; position: absolute;

  background: var(--gradient);
  left: 0; width: 200%;
  background-size: 50%;

  transition: 0.1s height;
}
#interface.list-display .schedule__list > .schedule__item:hover::after{
  /* height: calc(var(--stroke-size) * 2); */
  animation: shinningborder 1s linear infinite;
}
@keyframes shinningborder {
  from{ background-position: 0%; }
  to{ background-position: 100%; }
}

.schedule__item__interface a{
  position: absolute; inset: 0;
}

/* MOBILE
  ========================================== */

@media screen and (max-width: 600px) {

  :root{
    --cell-size: 6.5vw;
    --stroke-size: 1.5px;
  }

  #interface .schedule__grid-inner {
    margin: var(--cell-size) calc(0.5 * var(--cell-size));
  }

  #interface .schedule__grid-inner{
    margin: var(--cell-size);
  }

  #interface .schedule__grid{
    grid-gap: calc(var(--cell-size) * 1/2);
    grid-auto-rows: min-content;
    grid-template-columns: repeat(5, 1fr);
  }

  .page-content main {
    font-size: 8pt;
  }
  .page-content__gallery {
    /** For now hide the gallery */
    display: none;
  }
}
