

body{
  /* everything is inside the size of the screen
  scroll happens in the different container */
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-columns: auto 1fr;
}

/* body divided in 2 columns: */
#sidebar{
  width: 32vw;
  max-width: 550px;

  height: 100vh;

  display: flex;
  flex-direction: column;
}
#interface{
  width: 100%;
  height: 100vh;

  /* overflow-y: hidden; */
  position: relative;
}

/* SIDEBAR
  ====================================================  */

/* sidebar column divided in 2 rows: */
#menu{
  height: var(--top-section);
  position: relative;
  flex-shrink: 0;
  /* margin-bottom: var(--border); */
}
#actu{
  flex-grow: 1;
  min-height: 0;
  position: relative;
}
#actu > :is(.actualitee, .subscription-wrapper){
  /* scroll on the actualitee column or the newsletter_form */
  overflow-y: scroll;
  height: 100%;
  box-sizing: border-box;
}
#footer{

}

/* INTERFACE
  ====================================================  */

#interface{
  display: grid;
  grid-template-columns: 1fr var(--timeline);
}

#interface .schedule{
  position: relative;
  height: 100%;
}
#interface .timeline{
  position: sticky;
  top: 0;
  height: 100%;
  background: var(--dark-clr);
  z-index: 200;
}

/* ARTICLE
  ====================================================  */

.page-content-wrapper {
  box-sizing: border-box;
  position: fixed;

  top: var(--top-section);
  bottom: 0;
  left: 0;
  right: var(--timeline);

  z-index: 100;

  animation: slideFromBottom 0.5s;
}

.page-content-wrapper.closing{
  animation: slideInBottom 0.5s;
  top: 100%;
}

@keyframes slideFromBottom {
  0% {
    top: 100%;
  }
  100% {
    top: var(--top-section);
  }
}
@keyframes slideInBottom {
  0% {
    top: var(--top-section);
  }
  100% {
    top: 100%;
  }
}


/* MOBILE
  ========================================== */

.show-menu-button{
  display: none;
}

@media screen and (max-width: 1250px) {

  /* hide sidebar and show logo */
  body{
    grid-template-columns: 1fr;
    /* grid-auto-rows: auto 1fr; */
    /* display: flex;
    flex-direction: column; */
  }
  #sidebar{
    position: absolute;
    top: 0; bottom: 0;
    width: calc(var(--timeline) * 2);
    z-index: 1000;
    transition: 0.5s width;
  }
  #sidebar.open{
    width: 50%;
  }

  /* hide element when sidebar is closed */
  #sidebar:not(.open) #menu .main-nav{
    display: none;
  }
  #sidebar:not(.open) .actualitee > section > *:not(h2):not(a){
    display: none;
  }
  #sidebar:not(.open) #footer{
    min-height: 2em;
  }
  #sidebar:not(.open) #footer > *{
    display: none;
  }

  #interface{
    box-sizing: border-box;
    padding-left: calc(var(--timeline) * 2);
  }

}

#menu-toggle--mobile {
  display: none;
}

@media screen and (max-width: 600px) {

  :root{
    --timeline: 40px;
  }


  body:not([data-menu-expanded]) #sidebar {
    width: var(--timeline);
  }
  body:not([data-menu-expanded]) #actu {
    display: none;
  }
  body:not([data-menu-expanded]) .main-logo {
    writing-mode: vertical-lr;
    vertical-align: middle;
    margin: 0 !important;
    padding: 0 !important;
  }
  body:not([data-menu-expanded]) #menu > .main-logo > img {
    width: initial;
    transform: rotate(-90deg);
    height: calc(0.45 * var(--timeline));
    margin: 20px 0;
  }
  body:not([data-menu-expanded]) #menu {
    display: block;
    flex: 1;
  }
  body:not([data-menu-expanded]) #menu > .main-logo > p {
    transform: rotate(180deg);
    margin: 0 4px;
  }
  body:not([data-menu-expanded]) #menu > .main-logo > p:after {
    content: 'menu';
    margin-top: 2em;
    margin-bottom: 2em;
  }
  body:not(data-menu-expanded) #menu-toggle--mobile {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  [data-menu-expanded] #menu-toggle--mobile {
    position: absolute;
    top: 0;
    left: 0;
    height: initial;
    width: initial;
    padding: .5em 2em 2em .5em;
    right: initial;
    bottom: initial;
    font-size: 110%;
  }


  [data-menu-expanded] #menu-toggle--mobile:before {
    content: "×";
  }

  [data-menu-expanded] #sidebar {
    right: var(--timeline);
    width: initial;
    left: 0;
  }

  .page-content-wrapper {
    left: var(--timeline);
  }

  .page-content main {
    padding-left: calc(.5 * var(--pad)) !important;
    padding-right: calc(1 * var(--pad)) !important;
  }

  .content-dates-detail {
    display: none;
  }

  .schedule__item {
    flex-direction: column;
    margin-bottom: var(--pad);
  }

  .reservation {
    margin-left: 2em;
  }

  #menu {
    flex-direction: row !important;
    height: initial !important;
  }

  #menu > .main-nav {
    min-width: 150px !important;
    flex: 2 0 !important;
    display: block !important
  }

  .page-content {
    display: block !important;
  }
  .page-content .toc {
    display: none;
  }
  .page-content__header {
    position: relative !important;
    padding-bottom: 0 !important;
    padding-left:  calc(.5 * var(--pad)) !important;
  }
  .informations .page-content main {
    width: initial !important;
  }
}
