
:root{
  /* COLORS */
  --back-clr: hsl(38, 34%, 86%);
  --light-clr: hsl(212, 8%, 78%);
  --dark-clr: hsl(212, 18%, 36%);

  --acc-clr: pink;
  --link-clr: hsl(226, 39%, 54%); /* taken from the rainbow border */

  --gradient: repeating-linear-gradient(to right,
    #FFEE25,
    #CDDB3E,
    #7DBE66,
    #6EB86D,
    #F08F34,
    #E96732,
    #6C80BF,
    #E86031,
    #6AC3CB,
    #FFEE25
    );

  /* SPACES */
  --pad: 1.5rem;
  --border: 1.5px;
  --top-section: 18vh;
  --timeline: 80px;
}

body{
  background: var(--back-clr);
}

::selection{
  background-color: var(--acc-clr);
}

.btn{
  font-size: 1rem;
  word-break: keep-all;
  background: white;
  padding: 0.2em 0.4em;
  border-radius: 100px;
  line-height: normal;
}

a{
	color: black;
	text-decoration: none;
}
a:hover{
	color: var(--link-clr);
	text-decoration: none;
}



/* Scrollbar Balsa theme
========================================================================== */

.ps__scrollbar-y-rail {
  /* make it the same size hovering or not */
  width: 16px !important;

  /* background: white !important; */
  /* background: var(--light-clr) !important; */
  background: transparent !important;
}
.ps__scrollbar-y {
  /* make it the same size hovering or not */
  right: 3px !important;
  width: 10px !important;
  border-radius: 100px !important;

  background: white !important;
}

/* when we hover the container show both*/
.ps:hover > .ps__scrollbar-y-rail{
  opacity: 1 !important;
}
.ps:hover .ps__scrollbar-y{
  opacity: 1 !important;
}

/* when we hover the rail
or when the scrolling is happening (even if not hovering) */
.ps__scrollbar-y-rail:hover{
  background: rgba(0,0,0,0.02) !important;
}
.ps__scrollbar-y-rail:hover > .ps__scrollbar-y{
  opacity: 1 !important;
}

/* exceptions */
.page-content-wrapper.event .ps__scrollbar-y,
.schedule__list .ps__scrollbar-y{
  /* -> darker color scroll bar */
  background: var(--light-clr) !important;
}
:is(.page-content__gallery, .page-content__toc) .ps__scrollbar-y {
  /* -> no scroll bar */
  display: none !important;
}
