

/* PAGE CONTENT
  ========================================================================== */

/* --- glowy border */
.page-content-wrapper::after{
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; height: var(--stroke-size);
  display: block;
}
.page-content-wrapper.event::after{
  background: var(--gradient);
}
.page-content-wrapper.informations::after{
  background: var(--dark-clr);
}

/* --- layout inside */
.page-content{
  /* margin for glowy border */
  margin-top: var(--stroke-size);

  /* scroll inside */
  height: calc(100% - var(--stroke-size));
  overflow-y: auto;

  /* the same grid than the global one */
  display: grid;
  grid-template-columns: auto 1fr;
}
.page-content > .page-content__gallery,
.page-content > .page-content__toc{
  padding: var(--pad);
  box-sizing: border-box;
  width: 32vw;
  max-width: 550px;

  position: sticky;
  top: 0;
  height: max-content;
  height: calc(100vh - var(--top-section) - var(--stroke-size));
  overflow: hidden;
}
.page-content main{
  box-sizing: border-box;
  padding: var(--pad);
  padding-right: calc(var(--pad) * 1.5);
}

/* --- background */
.page-content-wrapper.event .page-content{
  background: white;
}
.page-content-wrapper.informations .page-content{
  background: var(--light-clr);
}

figure img {
  width: 100%;
}

/* HEADER / TOC (FOR PAGES)
  ========================================================================== */

.toc > ul > li::before {
  content: "- ";
}
.toc > ul > li > ul{
  margin-left: 1em;
}
.toc > ul > li > ul > li ::before {
  content: "◦ ";
}
.toc > ul > li > ul > li > ul{
  display: none;
}

.page-content header h1 {
  font-family: 'Ume P Gothic';
  font-size: 1.55em;
  line-height: 1.1;
  text-transform: none;
  margin-bottom: 0em;
  display: inline;
}
.page-content header h2 {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.2;
  text-transform: none;
}

/* GALLERY (FOR ARTICLES)
  ========================================================================== */

/* --- flex gallery when small */
.page-content__gallery{
  position: relative;
}
.gallery__content{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1em;
}
.gallery__content > *{
  flex: 1 0 45%;
  cursor: pointer;
  position: relative;
  max-height: calc(100vh - var(--top-section) - calc(2 * var(--pad)) - var(--stroke-size));
}
.gallery__content > *{
  margin: 0;
}
.gallery__content > * > img{
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.gallery__content figcaption p,
.content figcaption p {
  font-size: 0.75em;
}
.gallery__content figcaption{
  display: none;
}
.gallery__controls{
  display: none;
}

#back-to-text{
  display: none;
}

/* --- hovering picture filter */
.gallery__content > *:hover::after{
  content: ""; display: block; position: absolute; inset: 0;
  background-color: var(--acc-clr);
  mix-blend-mode: screen;
}

/* --- slideshow take all the place when we click on it */
.page-content.full-image .page-content__gallery{
  width: calc(100vw - var(--timeline) - 12vw);
  height: 100%;
  max-width: 100%;
}
.page-content.full-image .gallery__content{
  height: 100%;
  align-content: center;
  justify-content: center;
}
.page-content.full-image .page-content__body{
  border-left: var(--border) solid black;
}

.page-content.full-image #back-to-text{
  display: block;
  font-size: 1.55em;
  line-height: 1;
  text-align: center;
}
.page-content.full-image .page-content__body > *:not(#back-to-text){
  display: none;
}

/* --- image on solo mode */
.page-content.full-image .gallery__content > *:hover::after{
  content: none;
}
.page-content.full-image .gallery__content > *{
  /* max-height: calc(100vh - var(--top-section) - calc(var(--pad) * 4));
  max-width: calc(100% - calc(var(--pad) * 4)); */
  max-height: 100%;
  max-width: 100%;
  cursor: default;
}
.page-content.full-image .gallery__content > *:not(.current){
  display: none;
}
.page-content.full-image .gallery__content figcaption{
  display: block;
  position: absolute;
  right: 0; bottom: 0;
  padding: 0.2em 0.4em;
  background: white;
  margin-top: 0.5em;
  text-align: center;
  font-size: 1rem;
}

/* --- left right buttons */
.page-content.full-image .gallery__controls{
  display: block;
}
.gallery__controls .switch-image{
  position: absolute;
  font-size: 5vh;
  font-family: 'Ume Mincho';
  top: 50%;
  transform: translateY(-50%);
  background: white;
  line-height: 1;
  padding: 0 0.2em;
}
.gallery__controls .switch-image a:hover{
  color: var(--link-clr);
}
.gallery__controls #prev-image{
  left: calc(var(--pad) * 1);
}
.gallery__controls #next-image{
  right: calc(var(--pad) * 1);
}

/* no control if only one image */
.page-content__gallery.single-image .gallery__controls{
  display: none !important;
}
/* .page-content__gallery.no-image::after {
	content: "Gallerie à venir";
	font-size: 1.55em;
	line-height: 1.25em;
	width: 100%;
	color: var(--light-clr);
	display: block;
	height: 320px;
	border: var(--border) solid var(--light-clr);
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
} */

/* MAIN
  ========================================================================== */


.page-content main .content {
	width: auto;
}

.page-content main .content:not(:first-child) {
  padding-top: calc(var(--pad) * 2);
}

/* dates details */
.dates-detail {
  margin-top: 1em;
  font-weight: normal;
  font-size: 1em;
  max-width: 800px;
}
.dates-detail ul{
  /* display: flex; flex-wrap: wrap;
  gap: 0.5em; */
  display: block;
}
.dates-detail li {
  display: inline;
  white-space: nowrap;
  /* border-bottom: var(--border) solid black;
  border-right: var(--border) solid black;
  padding: 0.2em 0.4em; */
}
.dates-detail li:not(:last-of-type)::after{
  content: ", ";
}
.dates-detail li:last-of-type::after{
  content: ".";
}

/* --- reversation button */
.reservation {
  background: var(--acc-clr);
  margin: auto;
  margin-top: 1em;
  padding: 0.4em 0.6em;
}

/* shape */
.shape {
	float: right;
	max-width: 65%;
	max-height: 60vh;
	position: relative;
	right: -25%;
	shape-outside: url(""); /* to be filled with javascript */
	top: calc(var(--pad) * -1);
	shape-margin: 1em;
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-content: center;
}
.shape svg{
  max-width: 100%;
  max-height: 100%;
  overflow: visible;
}
.shape path {
  vector-effect: non-scaling-stroke;
  stroke-width: var(--border);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: none;
  stroke: black;
  stroke-opacity: 0.75;
  fill: transparent;
}

/* typography */

.content p + p {
	text-indent: 60px;
}
.content p.phrase + p {
  text-indent: 0em;
}
.content p {
    font-size: 1.55em;
    line-height: 1.25em;
}
.content p.phrase {
    margin-bottom: 0.65em;
/*    margin-top: 1.25em;
*/}
.content dl {
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1.25em;
}
.content dt:first-of-type {
    padding-left: 0;
}
.content dt {
    display: inline;
}
.content dd {
    display: inline;
}

.content p.production, p.author {
  font-size: 1em;
}
p.author {
/*  margin-top:  1em;
*/  text-indent: 0 !important;
}

.page-content__body .schedule__category {
  display: none;
}


/* ************** xx time************ */

#page-xx-time-21-22 .section2 h2,
#page-diffusion .section2 h2 {
    margin-bottom: 3px;
}
.section2 {
    margin-bottom: 1em;
}
#page-xx-time-21-22  #xx-time-21-22 {
    margin-bottom: 2em;
}


/********** pages generiques *******/

.informations .page-content main{
  box-sizing: border-box;
  padding: var(--pad);
  /*padding-right: calc(var(--pad) * 1.5);*/
  width: calc(100% - 15vw);
}

.informations h1 {
    margin-bottom: 7px;
    line-height: 1.05em;
}
#page-diffusion .informations .section1:first-of-type h1 {
    margin-bottom: 1em;
}
.section1 h2 {
    margin-bottom: 1em;
}

.section1 + .section1,
.informations p + .section1  {
    margin-top: 4em;
}

.informations  .section2 > h2 {

    margin-top: 2em;

}
.informations h1 + .section2 > h2 {

    margin-top: 0em;

}
.informations .content dd {
    display: block;

}
.informations .content dd + dd {
    margin-bottom: 0em;

}
.informations .content dt {
    display: block;
}
.informations .content dl {
    margin-top: 0.8em;
    margin-bottom: 0.4em;
    line-height: 1.25em;
}
.informations .production {
  text-indent: 0;
}
.informations h1 + .translations {
  display: inline;
  position: absolute;
  right: var(--pad);
}
.informations .logo-seuls {
  float: right;
  width: 25%;
  position: relative;
}
img[alt="logo brussels health safety label"] {
    width: 150%;
}
img[alt="logo accessibilite"] {
      width: 50%;

}

.informations .content li {
    font-size: 1.55em;
    line-height: 1.25em;
}
.informations .content li::before {
    content: "— ";
}
.fleche {
  font-family: Ume Mincho;
}

.tarifs h2 {
  font-family: ume mincho;
  font-size: 3em;
  text-align: center;
/*  display: inline-block;
*/
}
.tarifs {
/*display: grid;
*/grid-template-columns: 1fr 1fr 1fr 1fr;
grid-column-end: span 2;
align-items: baseline;
justify-items: baseline;
grid-column-gap: 45px;
grid-row-gap: 45px;
}

.tarifs figure {
width: max-content;
    float: right;
    width: 36%;
    shape-outside: url("");
    top: -2em;
}
.tarifs figure img.dessins-tarifs {
  display: none;
}
.tarifs p {
    font-size: 1em;
    grid-column-end: span 2;
}
#mecene-20 + p {
        grid-column-end: span 3;

}
#plein-15 {
  grid-row-start: 2;
}
#prevente-12 {
    grid-row-start: 2;

}
#prevente-12 + p {
      grid-column-end: span 2;
  grid-row-start: 2;

}
#etudiantes-6  {
grid-row-start: 3;
grid-column-start: 3;
}
#etudiantes-6 + p {
  grid-column-start: 1;
}
#enfants-6 {
  grid-column-start: 1;
grid-column-end: span 3;
grid-row-start: 3;
}
#special-au-pied-des-montagnes-75 {
  grid-column-end: span span 3;
}
#groupes-adultes-10 + p {
    grid-column-start: 3;
    grid-column-start: 4;
}
.tarifs figure {
  grid-column-end: span 2;
}
/*
#mecene-20 + figure {
margin-right: 25px;
}
#plein-15 {
    float: left;
}
#plein-15 + figure {
    float: left;
    width: 20%;
}
#prevente-12 {
      clear: inherit;
    float: inherit;
    margin-bottom: 0;
}
#prevente-12 + p {
  position: relative;
display: unset;
}
#prevente-12 + p + figure {
  float: left;
}

h1#tarifs {
  margin-bottom: 3em;
}
.tarifs p {
    font-size: inherit;
}
h1#united-stages {
clear: both;

}*/
/*#page-xx-time-21-22 .section2 h2, #page-diffusion .section2 h2 {
    margin-bottom: 4.7px;
    font-family: ume mincho;
    font-size: 1.4em;
}*/
