
/* TODO: put the one for page in page_content */

/*
  Schedule
  =========================================================================== */

.schedule__list{
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

.schedule__item {
  display: flex;
  z-index: 20;
}
.schedule__item__interface {
	position: absolute;
  bottom: 0; left: 0; right: 0;
  background: white;
  padding: calc(var(--pad) / 2) var(--pad);
  opacity: 0;
  transition: .05s opacity;
  display: flex;
  align-items: stretch;
}
.schedule__item__interface.hover{
  opacity: 1;
}

/* divided in two section */
.schedule__item > .title-frame{
  flex-grow: 1;
  min-width: 0;
  margin-right: calc(var(--pad) * 2);
}
.schedule__item > .dates-frame {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* there is the reservation button below in page content */
  flex-basis: min-content;
}
.schedule__item__page > .dates-frame {
  align-items: flex-start;
}
.schedule .dates-detail {
  display: none;
}

/* --- title */
.schedule__item__page h1.schedule__title {
  margin-bottom: 7px;
  max-width: 800px;
}
.schedule__item__interface h1.schedule__title {
  font-size: 1.2em;
  margin-bottom: 5px;
}

/* --- additionnal tags */
.schedule__item__interface .schedule__additional-tags {
	white-space: nowrap;
	overflow: hidden;
  text-overflow: ellipsis;
  min-height: 1.4em;
}
.schedule__item__interface .schedule__additional-tags > *{
  font-size: 1em;
  display: inline;
}
.schedule__item__interface .schedule__authors + .schedule__event-type::before{
  content: "\2014";
  display: inline-block;
  margin: 0 0.5em;
}
/* other tags */
.schedule__item__interface :is(.schedule__event-title-detail, .schedule__event-infos-sup){
  display: none;
}

.schedule__item__page .schedule__authors {
  margin-bottom: 6px;
}

.schedule__category {
  position: absolute;
  bottom: 100%;
  left: 0;
  text-transform: lowercase;
  font-size: 1em;
  background: var(--dark-clr);
  color: var(--back-clr);
  display: inline-block;
  padding: 0.2em 0.5em;
}

/* --- dates */
.schedule__dates {
  font-family: ume mincho;
  font-size: 2.8em;
  line-height: 1;
  flex-basis: 100%;
}
.schedule__item__page .schedule__dates > :is(time, span) {
  display: block;
  text-align: center;
}
.schedule__item__interface .schedule__dates {
  font-size: 2em;
  white-space: nowrap;
}
.schedule__item__interface .schedule__dates time{
  min-width: 5ch;
  display: inline-block;
  text-align: center;
}
.schedule__item .year{
  display: none;
}
.schedule__item__interface .schedule__dates > span::after{
  content: "\2192"; /* rightward arrow */
}
.schedule__item__page .schedule__dates > span::after{
  content: "\2193"; /* downward arrow */
}

/* don't show details in interface */
.schedule__item__interface .dates-detail{
  display: none;
}

/* --- sup et sub */
.schedule sup,
.schedule sub {
  margin-left: 1px;
  font-size: 0.75em;
  line-height: 0;
}
.schedule sup { vertical-align: 0.3em; }
.schedule sub { vertical-align: -0.3em; }

/* reservation */
.schedule .reservation {
  display: none;
}
/*  shape */
.schedule .shape {
  display: none;
}

/*
   TIMELINE
   ========================================================================== */

.timeline{
  display: flex;
  flex-direction: column;
}

/* months */
.timeline__month {
  flex: 1 1 100%;
  position: relative;
}
.timeline__month:not(:last-of-type){
  border-bottom: var(--border) solid white;
}
.timeline__month span {
  position: absolute;
  bottom: 100%;
  right: 0;
  transform: rotate(-90deg);
  transform-origin: bottom right;
  text-align: right;

  padding: 0 1vh;
  color: white;
  font-size: 1em;
}

/* events */
.timeline__point {

  --point-size: 16px;

  position: absolute;
  right: 75%;
  display: block;

  transform:
    translateY(calc(var(--point-size) * -1/2))
    translateX(50%);

  width: var(--point-size);
  min-height: var(--point-size);
  border-radius: calc(var(--point-size) / 2);

  background-color: var(--acc-clr);
  /* border-bottom: var(--border) solid var(--light-clr); */
}
.timeline__point::after{
  content: ""; position: absolute;
  right: 100%; top: calc(var(--point-size) * -1/2);
  width: calc(var(--point-size) * 2);
  height: calc(var(--point-size) * 2);
  border-radius: 50% 0 50% 50%;
  transform-origin: center;
  transform: rotate(45deg);
  background: white;
  box-sizing: border-box;
  border: var(--border) solid var(--light-clr);
  opacity: 0;
  transition: .1s opacity;
  pointer-events: none;
}
.timeline__point:hover::after,
.timeline__point.hover::after {
  opacity: 1;
}

/* now marker */
hr.timeline__currentDateMaker{
  position: absolute;
  display: block;
  width: 100%;
  margin: 0;
  border: none;
  border-bottom: calc(var(--border) * 2) dotted white;
  z-index: 9999 !important;
}

@media screen and (max-width: 600px) {
  .timeline__point {
    --point-size: 10px;
  }
}
