
/* theme1 */
#menu {
	border-right: solid;
	background: var(--light-clr);
}
#actu {
	border-top: solid;
	border-right: solid;
	background: var(--light-clr);
}
#footer {
	border-top: solid;
	border-right: solid;
	background: var(--light-clr);
}
#subscription-form--open{
	border-left: solid;
}
#menu, #actu, #footer, #subscription-form--open{
	border-width: var(--border);
	border-color: var(--dark-clr);
}

/* theme2 */
/* #menu {
	border-right: solid;
	background: var(--dark-clr);
}
#actu {
	border-top: solid;
	border-right: solid;
	background: var(--light-clr);
}
#footer {
	border-top: solid;
	border-right: solid;
	background: var(--dark-clr);
}
#subscription-form--open{
	border-left: solid;
}
#menu, #actu, #footer, #subscription-form--open{
	border-width: 6px;
	border-color: var(--back-clr);
}
#menu a,
#footer a{
	color: var(--back-clr);
} */

/*
  MENU
  =========================================================================== */

#menu {
	display: flex;
}
#menu > * {
	flex-basis: 0;
	box-sizing: border-box;
	height: 100%;
	overflow: hidden;
	padding: calc(var(--pad) / 2);
}
#menu > .main-logo {
	padding-left: var(--pad);
	flex-grow: 1;

  display: flex;
  align-items: flex-start;
	align-content: center;
  flex-wrap: wrap;
}
#menu > .main-nav {
	flex-shrink: 0;
	min-width: 280px;
}

/* img logo */
#menu > .main-logo > img{
  width: 100%;
}
#menu > .main-logo > p{
	/* position: relative;
	top: -0.75em; */
}

/* button list */
#menu ul {
	list-style-type: none;
	font-size: 1rem;
	margin: 0;
	padding: 0;
  height: 100%;

	display: flex;
	justify-content: flex-start;
  align-items: baseline;
  align-content: center;
	gap: 0.4em;
	flex-wrap: wrap;
}
#menu ul a{
	position: relative;
}

#menu ul a::before {
	/* in order to control the size of the svg as pseudo element
	we have to insert them as background image */
	content: "";
	display: inline-block;
	vertical-align: text-top;
	height: 1em;
	width: 1em;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-right: 0.4em;
}

.link-balsamine a::before{
	background-image: url("picto/picto_dodu.svg");
}
.link-pratique a::before{
	background-image: url("picto/picto_double.svg");
}
.link-billetterie a::before{
	background-image: url("picto/picto_losange.svg");
}
.link-location a::before{
	background-image: url("picto/picto_fondu.svg");
}
.link-diffusion a::before{
	background-image: url("picto/picto_pause.svg");
}

#menu ul a:hover{
	color: var(--link-clr);
}

/*
  ACTU
  =========================================================================== */
#actu{
	--line-height: calc(1.3 * 1rem);
	position: relative;
	z-index: 0;
}

.actualitee img {
	display: none;
}
.actualitee a{
	color: black;
}
.actualitee h2{
/*	line-height: calc(2 * var(--line-height));
*/}
.actualitee p{
	line-height: 1.3;
	font-weight: normal;
}

.actualitee > section {
	padding: calc(var(--pad) / 2) var(--pad);
	position: relative;
}

/* boule degrade rose */
.actualitee > section h2{
	position: relative;
	margin-bottom: 0;
	/* z-index: 2; */
}
.actualitee > section h2::before {
	--size: 2.5em;
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	bottom: calc(50% - calc( var(--size) / 2) );
	left: calc(var(--size) / -2);
	width: var(--size);
	height: var(--size);
	background: radial-gradient(circle closest-side, var(--acc-clr) 33%, transparent);
	/* mix-blend-mode: darken; */

	transition: .25s;
}

/* link over all the block */
.actualitee > section a{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

/* hover */
.actualitee > section{
	overflow: hidden;
}
.actualitee > section:hover h2::before{
	--size: 25em;
}

/*
NEWSLETTER FORM
=========================================================================== */

.subscription-wrapper{
	display: none;

	background: var(--light-clr);
	position: absolute;
	inset: 0;
	padding: var(--pad);

	line-height: 1.3;
	z-index: 20;
}
.subscription-wrapper.open{
	display: block;
}

#subscribe li{
	display: block;
	margin-bottom: calc(var(--line-height) / 2);
}
#subscribe input {
	font-family: 'Ume P Gothic';
	box-sizing: border-box;
	width: 100%;
	height: calc(calc(1.3 * 1rem) + 0.5em);
	font-size: 1rem;
	padding: 0.25em;
	margin: 0;
	border: 2px solid var(--dark-clr);
}
#subscribe input:focus {
	border: 2px solid var(--link-clr);
	outline: none;
}

#subscribe #approval-note{
	font-size: 0.8rem;
}

#subscribe input[type="checkbox"]{
	width: 80px;
	margin-right: var(--pad);
}

#subscribe input[type="submit"]{
	border: none;
	border-radius: 100px;
	width: 50%;
	margin: auto;
	margin-top: calc(var(--line-height) * 1.5);
	display: block;
	padding: 0.5em 0;
	height: auto;
	cursor: pointer;
}
#subscribe input[type="submit"]:hover{
	color: var(--link-clr);
}

#subscribe .last-part{
	display: flex;
	margin: var(--line-height) 0;
}

/*
  FOOTER
  =========================================================================== */
#footer{
	display: flex;
}
#footer > *{
	padding: 0.25em 0.5em;
}

.social-links ul{
	display: flex;
	flex-wrap: wrap;
	gap: 0;
}
.social-links li:not(:last-of-type)::after{
	content: "";
	margin: 0 0.5em;
}

#subscription-form--open{
	text-align: center;
	flex-grow: 1;
}
#subscription-form--close{
	position: absolute;
	top: 0em;
	right: .2em;
	font-size: 2em;
	color: var(--dark-clr);
}
#subscription-form--close:hover{
	color: var(--link-clr);
}
