
:root{
  --flex-logos-size: 4.5cm;
}

/* ___ FONTS ___ */

@font-face {
  font-family: 'Ume Mincho';
  src: url('fonts/Ume-Mincho_Balsa.ttf');
}
@font-face {
  font-family: 'Ume Gothic';
  src: url('fonts/Ume-P-Gothic_Balsa.ttf');
}
@font-face {
  font-family: 'Ume Gothic Bold';
  src: url('fonts/Ume-P-Gothic_Balsa-bold.otf');
}

/* ___ GLOBAL TYPO ___ */

*{
  font-weight: normal !important;
}

html{
  font-family: 'Ume Gothic';
  line-height: 1.15;
}

/* ___ TITLES TYPO AFFICHE ___ */

h1{
  font-family: 'Ume Mincho';
  letter-spacing: -0.03em;
  line-height: 0.85;
}
.affiche h1{
  font-size: 390pt;
}

/* adresse */
h4{
  font-family: 'Ume Gothic';
  line-height: 1.2;
}
.affiche h4{
  font-size: 78pt;
}

/* editrice responsable */
#edit-resp{
  text-transform: none;

  position: absolute;
  bottom: 5cm;
  left: 5cm;
}
.affiche  #edit-resp{
  font-size: 36pt;
}

/* ___ LOGOS ___ */

#flex-logos{
  z-index: 999;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-end;
}
#flex-logos > *{
  /* margin: calc(var(--flex-logos-size) / 6); */
}
#flex-logos > img:first-child{
  width: calc(var(--flex-logos-size) * 1.25);
}
#flex-logos .square{
  height: calc(var(--flex-logos-size) / 2);
  max-width: var(--flex-logos-size);
}
#flex-logos .round{
  height: calc(var(--flex-logos-size) * calc(5 / 6));
  max-width: calc(var(--flex-logos-size) * calc(7 / 6));
}
#flex-logos .line{
  height: calc(var(--flex-logos-size) / 2);
  max-width: calc(var(--flex-logos-size) * calc(5 / 3));
}

/* #flex-logos > *:nth-of-type(even){
  position: relative;
  top: var(--flex-logos-size);
  margin-left: calc(var(--flex-logos-size) * -1/6);
  margin-right: calc(var(--flex-logos-size) * -1/3);
}
#flex-logos > *:nth-of-type(2){
  margin-left: 0;
  margin-right: calc(var(--flex-logos-size) * -1/2);
} */
