

/* VARIABLES
  ========================================================================== */
:root {
  /* greys & pinks */
  --very-light-grey: hsl(212, 6%, 90%);
  --light-grey: hsl(212, 8%, 78%);
  --dark-grey: hsl(212, 18%, 36%);
  --pink-hard: hsl(350, 100%, 75%);
  --pink: hsl(350, 100%, 84%);
  /* gradient divided */
  --gc-yellow: hsl(56, 100%, 50%);
  --gc-green: hsl(119, 35%, 54%);
  --gc-orange: hsl(29, 86%, 54%);
  --gc-cyan: #6AC3CB;
  --gc-indigo: #6C80BF;
  /* gradient */
  --gradient-V: linear-gradient(to bottom,
      #FFEE25,
      #CDDB3E,
      #7DBE66,
      #6EB86D,
      #F08F34,
      #E96732,
      #6C80BF,
      #E86031,
      #6AC3CB,
      #FFEE25);
  --gradient-H: linear-gradient(to right,
      #FFEE25,
      #CDDB3E,
      #7DBE66,
      #6EB86D,
      #F08F34,
      #E96732,
      #6C80BF,
      #E86031,
      #6AC3CB,
      #FFEE25);
}

/* FONTS
  ========================================================================== */
@font-face {
  font-family: 'Ume Mincho';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/Ume-Mincho_Balsa.ttf');
}

@font-face {
  font-family: 'Ume P Gothic';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/Ume-P-Gothic_Balsa.ttf');
}

@font-face {
  font-family: 'Ume P Gothic';
  font-weight: bold;
  font-style: normal;
  src: url('fonts/ume-p-gothic_balsa-bold-webfont.woff');
}

@font-face {
  font-family: 'Ume P Gothic vertical';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/Ume-P-Gothic-Vertical.ttf');
}

/* TYPOGRAPHY
  ========================================================================== */

html {
  font-family: 'Ume P Gothic';
  line-height: 1.4;
}

/* for spectacle title */
h1 {
  font-family: 'Ume Mincho';
  font-size: 6rem;
  letter-spacing: -0.04em;
  word-spacing: -0.2em;
  line-height: 0.95;
  text-transform: none;
}

/* dates */
.dates {
  /* date block align with 2 lines of the title */
  font-family: 'Ume Mincho';
  /* font-size: 3.25rem; */
  font-size: 4rem;
  line-height: 1;
}

.dates>* {
  display: block;
  text-align: center;
}

.dates>.hour {
  font-family: 'Ume P Gothic';
  font-size: 2rem;
  line-height: 1.25;
  margin-top: 0.3em;
  text-align: right;
  text-transform: none;
}

/* auteurice, type & accroche */
h2 {
  font-size: 2rem;
  line-height: 1.25;
  text-transform: none;
}

/* crédit et footer */
h3, h4 {
  font-size: 1rem;
  line-height: 1.2;
}

/* editeurice responsable */
.edit-resp {
  text-transform: none;
  font-size: 0.5rem;
}

/* BACK AND BORDERS
  ===================================================== */

.affiche{
  position: relative;
}
.back{
  background: linear-gradient(var(--very-light-grey) 30%, var(--pink));
}

.content{
  display: grid;
  grid-template-rows: 50% 50%;
}

section{
  position: relative;
}

/* TOP SECTION
  ===================================================== */

h1.douceur{
  font-size: 6.5rem;
  line-height: 1.1;
  text-align: center;
}

/* BOTTOM SECTION
  ===================================================== */

#bottom{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

/* logo */
.logo-balsa{
  margin-bottom: 2em;
}
.logo-balsa > img{
  display: block;
  margin: 0 auto;
  width: 100%;
}
.logo-balsa > h4:nth-of-type(2){
  position: absolute;
  bottom: -0.2em;
  left: 0;
  width: 60%;
}
.logo-balsa > h4:nth-of-type(1){
  position: absolute;
  width: 60%;
  left: 50%;
  bottom: -0.2em;
}

/* LOGOS
  ===================================================== */
.logos{
  --flex-logos-size: 2rem;
  z-index: 999;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-end;

  padding-bottom: 1em;
}
.logos > img:first-child{
  width: calc(var(--flex-logos-size) * 1.25);
}
.logos .square{
  height: calc(var(--flex-logos-size) / 2);
  max-width: var(--flex-logos-size);
}
.logos .round{
  height: calc(var(--flex-logos-size) * calc(5 / 6));
  max-width: calc(var(--flex-logos-size) * calc(7 / 6));
}
.logos .line{
  height: calc(var(--flex-logos-size) / 2);
  max-width: calc(var(--flex-logos-size) * calc(5 / 3));
}
