
@font-face {
   font-family: 'Ume Mincho';
   font-weight: normal;
   font-style: normal;
   src: url('../fonts/Ume-Mincho_Balsa.ttf') format('truetype');
}

@font-face {
   font-family: 'Ume P Gothic';
   font-weight: normal;
   font-style: normal;
   src: url('../fonts/ume-p-gothic_balsa-webfont.woff') format('woff');

}
@font-face {
   font-family: 'Ume P Gothic';
   font-weight: bold;
   font-style: normal;
   src: url('../fonts/ume-p-gothic_balsa-bold-webfont.woff') format('woff');

}
@font-face {
   font-family: 'Ume P Gothic vertical';
   font-weight: normal;
   font-style: normal;
   src: url('../fonts/ume-p-gothic-vertical-webfont.ttf') format('truetype');

}

html{
  font-size: 12pt; /* 20px while keeping modularity */
}
body{
  font-family: 'Ume P Gothic';
  line-height: 1.2;
}
h1, h2, h3, h4 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
/* for schedule__title, actu titles */
h1{
	font-family: 'Ume Mincho';
	font-size: 3em;
	line-height: 0.85em;
	text-transform: none;
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid; /* IE 10+ */
  margin-top: 20pt;
}

/* for authors, date, actu subtitles */
h2 {
  font-size: 18pt;;
  line-height: 1em;
  text-transform: none;
  /* margin-bottom: 0.3em; */
    margin-top: 20pt;

}

/* for event type */
h3 {
	font-weight: normal;
  font-size: 1em;
  line-height: 1.3;
  text-transform: none;
    margin-top: 20pt;

}
h2 + h3,
h1 + h3  {
      margin-top: 5pt;

}
p {

  margin: 0;
}
p + p {
  text-indent: 25pt;
}
em {
  font-family: Ume p gothic vertical;
  letter-spacing: 0.23em;
}
/*dl {
  line-height: 9.5pt;
}
dt, .production {
    font-size: 8.5pt;
}*/
dd {
  font-family: ume P Gothic;
  font-size: 0.9em;
  letter-spacing: 0.05em;
  font-weight: bold;
}


.content a{
  text-decoration: underline;
  text-decoration-thickness: 0.075em;
}

figure {
    margin: 0.5em 0;
}

ol, ul {
	margin: 0px; 
	line-height: 1em;
}

li {
	margin: 0px; 
  list-style: none;
}

blockquote {
  margin: 20pt 0 40pt 20pt;
  padding: 0;
}

blockquote p {
  font-family: Ume Mincho ;
  font-size:22pt;
  line-height: initial;
}
blockquote p + p {
    text-indent: 35pt;

}

p.signature {
  text-indent: 0;
  font-size: initial;
  line-height: initial;
  margin-top: 5pt;
}

.footer {
font-size: 2.8em;
font-family: "ume mincho";

}

figcaption{
  font-size: 8.5pt;
}
.production {
  margin-top: 8pt;
  text-indent: 0;
}

.inside {
  visibility: hidden;
  z-index: 1000;
}


