/* interieur
  ========================================================================== */
#interieur h1 {
  margin-left: -0.125em;
}

/* #interieur.metro {
  --flex-logos-size: 2.5cm;
} */

#interieur.metro .picture{
  background-position: 61.5% center;
}

#interieur.totem .picture{
  background-position: 45% center;
}

#interieur.totem.up .accroche,
#interieur.totem.down .accroche {
  width: 50cm;
  width: 65cm;
}

 /* »«  */
/* credit citation */
/* quotes symbols */
#interieur .accroche .quote .open,
#interieur .accroche .quote .close{
  position: relative;
}
#interieur .accroche .quote .open::before{
  content: "«";
  position: absolute;
  right: calc(100% + 0.3em);
}
#interieur .accroche .quote .close::before{
  content: "»";
  position: absolute;
  left: calc(100% + 0.3em);
}
/* ref */
#interieur .accroche .quote{
  position: relative;
}
#interieur .accroche .quote::after{
  content: "*";
  font-family: "Ume Mincho";
  vertical-align: super;
  font-size: smaller;
  position: absolute;
  font-size: 1rem;
  left: calc(100% + 1.5em);
  top: 3em;
}
#interieur.metro .accroche .quote::after{
  top: 1.5em;
}
#interieur .credits span.ref{
  display: block;
}
#interieur.totem .credits span.ref{
  position: absolute;
  left: calc(100% + 8cm);
  top: calc(1.2rem * 2);
  width: 100%;
  color: white;
}
#interieur .credits span.ref::before{
  font-family: "Ume Mincho";
  content: "*";
  padding-right: 0.25em;
  vertical-align: super;
  font-size: smaller;
}

#interieur.metro .dates .hour{
  margin-top: 4.75em;
}

#interieur.totem .titre h4{
  /* margin-top: 11em;
  width: 35%; */
  /* margin-top: -0.1em; */
}

#interieur .auteurice{
  /* margin-top: 8cm; */
}

#interieur.totem.right h1{
  font-size: 4em;
  padding-top: 0.175em;
}

#interieur .shape-wrapper svg{
  width: 50cm;
}

/* auteur inconnu
  ========================================================================== */

#auteur-inconnu.totem .picture img {
  /* width: 150% !important;
  top: -46%;
  left: -25%; */
  width: 140% !important;
  top: -47.5%;
  left: -20%;
}
#auteur-inconnu.totem .picture{
  background-size: 140% auto;
  background-position: 50% 84%;
}

#auteur-inconnu.totem .auteurice {
  position: relative;
  z-index: 100;
}

/* #auteur-inconnu .jeu {
  bottom: -1.5cm;
} */

#auteur-inconnu.totem .credits{
  right: 0;
  /* text-align: right; */
  /* top: 30%;
  color: black; */
}
#auteur-inconnu .shape-wrapper{
  /* max-width: 58cm; */
}

#auteur-inconnu .logos{
  margin-left: 16cm;
}

/* paradoxe billy
  ========================================================================== */
#le-paradoxe-de-billy.totem .picture{
  background-size: 117% auto;
  background-position: 100% 55%;
}
#le-paradoxe-de-billy .shape-wrapper{
  max-height: 37cm;
  position: relative;
  top: 1cm;
}
#le-paradoxe-de-billy .auteurice {
  margin-top: 8cm;
}

/* 20-octobre-1968-mexico
  ========================================================================== */
#20-octobre-1968-mexico h1{
  width: 76%;
  font-size: 4em;
  padding-top: 0.175em;
}
#20-octobre-1968-mexico.totem .picture{
  background-size: 100% auto;
  /* background-position: 68% 72%; */
}
#20-octobre-1968-mexico.totem .shape-wrapper{
  max-height: 36cm;
}
#20-octobre-1968-mexico .auteurice span{
  font-size: 1rem;
  display: block;
}
#20-octobre-1968-mexico .credits span:nth-of-type(1){
  display: block;
  width: 28cm;
  margin-bottom: 0.6rem;
}
#20-octobre-1968-mexico .credits span:nth-of-type(2){
  display: block;
  width: 28cm;
  position: absolute;
  right: 0;
  top: calc(1.2 * 2 * 1rem);
}

/* lianes
  ========================================================================== */
/* shape */
#les-lianes .shape-wrapper{
  position: relative;
  /* left: 2cm; */
  /* left: 8cm; */
}
#les-lianes.metro .shape-wrapper{
  max-height: 28cm !important;
  top: 1cm;
}
#les-lianes.totem .shape-wrapper{
  max-height: 31cm;
  position: relative;
  top: 4cm;
}

/* picture */
#les-lianes.metro .picture{
  background-position: 0% 45%;
  background-size: 108% auto;
}
#les-lianes.totem .picture{
  /* background-position: 40% 40%;
  background-size: 180% auto; */

  background-position: 40% 35.2%;
  background-size: 190% auto;
}

/* others */
#les-lianes.metro .credits {
	left: calc(50% + 4cm);
  right: 4cm;
}
#les-lianes.metro footer {
	right: 50%;
	left: 0;
}
#les-lianes.metro .auteurice{
  margin-top: -2cm;
}
#les-lianes.metro .edit-resp {
	padding-top: 1.25em;
}
#les-lianes.totem .credits {
  bottom: -1.5cm;
}


/* XX Times
  ========================================================================== */

#xx-time .spectacles > span{
  white-space: nowrap;
}
.spectacles span:before{
  content: "";
  width: 0.3em;
  height: 0.3em;
  margin-bottom: 0.2em;
  display: inline-block;
  background: currentColor;
  border-radius: 50%;
  margin-right: 0.45em;
  margin-left: 0.2em;
}
.spectacles span:nth-child(1):before{
  display: none;
}
.spectacles span:nth-child(3):before{
  display: none;
}
.metro .spectacles span:nth-child(5):before{
  display: none;
}
.metro .spectacles span:nth-child(7):before{
  display: none;
}
.totem .spectacles span:nth-child(5):before{
  display: none;
}

/* test special */
/* .totem .spectacles span:nth-child(2):before{
  display: none;
}
.totem .spectacles span:nth-child(2){
  margin-left: 35cm
} */

#xx-time.totem .spectacles{
  position: absolute;
  color: black;

  /* divided display */
  /* top: calc(50% + 22cm);
  left: 0;
  right: 0;
  columns: 2;
  column-gap: 28cm; */

  /* bottom display */
  word-spacing: -0.13em;
  left: 0; right: 0;
  /* bottom: 9cm; */
  top: calc(56% + 4cm);
}
#xx-time.totem .credits{
  width: 77%;

  /* up white */
  /* color: white;
  bottom: 49%;
  width: 40%; */
}

/* one line each */
/* #xx-time.totem .spectacles span{
  display: block;
}
#xx-time.totem .spectacles span{
  margin-left: 0.5em;
  text-indent: -0.5em;
} */

/* shape */
#xx-time.metro .shape-wrapper{
  position: relative;
  top: 15cm;
  z-index: 50000;
  max-height: 46cm;
}
#xx-time .shape-wrapper svg path{
  transform: rotate(90deg);
  transform-box: fill-box;
  transform-origin: center;
}
#xx-time.totem .shape-wrapper{
  position: relative;
  max-height: 38cm;
  top: 7cm;

  /* divided display */
  /* top: -3cm; */

  /* bottom display */
  /* max-height: 35cm;
  top: -8cm; */

  /* special display */
  /* max-height: 38cm;
  top: -3.5cm; */
}

/* picture */
#xx-time.metro .picture{
  /* background-position: 68% 100%;
  background-size: auto 122%; */

}
#xx-time.totem .picture{

  /* p1 small */
  /* background-size: 75% auto;
  background-position: 50% 72%; */

  background-size: 115% auto;
  background-position: 50% 40%;

  /* p1 big */
  /*
  background-size: 96% auto;
  background-position: 50% 79%;
  */
}


/* title */
h1 span{
  display: block;
  /* font-size: 5em; */
}


/* other */
#xx-time.totem .credits{
  /* up white */
  color: white;
  bottom: 62%;
  width: 29%;
}
#xx-time.totem .shape-wrapper{
  top: -6cm;
}
#xx-time.totem .spectacles{
  bottom: 0cm;
  top: auto;
}


/* AUDREY LUCIE
  ========================================================================== */
#audrey-lucie.totem .picture{
  /* gros plan */
  background-size: 200%;
  background-position: 53% 29%;

  /* plan 3/4 */
  background-size: 122%;
  background-position: 58% 60%;

  /* plan classique */
  background-size: 116%;
  background-position: 58% 62%;
}

#audrey-lucie.totem .credits{
  width: 37%;
}

/* big block */
#audrey-lucie.totem h1{
  line-height: 0.9;
}
#audrey-lucie.totem .auteurice h2{
  margin-top: calc(1.25em / 3);
}
#audrey-lucie.totem .shape-wrapper{
  max-height: 45cm;
  top: -2.6cm;
}

#audrey-lucie.totem footer > .wrapper {
	justify-content: space-between;
}
#audrey-lucie.totem footer .logos {
  flex-grow: 0;
  flex-basis: 39cm;
}

/* TODOS CAERAN
  ========================================================================== */
#todos-caeran:is(.totem, .vertical) h1{
  /* width: 50%; */
  font-size: 4.2em;
  padding-top: 0.17em;
  margin-left: -0.04em;
}
#todos-caeran.totem .picture{
  background-color: black;

  /* classique  */
  background-size: 90%;
  background-position: 60% 160%;

  /* expe */
  /* background-size: 168%;
  background-position: 70% -3%; */
}
#todos-caeran.vertical .picture{
  background-color: black;
  background-size: 98%;
  background-position: 25% 140%;
}

#todos-caeran:is(.totem, .vertical) .shape-wrapper{
  max-width: 75cm;
  position: relative;
  top: 1cm;
}
#todos-caeran.vertical .credits span:nth-of-type(3){
  display: block;
}
#todos-caeran.vertical .credits span:nth-of-type(3) dt{
  display: block;
}

#todos-caeran.totem .credits span:nth-of-type(3){
  display: block;
}
#todos-caeran.totem .credits span:nth-of-type(3) dt{
  display: block;
}

#todos-caeran:is(.totem, .vertical) .auteurice{
	position: static;
}

/* STAND-BY
  ========================================================================== */

#stand-by.totem .picture{
  /* classique  */
  background-size: auto 110%;
  background-position: 26% -3%;

  /* zoom */
  /* background-size: auto 128%;
  background-position: 34% 87%; */

  /* zoom 2 */
  /* background-size: auto 150%;
  background-position: 40% 85%; */
}
#stand-by.totem .shape-wrapper{
	max-width: 38cm;
	top: -1cm;
}
#stand-by.totem .credits{
  width: 19%;
  margin-bottom: 27cm;
  display: none;
}
#stand-by.totem .credits dt{
  display: block;
}
#stand-by.totem .logos{
  padding-left: 14cm;
}

/* ABRI
  ========================================================================== */

#abri-ou-les-casanieres-de-lapocalypse .dates{
  color: black;
}

#abri-ou-les-casanieres-de-lapocalypse h1 span{
  font-size: 2rem;
  width: 8em;
  letter-spacing: -0.04em;
  word-spacing: -0.2em;
}

#abri-ou-les-casanieres-de-lapocalypse.totem .picture,
#abri-ou-les-casanieres-de-lapocalypse.vertical .picture{
  /* right w/ white back */
  background-size: auto 106%;
  background-position: 32% -25%;
}

.affiche:is(.totem, .vertical):is(.left, .right) .picture{
  background-size: auto 106%;
  background-position: 32% -25%;

}

#abri-ou-les-casanieres-de-lapocalypse .shape-wrapper{
  /* max-height: 32cm;
  position: relative;
  top: 3cm; */

  max-height: 35cm;
  position: relative;
  top: 6cm;
}

/* AU PIED DES MONTAGNES
  ========================================================================== */

#au-pied-des-montagnes.totem h1{
  font-size: 3.5em;
  padding-top: 0.35em;
  word-break: initial;
}

#au-pied-des-montagnes.totem .shape-wrapper{
  top: 5cm;
  max-width: 46cm;
}

#au-pied-des-montagnes.totem .picture{
  /* full monster */
  background-size: auto 125% !important;
  background-position: 30% 0%;

  /* fille coupée */
  /* background-size: auto 106% !important;
  background-position: 50% 0%; */

  /* avec background */
  /* background-size: 140.5% auto !important;
  background-position: 63% 100%; */

}
#au-pied-des-montagnes.totem .image{
  background-color: black;
}

#au-pied-des-montagnes.totem .auteurice h4{
  position: absolute;
  bottom: 0;
  /* left: calc(50% + 4cm); */
  /* color: white; */
  font-size: 1.5rem;
  line-height: 1.25;
}