/* add to layout-tool */
.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

/* VARIABLES
  ========================================================================== */
:root {
  /* greys & pinks */
  --very-light-grey: hsl(212, 6%, 90%);
  --light-grey: hsl(212, 8%, 78%);
  --dark-grey: hsl(212, 18%, 36%);
  --very-dark-grey: hsl(212, 6%, 12%);
  --pink-hard: hsl(350, 100%, 75%);
  --pink: hsl(350, 100%, 84%);
  /* gradient divided */
  --gc-yellow: hsl(56, 100%, 50%);
  --gc-green: hsl(119, 35%, 54%);
  --gc-orange: hsl(29, 86%, 54%);
  --gc-cyan: #6AC3CB;
  --gc-indigo: #6C80BF;
  /* gradient */
  --gradient-V: linear-gradient(to bottom,
      #FFEE25,
      #CDDB3E,
      #7DBE66,
      #6EB86D,
      #F08F34,
      #E96732,
      #6C80BF,
      #E86031,
      #6AC3CB,
      #FFEE25);
  --gradient-H: linear-gradient(to right,
      #FFEE25,
      #CDDB3E,
      #7DBE66,
      #6EB86D,
      #F08F34,
      #E96732,
      #6C80BF,
      #E86031,
      #6AC3CB,
      #FFEE25);

  /* logos size */
  --flex-logos-size: 3.5cm;
}

/* FONTS
  ========================================================================== */
@font-face {
  font-family: 'Ume Mincho';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/Ume-Mincho_Balsa.ttf');
}

@font-face {
  font-family: 'Ume P Gothic';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/Ume-P-Gothic_Balsa.ttf');
}

@font-face {
  font-family: 'Ume P Gothic';
  font-weight: bold;
  font-style: normal;
  src: url('fonts/ume-p-gothic_balsa-bold-webfont.woff');
}

@font-face {
  font-family: 'Ume P Gothic vertical';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/Ume-P-Gothic-Vertical.ttf');
}

/* TYPOGRAPHY
  ========================================================================== */
html {
  font-family: 'Ume P Gothic';
  font-size: 86pt;
  line-height: 1.4;
}


/* for spectacle title */
.titre{
  /* always on top left of the poster */
  z-index: 100;
}
h1 {
  font-family: 'Ume Mincho';
  font-size: 5rem;
  letter-spacing: -0.04em;
  word-spacing: -0.2em;
  line-height: 0.95;
  text-transform: none;
}
.titre > h4 {
  margin-top: -0.2em;
  margin-bottom: 0.6em;
}

/* dates */
.dates {
  /* date block align with 2 lines of the title */
  font-family: 'Ume Mincho';
  /* to look optically like h1
  and be on the same baseline than h1 */
  font-size: 3.8rem;
  padding-top: 0.25em;
  line-height: 1;
}

.dates>* {
  display: block;
  text-align: center;
}

.dates>.hour {
  margin-top: 0.3em;
  text-align: right;
}
.dates time > span{
  /* center the dot so it's aligned with the arrow */
  position: relative;
  left: 0.12em;
}
.dates .end-date {
  /* make the arrow go a bit more into the second date */
	position: relative;
	top: -0.25em;
}

/* auteurice, type & accroche */
h2 {
  font-family: 'Ume P Gothic';
  font-size: 1.5rem;
  line-height: 1.25;
}
.auteurice > h2{
  /* a demi line */
  margin-top: calc(1.25em / 2);
}

/* crédit et footer */
h3, h4 {
  font-size: 1rem;
  line-height: 1.2;
}

/* crédit */
em {
  font-family: 'Ume P Gothic vertical';
  letter-spacing: 0.23em;
}

dt, dd {
  display: inline;
}

dd {
  font-family: 'Ume P Gothic';
  font-size: 0.95em;
  letter-spacing: 0.04em;
  font-weight: bold;
}

/* links */
a {
  text-decoration: underline;
  text-decoration-thickness: 0.075em;
}

/* editeurice responsable */
.edit-resp {
  text-transform: none;
  font-size: 0.4rem;
  line-height: 1.2;
}

/* GLOBAL LAYOUT
  ========================================================================== */
.affiche {}

.affiche:is(.totem, .vertical) {
  /* pour le footer en bas */
  display: grid;
  grid-template-rows: 1fr auto;
}

.affiche>main {
  position: relative;
}

.affiche.metro>main {
  height: 100%;
}

/* divided orientation */
.divided {
  display: grid;
}
.affiche.up,
.affiche.down{
  --top-division: 50%;
}
.affiche.up .divided,
.affiche.down .divided {
  grid-template-rows: var(--top-division) calc(100% - var(--top-division));
}

.affiche.left .divided,
.affiche.right .divided {
  grid-template-columns: 50% 50%;
}

/* exception if in totem we have shape and footer section in one */
.affiche:is(.totem, .vertical).up{
  --top-division: 55%;
}
.affiche.metro.down{
  --top-division: 48%;
}

.affiche.down section.image {
  order: 1;
}

.affiche.right section.image {
  order: 1;
}

.divided>section {
  position: relative;
}

/* filet couleur entre les deux sections */
section.image::after {
  content: "";
  position: absolute;
  display: block;
  z-index: 200;
}

.left section.image::after,
.right section.image::after {
  top: var(--bleed-overprint-v);
  bottom: var(--bleed-overprint-v);
  width: 0.5cm;
  background: var(--gradient-V);
}

.affiche:is(.totem, .vertical):is(.left, .right) section.image::after{
  bottom: 0;
}

.left section.image::after {
  left: calc(100% - 0.25cm);
}

.right section.image::after {
  right: calc(100% - 0.25cm);
}

.up section.image::after,
.down section.image::after {
  left: var(--bleed-overprint-h);
  right: var(--bleed-overprint-h);
  height: 0.5cm;
  background: var(--gradient-H);
}

.up section.image::after {
  top: calc(100% - 0.25cm);
}

.down section.image::after {
  bottom: calc(100% - 0.25cm);
}

/* gradient */
.affiche {
  /* width of totem / 3 */
  --gradient-width: 40cm;
  --stop1: calc(100% - var(--gradient-width));
  --stop2: 100%;
}
.degrade-down {
  --gradient-direction: bottom;
}
.degrade-up {
  --gradient-direction: top;
}
.degrade-left {
  --gradient-direction: left;
}
.degrade-right {
  --gradient-direction: right;
}
:is(.affiche.metro.down, .affiche.metro.up){
  --gradient-width: 80cm;
}
.affiche.light {
  --clr1: var(--very-light-grey);
}
.affiche.dark {
  --clr1: var(--light-grey);
}
.forme > .fond{
  background: linear-gradient(to var(--gradient-direction),
      var(--clr1) var(--stop1),
      var(--pink) var(--stop2));
}

/* padding */
.affiche.metro .pad {
  padding: 3.5cm 5cm 5cm;
}
.affiche.metro.down .pad.forme {
  padding-bottom: 0cm;
}
.affiche.metro.up .pad.forme {
  padding-top: 0cm;
}
.affiche.totem .pad {
  padding: 3.5cm 5cm 4cm;
}
.affiche:is(.totem, .vertical).down .pad.forme {
  padding-bottom: 0;
}
.affiche:is(.totem, .vertical).up .pad.forme {
  padding-top: 0;
}

.affiche.vertical .pad {
  padding: 4cm 4.5cm 6cm;
}
.affiche.vertical .global.pad {
  padding-bottom: 3.5cm;
}
.affiche.vertical.up .forme.pad {
  padding-bottom: 3.5cm;
}

/* TEXT CONTENT
  ========================================================================== */
/* 1. titre */
header {}

.metro header {
  width: calc(50% - 4cm);
}
.affiche:is(.totem, .vertical) header {
  width: 75%;
}

.affiche:is(.totem, .vertical):is(.left, .right) header {
  width: 50%;
  word-break: break-all;
}
.affiche:is(.totem, .vertical):is(.left, .right) .auteurice {
  width: 100%;
}

:is(.totem, .vertical).up .titre,
.metro.left .titre,
.metro.up .titre {
  /* color white when title above picture */
  color: white;
}

/* 2. dates */
.dates {
  /* always on top right of the poster */
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

.right .dates,
.up .dates {
  /* color white when title above picture */
  color: white;
}

:is(.totem, .vertical).up .auteurice {
  position: absolute;
  bottom: calc(100% - var(--top-division) + 4cm);
  z-index: 100;
  color: white;
}

/* 4. credits */
.credits {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.affiche:is(.totem, .vertical):is(.left, .right) .credits{
  right: calc(50% + 4cm);
}

:is(.totem, .vertical).down .credits,
.metro.down .credits{
  color: white;
}

.metro .credits {
  right: calc(50% + 4cm);
}

/* FOOTER
  ========================================================================== */


footer {
  z-index: 100;
  padding-top: 2cm !important;
  position: relative;
}

footer > .wrapper{
  display: flex;
  align-items: stretch;
  padding-bottom: 1.5cm;
}
footer .balsa {
  padding-right: 3cm;
  flex: 0 0 auto;
}
footer .logos {
  flex: 1 0 0%;
}

/* logo balsa */
footer .balsa {
  display: flex;
  align-items: center;
  position: relative;
}
footer .balsa h4{
  font-size: 0.8rem;
}
footer .balsa .logo {
  padding-right: 2cm;
}
footer .balsa .logo svg {
  height: 9cm;
  width: auto;
}

/* editeurice responsable*/
.totem .edit-resp {
  position: absolute;
  left: 0;
  bottom: -0.5cm;
  width: 100%;
}
.vertical .edit-resp {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.metro .edit-resp {
  padding-top: 0.5em;
}

/* metro footer */
.metro footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 0;
}
.metro footer .wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding-bottom: 0;
}
.metro footer .balsa {
  flex: 0 0 100%;
  padding: 0;
  /* position: relative;
  bottom: -2.5cm; */
}
.metro footer .logos {
  flex: 0 0 100%;
  padding: 0;
  align-items: flex-end;
}

/* footer color */
footer.light .fond{
  background: var(--very-light-grey);
}

footer.dark .fond{
  background: var(--light-grey);
}
footer.black .fond{
  background: var(--very-dark-grey);
}
footer.inverse,
footer.black{
  color: white;
}
footer.inverse .fond{
  background: var(--dark-grey);
}

footer.inverse .logo svg path,
footer.black .logo svg path{
  fill: white;
}
.metro.left footer{
  left: 0;
  right: 50%;
}
.metro.left .credits{
  right: 0;
  left: calc(50% + 4cm);
}


/* pas de fond pour metro */
:is(.metro.right, .metro.left, .metro.down) footer{
  color: white;
}
.metro footer .fond{
  background: none;
}
.metro .logo svg path {
  fill: white;
}

/* LOGOS PLACEMENT
  ========================================================================== */
.logos {
  z-index: 200;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-start;
  gap: calc(var(--flex-logos-size) * 1/6) calc(var(--flex-logos-size) * 1/2);
  position: relative;
}

.logos>*{
  flex-grow: 1;
  flex-shrink: 0;
  /* flex-basis: var(--flex-logos-size); */
  max-width: calc(var(--flex-logos-size) * 1.25);
  max-height: var(--flex-logos-size);
}
.metro .logos{
  min-width: 0;
  min-height: 0;
  flex-basis: 0;
}

.logos>img:first-child {
  max-width: calc(var(--flex-logos-size) * 1.6);
  max-height: calc(var(--flex-logos-size) * 1.6);
}

.logos>img.long-logo{
  max-width: calc(var(--flex-logos-size) * 2);
}

/* .logos>*:nth-of-type(even) {
  position: relative;
  top: calc(var(--flex-logos-size) * 3/4);
  margin-left: calc(var(--flex-logos-size) * -1/6);
  margin-right: calc(var(--flex-logos-size) * -1/3);
}

.logos>*:nth-of-type(2) {
  margin-left: 0;
  margin-right: calc(var(--flex-logos-size) * -1/2);
} */

/* IMAGE SECTION
  ========================================================================== */
.affiche .picture {
  overflow: hidden;
}

/* .affiche .picture img {
  position: absolute;
  top: 0;
  left: 0;
}

.affiche.metro.left .picture img,
.affiche.metro.right .picture img {
  height: 100%;
  width: auto;
}

.affiche.metro.down .picture img,
.affiche.metro.up .picture img {
  height: auto;
  width: 100%;
}

.affiche.totem.left .picture img,
.affiche.totem.right .picture img {
  height: 100%;
  width: auto;
}

.affiche.totem.down .picture img,
.affiche.totem.up .picture img {
  height: auto;
  width: 100%;
} */

.picture{
  background-repeat: no-repeat;
  background-position: center center;
}
:is(.totem.down, .totem.up) .picture{
  background-size: 100% auto;
}
.affiche:is(.totem, .vertical):is(.left, .right) .picture{
  background-size: auto 100%;
}
:is(.metro.left, .metro.right) .picture{
  background-size: auto 100%;
}
:is(.metro.up, .metro.down) .picture{
  background-size: 100% auto;
}

/* SHAPE SECTION
  ========================================================================== */
section.forme>.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shape-wrapper {
  flex-grow: 1;
  z-index: 0;
  position: relative;
  max-width: 65cm;
  max-height: 45cm;
  display: flex;
}

:is(.metro.up, .metro.down) .shape-wrapper{
  max-height: 40cm;
}

/* svg styling */
.shape-wrapper svg,
.other-shapes svg {
  flex-grow: 1;
  max-width: 100%;
  max-height: 100%;
  min-width: 0;
  min-height: 0;
  overflow: visible;
}

.shape-wrapper svg path,
.other-shapes svg path{
  fill: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: none;
  vector-effect: non-scaling-stroke;
  stroke-width: 0.5cm;
}

.affiche.metro .shape-wrapper svg path,
.affiche.metro .other-shapes svg path{
  stroke: var(--stroke_url);
}

.affiche.totem .shape-wrapper svg path,
.affiche.totem .other-shapes svg path{
  /* stroke: url("/totem.html#degrade"); */
  stroke: var(--stroke_url);
}
.affiche.vertical .shape-wrapper svg path,
.affiche.vertical .other-shapes svg path{
  stroke: var(--stroke_url);
}
.gradient-stroke{
  position: absolute; top: 0; left: 0;
  width: 0; height: 0;
}

/* accroche */
.accroche {
  display: inline-block;
  position: absolute;
  left: 50%;
  width: 72cm;
  transform: translateX(-50%);
  top: calc(100% + 0.5em);
  text-align: center;
}
.affiche:is(.totem, .vertical):is(.left, .right) .accroche{
  width: 50cm;
}

/* if one of those, the accroche is outside the shape container */
.metro.down .accroche {
  top: auto;
  bottom: 3cm;
  width: 150cm;
}
.metro.up .accroche {
  top: 4cm;
  width: 150cm;
}
:is(.totem, .vertical).down .accroche {
  top: auto;
  bottom: 4cm;
  width: 110cm;
}
:is(.totem, .vertical).up .accroche {
  top: 3.5cm;
  width: 110cm;
}

/* BLEEDS
  ========================================================================== */

/* totem */

.affiche:is(.totem, .vertical):is(.up, .down) .image > .picture,
.affiche:is(.totem, .vertical):is(.up, .down) .forme > .fond,
:is(.totem, .vertical) footer > .fond{
  left: var(--bleed-overprint-h);
  right: var(--bleed-overprint-h);
}
:is(.totem, .vertical).up .image > .picture{
  top: var(--bleed-overprint-v);
}
:is(.totem, .vertical).down .forme > .fond{
  top: var(--bleed-overprint-v);
}
:is(.totem, .vertical) footer > .fond{
  top: -2mm;
  bottom: var(--bleed-overprint-v);
}

:is(.totem, .vertical).right .image > .picture,
:is(.totem, .vertical).left .forme > .fond{
  top: var(--bleed-overprint-v);
  right: var(--bleed-overprint-v);
}
:is(.totem, .vertical).left .image > .picture,
:is(.totem, .vertical).right .forme > .fond{
  top: var(--bleed-overprint-v);
  left: var(--bleed-overprint-v);
}



/* metro */
/* .metro.left .image > .picture,
.metro.right .image > .picture,
.metro.left .forme > .fond,
.metro.right .forme > .fond{
  top: var(--bleed-overprint);
  bottom: var(--bleed-overprint);
}
.metro.left .image > .picture{
  left: var(--bleed-overprint);
}
.metro.left .forme > .fond{
  right: var(--bleed-overprint);
}
.metro.right .image > .picture{
  right: var(--bleed-overprint);
}
.metro.right .forme > .fond{
  left: var(--bleed-overprint);
} */
