
:root{
  --bleed-overprint: -2mm;
}

@media print{
  @page {
    /* A4 */
    size: 210mm 297mm;
    margin: 0cm 0cm;
    bleed: 6mm;
    marks: crop;
  }
  @page:left{
  }
  @page:right{
  }
  @page:blank {
  }

  /* only for the page in the flowing section */
  @page flowing{
    margin: 1cm 1cm 2cm;

    @bottom-right{
      content: "page " counter(page);
    }
  }

}
