@import "../../main"; 

#pages {
  counter-reset: folio 5;
}

.footer::before {
  counter-increment: folio 1;
  content: counter(folio) " ";
}

.master-page {
	display: none;
}

.page {
	overflow: visible;
}

.image {
/*	background: grey;
	position: absolute;
	width: 100%;
	height: 100%;*/
/*	background-image: url("https://cloud.osp.kitchen/s/8BQerYPosRKEfEX/preview");
*/}
.image {
/*	width: 172mm;
height: 243mm;
margin: -12mm;*/

}
.preview .image .page {
	background: transparent;
}
.preview .image {
	overflow: hidden;
}

.fond {
	width: calc(158mm);
	height: calc(220mm);
	position: absolute;
	margin-top: -5mm;
	margin-left: -5mm;
	background-size: 109%;
	background-position: -7mm -5mm;
	background-repeat: no-repeat;
}

div#article-1--page-0 .fond {
	background-image: url("http://localhost:8000/content/images/pages-inconnu.png");
}
div#article-2--page-0 .fond {
	background-image: url("../../content/images/pages-comunaute-02.svg");
}
div#article-6--page-0 .fond {
	background-image: url("../../content/images/pages-interieur.png");
}
div#article-8--page-0 .fond {
	background-image: url("../../content/images/pages-mexico.png");
}
div#article-9--page-0 .fond {
	background-image: url("../../content/images/pages-paradoxe.png");
}
div#article-10--page-0 .fond {
	background-image: url("../../content/images/page-lianes.png");
}
div#article-11--page-0 .fond {
	background-image: url("../../content/images/pages-xx.png");
}
div#article-4--page-0 .image-festival{
	background-image: url("https://cloud.osp.kitchen/s/TWBx7qw3dYnbGii/preview");
background-size: 100%;
background-repeat: no-repeat;
background-position: 0 7mm;
width: 33%;
margin: 0 25mm;
}

div#article-12--page-0 .image-festival{
	background-image: url("https://cloud.osp.kitchen/apps/files_sharing/publicpreview/eSMBX7jRGxMMXfY?x=1366&y=273&a=true&file=toujours%2520de%25203%25204%2520face%2520-%25203%2520cr%25C3%25A9dit%2520Hichem%2520Dahes.JPG&scalingup=0");
background-size: 100%;
background-repeat: no-repeat;
background-position: 0 -11mm;
width: 33%;
margin: 0 25mm;
}

div#article-13--page-0 .image-festival{
		background-image: url("https://cloud.osp.kitchen/s/TfGjsF3N8Qos8fS/preview");

background-size: 100%;
background-repeat: no-repeat;
background-position: 0 -45mm;
width: 33%;
margin: 0 25mm;
}

div#article-14--page-0 .image-festival{
		background-image: url("https://cloud.osp.kitchen/s/SfSzxJF5xqPz4cp/preview");

background-size: 100%;
background-repeat: no-repeat;
background-position: 0 -13mm;
width: 33%;
margin: 0 25mm;
}

div#article-15--page-0 .image-festival{
		background-image: url("https://cloud.osp.kitchen/apps/files_sharing/publicpreview/gWzjSH4tcjGjyEW?x=1366&y=273&a=true&file=forces-back.jpg&scalingup=0");

background-size: 100%;
background-repeat: no-repeat;
background-position: 0 6mm;
width: 33%;
margin: 0 25mm;
}

div#article-16--page-0 .image-festival{
		background-image: url("https://cloud.osp.kitchen/s/H4Czw9wLjyR4o55/preview");

background-size: 100%;
background-repeat: no-repeat;
background-position: 0 2mm;
width: 33%;
margin: 0 25mm;
}
div#article-17--page-0 .image-festival{
		background-image: url("https://cloud.osp.kitchen/s/GY2c8m92CG2pFre/preview");

background-size: 100%;
background-repeat: no-repeat;
background-position: 0 3mm;
width: 33%;
margin: 0 25mm;
}
div#article-18--page-0 .image-festival{
		background-image: url("https://cloud.osp.kitchen/s/i5bLNASQsKZaqBa/preview");

background-size: 100%;
background-repeat: no-repeat;
background-position: 0 -13mm;
width: 33%;
margin: 0 25mm;
}
div#article-19--page-0 .fond {
	background-image: url("../../content/images/page-audrey.png");
}
div#article-20--page-0 .fond {
	background-image: url("../../content/images/pages-todos.png");
}
div#article-21--page-0 .fond{
	background-image: url("../../content/images/pages-stand.png");
}
div#article-22--page-0 .fond {
	background-image: url("../../content/images/pages-abri.png");
}
div#article-23--page-0 .fond {
	background-image: url("../../content/images/pages-montagne.png");
}
figure.image-cover-festival {
	margin: 0 0 ;
}

#interieur ol {
	margin-top: 8em;
}

#mexico ol:first-of-type {
	margin-top: 8em;
}

#billy ol {
	margin-top: 8em;
}
#audrey figure.audrey-detail {
	margin-top: 8em;
}
// master première page 

.header-title {
	top: 18pt;
	width: 70mm;
	height: auto;
	position: absolute;
	left: @page-margin-inside;
}
.header-title-festival {
	top: @page-margin-top;
	width: 70mm;
	height: auto;
	position: absolute;
	left: @page-margin-inside;
}

h1.title {
	word-spacing: -.2em;
	line-height: 0.90em;
	margin-bottom: 4px;
}
.authors {
	margin-bottom: 0;
}
.header-date {
	top: 18pt;
	width: 148mm;
	height: auto;
	position: absolute;
	//left: calc(@page-width - 45mm );
	// outline: 2px solid black;
	// padding : .2em;
}
.image-festival {
top: -12mm;
/* width: 234mm; */
height: 55mm;
overflow: hidden;
position: absolute;
padding: 0 25mm
}

.header-date-detail,
.header-date-detail-festival {
	top: 100mm;
	width: 100mm;
	height: auto;
	position: absolute;
	right: -38mm;
	line-height: 1em;
	transform: rotate(-90deg);
}
.image-figcaption,
.image-extra-figcaption {
bottom:9.5mm;
width: 100mm;
height: auto;

position: absolute;
left: 13mm;

line-height: 1em;
transform: rotate(-90deg);
transform-origin: left bottom
}

.paper:nth-child(odd) .image-figcaption,
.paper:nth-child(odd) .image-extra-figcaption{
bottom:9.5mm;
width: 100mm;
height: auto;

position: absolute;
left: 138mm;

line-height: 1em;
transform: rotate(-90deg);
transform-origin: left bottom
}
.phrase {
top: 4mm;
width: 45mm;
height: auto;
/* text-align: center; */
position: absolute;
left: 7mm;
/* line-height: 1em; */
/* transform: rotate(-90deg); */
transform-origin: left top;
}
img.image-forme {
	transform: scaleX(-1);
}
#billy img.image-forme, {
	transform: scaleX(1);
}

.image-trait {
	margin-top: 0px;
	width:80%;
}


.schedule__dates {
	text-align: center;
	font-size: 2.7em;
}

.schedule__dates .year {
	display: none;
}
.schedule__dates .date--detail {
	font-size: 12pt;
}
.schedule__dates + p,
.phrase-intro + p {

	margin-top: 8pt;
}
// GENERAL

h1, h2, h3 {
	margin: 0px;
}
h2 + h3 {
	margin-top: 2px;
}

h3 {
	font-family: 'Ume P Gothic';
}

strong {
	font-weight: normal;
}

ol {
	padding: 0;
	margin: 0;
	// font-size: .8em;
	margin-top: 8pt;
	line-height: 9pt;
}

ol li,
#je-vous-annonce-un-oiseau-léger {
  font-family: ume P Gothic;
  font-size: 7.5pt;
  letter-spacing: 0.05em;
  font-weight: bold;
  display: inline;

}
ol li span {
  font-weight: normal;
  margin: 0px;
  letter-spacing: 0;
  font-size: initial;
  font-size: 8.5pt;
}

dl {
  line-height: 9.5pt;
}
dt, .production {
    font-size: 8.5pt;
}
dd {
  font-family: ume P Gothic;
  font-size: 7.5pt;
  letter-spacing: 0.05em;
  font-weight: bold;
}
h3 + p {
	margin-top: 1em;
}

/*.image-cover {
	width: 110%;
}*/
[data-master="m-image"] .footer{
visibility: hidden;
}
[data-master="m-first"] .body.content,
[data-master="m-first-festival"] .body.content
{
top: 25mm;
height: 158mm;
	// position: absolute;
	// outline: 1px solid;
			padding-bottom: 0;

}
[data-master="m-first-festival"] .body.content {
}

[data-master="m-current"]  .body.content ,
{
top: 27mm;
height: 158mm;
			padding-bottom: 0;

}

[data-master="m-current"] .page::before,
{
	position: absolute;
	transform: rotate(-90deg);
	transform-origin: bottom right;
	top: @page-margin-top;
	left: -12mm;
	font-family: 'Ume Mincho';
}


h2.extras-interieur {
	margin-top: 20pt;
}
h2.extras-interieur:first-of-type + h3{
padding-left: 20pt;
background: linear-gradient(to right, pink, white 10%)
}
dd {
	margin: 0;
	padding: 0;
}

#article-7--page-1 .body.content {
	padding-top: 120pt;
}
#xx-time h3.event-type + h3.event-type {
	margin-top: 8pt;
}
.xx-time-sommaire h2 {
	margin-top: 8pt;
}
.xx-time-shows {
	margin-bottom: 20pt;
}
div.xx-time-sommaire  {
	margin-bottom: 50pt;
}
div#xx-time-face {
	margin-bottom: 150pt;
}
div#xx-time-grace {
	margin-bottom: 150pt;
}
#xx-time-grace figure {
	width: 50%;
float: right;
margin-left: 10pt;
}
#xx-time-forces {
		margin-bottom: 300pt;

}
#abri span {
	font-size: 25pt;
display: block;
letter-spacing: -0.03em;
line-height: 24pt;
margin-bottom: 0pt
}
#abri {
	margin-bottom: 5pt;
	}


	#balsatoiles h2,
	#partenariats h2	 {
		margin-top: 8pt;
	}

	#partenariats h2:first-of-type {
		margin-top: 20pt;
	}

	img {
		width: 100%;
	}
/*	figure.image-cover {
		margin: -6mm 0pt 0pt -6mm;

	}*/
p.phrase-intro {
}
p.phrase-intro + p {
    text-indent: 0em;
}

figure#logo-equal{
	width: 40%;
}

figure#rem {
	width: 12%;
float: right;
margin-right: 8pt
}
figure#ars-musica{
	width: 10%;
}
h1#les-balsatoiles.title {
	margin-bottom: 20pt;
}

#article-6--page-0 .inside,
#article-6--page-1 .inside,
#article-11--page-0 .inside,
#article-11--page-1 .inside,
#article-20--page-2 .inside,
#article-20--page-3 .inside{
  visibility: visible;
}