
:root {
    --cell-size: 50px;
    --gap-size: calc(var(--cell-size) * 3/4);
    --gap-size: var(--cell-size);
    --stroke-size: 3px;
--back-clr: hsl(38, 34%, 86%);
--light-clr: hsl(212, 8%, 78%);
--dark-clr: hsl(212, 18%, 36%);
--acc-clr: pink;
--link-clr: hsl(226, 39%, 54%);
--gradient: linear-gradient(to right, #FFEE25, #CDDB3E, #7DBE66, #6EB86D, #F08F34, #E96732, #6C80BF, #E86031, #6AC3CB, #FFEE25 );
--pad: 1.5rem;
--border: 1.5px;
--top-section: 18vh;
--timeline: 80px;}

#pages {
  counter-reset: folio 0;
}

.footer::before {
  counter-increment: folio 1;
  content: counter(folio) " ";
}


/*#sommaire {
	-webkit-flow-into: title;
    flow-into: title;
}

.header {
	-webkit-flow-from: title;
    flow-from: title;
}*/
#interfaceBalsa.part1 {
	-webkit-flow-into: agenda-sommaire;
    flow-into: agenda-sommaire;
}
.paper:nth-of-type(2) .body{
	-webkit-flow-from: agenda-sommaire;
    flow-from: agenda-sommaire;
}
#interfaceBalsa.part2 {
  -webkit-flow-into: agenda-sommaire-part2;
    flow-into: agenda-sommaire-part2;
}
.paper:nth-of-type(3) .body,
.paper:nth-of-type(4) .body{
  -webkit-flow-from: agenda-sommaire-part2;
    flow-from: agenda-sommaire-part2;
}

blockquote {
	-webkit-flow-into: intro-citation;
    flow-into: intro-citation;
}

/*.paper:nth-of-type(1) .body {
	-webkit-flow-from: intro-citation;
    flow-from: intro-citation;
}*/
/*#programme-en-paysage {
	-webkit-flow-into: intro-sommaire;
    flow-into: intro-sommaire;
}

.paper:nth-of-type(2) .body {
	-webkit-flow-from: intro-sommaire;
    flow-from: intro-sommaire;
}*/
span.page-number {
font-family: "Ume Mincho";
font-size: 13pt;
}
span.page-number + h3 {
}
#sommaire h1 {
	margin-bottom: 5pt
}
#sommaire h2 { 
	margin: 0;

}
li {
	margin: 0px; 
	margin-top: 10pt;
	list-style: none;
	position: relative;

}
ul {
	margin: 0;
	padding: 0;
}
#programme-en-paysage img {
	margin-top: 20pt;
}


.title-frame {
    flex-grow: 1;
    min-width: 0;
    margin-right: calc(var(--pad) * 2);
}
#interfaceBalsa {
	position: relative !important;
	bottom: initial !important;
right: initial !important;
font-size: initial !important;
line-height: initial !important;
letter-spacing: initial;
letter-spacing: 0 !important;
}
#interfaceBalsa.list-display .schedule{
  display: flex;
  flex-direction: column;
/*  height: 100vh;
*/}

#interfaceBalsa.list-display .schedule__list{

  position: relative;

  min-height: 0;
  flex-basis: 0;
  flex-grow: 1;
}
#interfaceBalsa.list-display .schedule__list > .schedule__item{
  position: relative;
  opacity: 1;
  padding: 8pt 0;
}
#interfaceBalsa.list-display .schedule__list > .schedule__item{
  margin-bottom: var(--stroke-size);
  z-index: 0;
}
#interfaceBalsa.list-display .schedule__list > .schedule__item::after{
  content: ""; bottom: calc(var(--stroke-size) * -1);
  height: var(--stroke-size);
  display: block; position: absolute;

  background: var(--gradient);
  left: 0; width: 200%;
  background-size: 50%;
}
.schedule__item.non-spectacle {

/*  background: var(--light-clr);*/  /*
border-bottom: 2px solid var(--light-clr);
background: linear-gradient(var(--light-clr), white);*/

border-bottom: 2px solid pink;
background: linear-gradient(pink 0%, white 80%);
margin-bottom: 0 !important;

}
#interfaceBalsa.list-display .schedule__list > .schedule__item.non-spectacle::after{
/*  height: 0;
*/  background: pink;

}
#interfaceBalsa.list-display .schedule__list > .soutiens.schedule__item.non-spectacle::after,
#interfaceBalsa.list-display .schedule__list > #les-lianes.schedule__item::after,
#interfaceBalsa.list-display .schedule__list > .balsatoiles.schedule__item::after{
  background: white;

}

/*#interfaceBalsa.list-display .schedule__list > #les-lianes.schedule__item::after{
	display: none;
}*/



.schedule__list{
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

.schedule__item {
  display: flex;
  z-index: 20;
}
.schedule__item__interface {
	position: absolute;
  bottom: 0; left: 0; right: 0;
  background: white;
  padding: calc(var(--pad) / 2) var(--pad);
  opacity: 0;
  transition: .05s opacity;
  display: flex;
  align-items: stretch;
  flex-direction: row-reverse;
}


/* divided in two section */
.schedule__item > .title-frame{
  flex-grow: 1;
  min-width: 0;
  margin-right: 0;
}
.schedule__item > .dates-frame {
  display: flex;
  align-items: start;
  flex-wrap: wrap; /* there is the reservation button below in page content */
  flex-basis: min-content;
}

.schedule__item__page > .dates-frame {
  align-items: flex-start;
}
/*.schedule .dates-detail {
  display: none;
}*/

/* --- title */

.schedule__item__interface h1.schedule__title {
  font-size: 15pt;
  margin-bottom: 2px;
  margin-top: 0;
    max-width: 800px;
    line-height: initial;

}

/* --- additionnal tags */
.schedule__item__interface .schedule__additional-tags {
	white-space: initial;
	overflow: auto;

}
.schedule__item__interface .schedule__additional-tags > *{
  font-size: initial;
  display: block;
  font-family: "ume p gothic";
}
/*.schedule__item__interface .schedule__authors + .schedule__event-type::before{
  content: "\2014";
  display: inline-block;
  margin: 0 0.5em;
}*/
/* other tags */
/*.schedule__item__interface :is(.schedule__event-title-detail, .schedule__event-infos-sup){
  display: none;
}
*/
.schedule__item__page .schedule__authors {
  margin-bottom: 0px;
}

.schedule__category {
  position: absolute;
  bottom: 100%;
  left: 0;
  text-transform: lowercase;
  font-size: 1em;
  background: var(--dark-clr);
  color: var(--back-clr);
  display: block;
  padding: 0em 0em;
}
.page-number-frame {
	flex-basis: 10%;
display: flex;
align-items: flex-end;

}
.schedule__page-number > p {
font-family: ume mincho;
font-size: 15pt;
text-transform: none;

}
/* --- dates */
.schedule__dates {
  font-family: ume mincho;
  font-size: 15pt !important;
  line-height: 1;
  flex-basis: 10%;
  margin-right: 10pt 
}
.schedule__item__page .schedule__dates > :is(time, span) {
  display: block;
  text-align: center;
}
.schedule__item__interface .schedule__dates {
  font-size: initial;
  white-space: nowrap;
  text-align: center;
}
.schedule__item__interface .schedule__dates time{
  min-width: 5ch;
  display: block;
  text-align: center;
}
.schedule__item .year{
  display: none;
}
.schedule__item__interface .schedule__dates > span::after{
  content: "\2193"; 
}
.schedule__item__page .schedule__dates > span::after{
  content: "\2193"; /* downward arrow */
}
.schedule__item h2,
.schedule__item h3 {
	margin-top: 0;
	line-height: initial;
}
/* don't show details in interface */
/*.schedule__item__interface .dates-detail{
  display: none;
}*/

/*article#xx-time-21-22.schedule__item.schedule__item__interface.has-shape,
article#abri-ou-les-casanieres-de-lapocalypse.schedule__item.schedule__item__interface.has-shape {
	padding-top: 0;
margin-top: -20pt;
}*/

#page-1 .inside {
  visibility: visible;
}

