
/* VARIABLES
  ========================================================================== */
:root {
  /* greys & pinks */
  --very-light-grey: hsl(212, 6%, 90%);
  --light-grey: hsl(212, 8%, 78%);
  --dark-grey: hsl(212, 18%, 36%);
  --very-dark-grey: hsl(212, 6%, 12%);
  --pink-hard: hsl(350, 100%, 84%);
  --pink: hsl(350, 100%, 84%);

  --beige: hsl(38, 40%, 88%);

  /* gradient divided */
  --gc-yellow: hsl(56, 100%, 50%);
  --gc-green: hsl(119, 35%, 54%);
  --gc-orange: hsl(29, 86%, 54%);
  --gc-cyan: #6AC3CB;
  --gc-indigo: #6C80BF;
  /* gradient */
  --gradient-V: linear-gradient(to bottom,
      #FFEE25,
      #CDDB3E,
      #7DBE66,
      #6EB86D,
      #F08F34,
      #E96732,
      #6C80BF,
      #E86031,
      #6AC3CB,
      #FFEE25);
  --gradient-H: linear-gradient(to right,
      #FFEE25,
      #CDDB3E,
      #7DBE66,
      #6EB86D,
      #F08F34,
      #E96732,
      #6C80BF,
      #E86031,
      #6AC3CB,
      #FFEE25);

  /* logos size */
  --flex-logos-size: 3.5cm;
}

/* FONTS
  ========================================================================== */
@font-face {
  font-family: 'Ume Mincho';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/Ume-Mincho_Balsa.ttf');
}

@font-face {
  font-family: 'Ume P Gothic';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/Ume-P-Gothic_Balsa.ttf');
}

@font-face {
  font-family: 'Ume P Gothic';
  font-weight: bold;
  font-style: normal;
  src: url('fonts/ume-p-gothic_balsa-bold-webfont.woff');
}

/* @font-face {
  font-family: 'Ume P Gothic vertical';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/Ume-P-Gothic-Vertical.ttf');
} */

/* TYPOGRAPHY
  ========================================================================== */
html {
  font-family: 'Ume P Gothic';
  font-size: 38pt;
}

/* crédit */
em {
  font-family: 'Ume P Gothic vertical';
  letter-spacing: 0.23em;
}

dt, dd {
  display: inline;
}

dd {
  font-family: 'Ume P Gothic';
  font-size: 0.95em;
  letter-spacing: 0.04em;
  font-weight: bold;
}

/* links */
a {
  text-decoration: underline;
  text-decoration-thickness: 0.075em;
}

/* editeurice responsable */
.edit-resp {
  text-transform: none;
  font-size: 0.4rem;
  line-height: 1.2;
}

/* GLOBAL LAYOUT
  ========================================================================== */

section.signaletique > .layer:nth-of-type(2){
  /* padding: 1rem; */
}
section.signaletique > .layer > main{
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 100%;
}

/* --- flex display */
.flex{
  display: flex;
  align-items: flex-start;
  align-content: space-between;
  flex-wrap: wrap;

  /* display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 1fr; */
}
.flex > *{
  flex-basis: 50%;
  flex-grow: 1;
}
body:not(.preview) section.prix{
  outline: 3px solid black;
}
section.prix:not(:last-child){
  padding-bottom: 1rem;
}
/* TYPO
  ========================================================================== */

/* --- big text */
h2{
  width: 100%;
  text-align: center;
  line-height: 1.1;

  font-size: 3rem;

  /* -webkit-text-stroke: 3.5pt black; */
}
h2 > span{
  display: block;
}
h2 > .titre{
  /* font-weight: bold; */
  /* line-height: 0.95; */
}
h2 > .arrow{

}
h2 > .number{

}
/* --- number */
.number{
  /* because mincho as no € symbol */
  /* font-family: "Ume P Gothic"; */
}
.number::after{
  content: "€";
}
h2 > .number::after{

}

/* --- smaller */
h2 > small,
h3{
  font-size: 1.55rem;
  line-height: 1.1;
  letter-spacing: 0;
  word-spacing: 0;

  display: block;
  text-align: center;

  /* -webkit-text-stroke: 2.5pt black; */
}
h2 > small:first-child{
  height: 0;
  position: relative;
  bottom: 1.2em;
}
h2 > small:not(:first-child),
h3:not(:first-child){
  margin-top: 0.1em;
}
.prevente{
  margin-top: -0.1em;
  /* width: 110%;
  position: relative;
  left: -5%; */
}
.prevente span{
  display: inline;
  /* position: relative; */
}
.prevente::before {
	content: "";
	display: inline-block;
	height: 1em;
	width: 0.75em;
	margin-right: 0.2em;
	background-size: 100% 100%;
	background-repeat: no-repeat;
  line-height: 0;
  /* position: absolute; bottom: 0; right: 100%; */
	background-image: url("http://localhost:8000/assets/picto/arrow.svg");
}

/* --- others */

#special, #noel{
  /* margin-top: 1rem; */
}

#groupe{
  /* flex-basis: 100%; */
  grid-column-end: span 2;
}
#groupe > h2{
  margin-bottom: 1rem;
}

/* #reduit{
  grid-row-end: span 2;
}
#reduit h3:last-of-type{
  margin-top: 0.5em !important;
}
#reduit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5rem !important;
} */

/* picto
  ========================================================================== */
.titre > span{
  position: relative;
}
.titre > span::before{
  content: "";
  display: inline-block;

  height: 1em;
  width: 0.75em;
  margin-right: 0.3em;

  background-size: 100% 100%;
  background-repeat: no-repeat;

  position: absolute;
  right: 100%;

  background-image: url("/assets/picto/picto_rond.svg");
}
#mecene .titre > span::before{
 width: 1em;
 background-image: url("/assets/picto/picto_losange.svg");
}
#groupe .titre > span::before{
  width: 1em;
  top: -8%;
  background-image: url("/assets/picto/picto_dodu.svg");
}

#groupe .flex .titre > span::before{
  display: none;
}
#groupe .flex > *{
  position: relative;
  /* left: -2em; */
}

#etudiantes .titre > span::before{
  width: 0.7em;
  background-image: url("/assets/picto/picto_carre.svg");
}
#reduit .titre > span::before{
  width: 1em;
  background-image: url("/assets/picto/picto_fondu.svg");
}
#enfant .titre > span::before{
  width: 1em;
  background-image: url("/assets/picto/picto_double.svg");
}
#special .titre > span::before{
  width: 1.25em;
  background-image: url("/assets/shapes/feuille.svg");

  margin-right: 0.1em;
}
#noel .titre > span::before{
  background-image: url("/assets/picto/picto_noel.svg");
}


/* avec fond */
.fond{
  /* background: linear-gradient(to bottom, var(--very-light-grey) 35%, var(--pink)); */
  /* background: pink; */
  background:
    /* linear-gradient(to bottom, transparent, transparent 65%, var(--pink) 95%), */
    radial-gradient(closest-side, var(--pink) 25%, var(--very-light-grey) 95%)

  ;
}
.fond::after{
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, transparent, transparent 75%, var(--pink) 95%);
  background-repeat: no-repeat;
  background-size: 100%;
}

section.signaletique > .layer > main {
	padding: 3rem 2rem;
}

/* avec mincho */

/* h2{
  font-family: "Ume Mincho";
  letter-spacing: -0.03em;
  word-spacing: -0.02em;
}
h2 > small{
  font-family: "Ume P Gothic";
  letter-spacing: 0;
  word-spacing: 0;
} */
