
/* ___ TOTEM ___ */

:root{
  /* --bleed-overprint: -4mm; */
  --bleed-overprint: 0mm;
  /* --visible-width: 52.31cm;
  --visible-height: 109.78cm; */
}

@media print{
  @page {
    /* 543.1 x 1117,8 mm */

    /* format 2020-2021: 54.31cm 111.78cm;
    ici on peut pas faire plus bas -> sinon on touche le bureau
    mais plus large ok ! (max 75cm)
    */
    /*
    note: largeur max du rouleau: 122cm
     */

    size: 75cm 115cm;

    /* version avec fond */
    size: 62cm 105cm;


    /* bleed: 1cm 1cm; */
    /* marks: crop; */
    margin: 0cm 0cm;
  }
}
