
/* ___ TOTEM ___ */

:root{
  --bleed-overprint: -2mm;
  --visible-width: 110cm;
  --visible-height: 152cm;
}

@media print{
  @page {
    /*
    Voici ci-dessous les informations livrées par Claude Noël - Technical manager (pour les totems)  :
    Format papier : 120 x 160 cm
    Format impression : 118 x 160 cm
    Format visible minimum : 112 x 152 cm (centré dans le format)
    */

    size: 120cm 160cm;
    /* bleed: 12.75mm 3.75mm;
    marks: crop; */
    margin: 0cm 0cm;
  }
}

html{
  font-size: 72pt;
}
.content{
  padding: 4cm 12cm;
}
