
/* ___ FORMAT SPECIAL 40x60 ___ */

:root{
  --bleed-overprint: -4mm;
  --visible-width: 35cm;
  --visible-height: 55cm;
}

@media print{
  @page {
    size: 40cm 60cm;
    bleed: 1cm 1cm;
    marks: crop;
    margin: 0cm 0cm;
  }
}

html{
  font-size: 26pt;
}
.content{
  padding: 2cm 4cm;
}
h1.douceur{
  line-height: 1.3;
}
