

/* ___ JC Decaux - mobilerVertical ___ */

:root{
  --bleed-overprint: -2mm;
  --visible-width: 110cm;
  --visible-height: 161cm;
}

@media print{

  @page {
    /*
    Voir site/pdf JCDecaux: Mobilier Urbain (Street Furniture)
    Format papier : 118.5cm x 175cm
    Format impression : 117.45cm x 174.25cm -> 10.5mm x 7.5mm -> 5.25mm x 3.75mm
    Format visible minimum : 110cm x 161cm (centré dans le format)
    */

    size: 118.5cm 175cm;
    bleed: 5.25mm 3.75mm;
    marks: crop;
    margin: 0cm 0cm;
  }
}
