

/* Layout
  ========================================== */

#actualitee article{
  padding: 1.5em;
}
#actualitee article:not(:last-child){
  /* border-bottom: 2px var(--dark-clr) solid; */
}
#actualitee article::after{
  content: "";
  display: block;
  clear: both;
}

/* Typography
  ========================================== */

#actualitee :is(h1,h2){
  /* display: inline; */
  margin: 0;
  line-height: 1;
  word-break: break-word;
  hyphens: auto;
}
#actualitee h1{
  font-family: 'Ume Mincho';
  font-weight: normal;
  font-size: 2em;
}
#actualitee h2{
  font-weight: normal;
  font-size: 1.5em;
}

#actualitee h1 + h2{
  margin-top: 0.5em;
}

/* IMGs
  ========================================== */

#actualitee figure{
  margin: 0;
}

#actualitee figure.full{
  width: 100%;
}

#actualitee figure:not(.full){
  margin-left: 1em;
  width: calc(50% - 0.5em);
  float: right;
}
#actualitee figure img{
  width: 100%;
}

/* Link
  ========================================== */


#actualitee article{
  background: linear-gradient(transparent, var(--acc-clr), transparent);
}
#actualitee p{
  margin-top: 1em;
}
#actualitee a::after{
  /* content: url(../assets/picto/picto_dodu.svg); */
  display: inline-block;
  width: 1em;

  vertical-align: middle;
  margin-left: 0.2em;
  overflow: visible;
}

#actualitee article h1::before{
  content: url(../assets/picto/picto_double.svg);
  display: inline-block;
  width: 0.75em;

  /* vertical-align: middle; */
  margin-right: 0.1em;
  overflow: visible;
}
