
/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
   font-family: 'Ume Mincho';
   font-weight: normal;
   font-style: normal;
   src: url('../fonts/Ume-Mincho_Balsa.ttf') format('truetype');
}

@font-face {
   font-family: 'Ume P Gothic';
   font-weight: normal;
   font-style: normal;
   src: url('../fonts/Ume-P-Gothic_Balsa.ttf') format('truetype');
}
