
#interface{
  display: grid;
  grid-template-columns: 1fr 80px;
}

#interface #timeline{
  position: sticky;
  top: 0;
  height: 100vh;
  background: var(--dark-clr);
}
#interface #paysage{
  position: relative;

  /* display: flex; */
}

/* GRID DISPLAY
  ========================================== */

#interface .interface-grid{

  --cell-size: 50px;

  border-radius: 40vh;
  /* background: hsl(60, 20%, 92%); */
  /* border: 5px dotted var(--light-clr); */

  /* TODO: do we use variable width cell or constant and put the rest in margin with flexbox (use flexshrink!)*/
  /* we use inline-grid to it shrink it's size
  according to the sum of the cell size */
  /* for this to work we have to let "width" undefined
  so we use max-width instead an let it grow */
  box-sizing: border-box;
  display: grid;
  margin: var(--cell-size) calc(var(--cell-size) * 3);
  padding: calc(var(--cell-size) / 2) 0 0;

  /* insert as much columns as possible with a min-width of --cell-size */
  grid-template-columns: repeat(auto-fill, minmax(var(--cell-size), 1fr));
  /* use auto-rows to create as much rows as needed and expand vertically */
  grid-auto-rows: var(--cell-size);

  /* grid-template-columns: repeat(auto-fill, minmax(var(--cell-size), 1fr)); */
  /* grid-auto-rows: minmax(var(--cell-size), 1fr); */

  grid-gap: calc(var(--cell-size) * 3/4);

  grid-auto-flow: dense;

  /* max-width: 1000px; */

}

/* One Cell
  ========================================== */

#interface .interface-grid > .cell{
  width: 100%;
  height: 100%;


  position: relative;
}
#interface .interface-grid .svg-wrapper{
  width: 100%;
  height: 100%;

  /* center svg or img inside the cell */
  display: flex;
  justify-content: center;
  align-items: center;
}

#interface .interface-grid .cell-title{
  position: absolute;
  top: 100%;
  left: calc(var(--cell-size) * -1);
  right: calc(var(--cell-size) * -1);
  font-size: calc(var(--cell-size) * 3/5);
  line-height: calc(var(--cell-size) * 3/5);
  text-align: center;
  z-index: 5;
  font-family: 'Ume Mincho';
  text-transform: capitalize;
}

/* SVG / img STYLING
  ========================================== */

#interface :is(svg, img){
  /* the border can expand beyond the viewbox */
  max-width: 100%;
  max-height: 100%;
}

#interface svg{
  overflow: visible;
}

#interface img{
  mix-blend-mode: darken;
}

#interface .svg-gradient{
  position: absolute;
  top: 0; left: 0; width: 0; height: 0;
}

#interface path{
  /* this magic property will homogenise the stroke-width
  between the different svgs*/
  vector-effect: non-scaling-stroke;
  stroke-width: 2px;

  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: none;

  stroke: darkgrey;
  fill: var(--back-clr);

  cursor: pointer;
}

/* HOVER
  ========================================== */

/* faire apparaitre le titre */
#interface .cell-title{
  opacity: 0;
  transition: 0.5s opacity;
}
#interface .cell.hover .cell-title{
  opacity: 1;
}

/* on prend les pièces */
/* #interface .cell:nth-of-type(odd){
  transform-origin: top left;
}
#interface .cell:nth-of-type(even){
  transform-origin: top right;
}
#interface .cell{
  transition: 200ms;
}
#interface .cell:nth-of-type(odd).hover{
  transform: rotate(-10deg);
}
#interface .cell:nth-of-type(even).hover{
  transform: rotate(10deg);
} */

#interface path{
  /* stroke: url(#degrade); */
  stroke: var(--dark-clr);
  /* stroke-width: 2px; */
  transition: 0.4s stroke-width;
}
#interface path:hover{
  stroke: url(#degrade-animation);
  /* stroke-width: 2px; */
}

/* ACTIVE
  ========================================== */

#interface .cell.active path{
  /* stroke-style: dashed; */
  /* stroke-dasharray: 8; */
  fill: white;
  /* stroke-width: 3px; */
}

/* MOBILE
  ========================================== */

@media screen and (max-width: 600px) {
  #interface .interface-grid{
    --cell-size: 30px;
    margin: calc(var(--cell-size) / 2);
  }
  #interface path{
    stroke-width: 1px;
  }

  #interface .interface-grid .cell-title{
    left: 0;
    right: 0;
  }

}

/* BIG SCREEN
  ========================================== */

@media screen and (min-width: 2000px) {
  #interface .interface-grid{
    --cell-size: 70px;
  }
  #interface path{
    stroke-width: 3px;
  }
}




/* TEXT BOX
  ========================================== */

.detail-spectacle{
  position: fixed;
  top: 0; left: 0; right: 92px; bottom: 0; height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 10;
}
.detail-spectacle > article{
  pointer-events: auto;

  box-sizing: border-box;
  position: absolute;
  bottom: 0; left: 0; right: 0;

  background: white;

  font-size: 20px;
  line-height: 28px;

  top: 100%;
  transition: 1s top;

  /* reput the same grid than the global one */
  display: grid;
  grid-template-columns: 550px 1fr;
}
.detail-spectacle > article.open{
  /* display: block; */
  top: 20vh;
}
.detail-spectacle > article::after{
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; height: 5px;
  display: block;
  background: var(--gradient);
}

.detail-spectacle h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.detail-spectacle ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.detail-spectacle img {
  width: 100%;
}

.detail-spectacle header{
  padding: 2em 1.5em;
}
.detail-spectacle main{
  padding: 4em 1.5em;
  padding-right: 4em;
}

h1.schedule__title{
	font-family: 'Ume Mincho';
	font-size: 4em;
  font-weight: normal;
	line-height: 1.1em;
}
.schedule__category {
	font-size: 0.65em;
	top: 0;
  text-decoration: none;
}
.schedule__authors {
	line-height: 1em;
	font-size: 2em;
	text-transform: uppercase;
}
.schedule__dates-frame {
	/* position: absolute; */
  font-family: 'Ume Mincho';
	/* top: 1em;
	right: 25px; */
	z-index: 10;
	/* width: 25%; */
	font-size: 2em;
  line-height: 1em;
  margin-top: 1em;
}
.schedule__booking {
  color: black;
  display: inline-block;
  background: var(--acc-clr);
  padding: 0.2em 0.5em;
  margin-top: 0.5em;
  font-size: 0.8em;
	text-decoration: none;
}
