
:root{
  --back-clr: hsl(212, 12%, 90%);

  --light-clr: lightgrey;
  --dark-clr: hsl(212, 6%, 50%);

  --acc-clr: pink;

  --gradient: repeating-linear-gradient(to right,
    #FFEE25,
    #CDDB3E,
    #ABCF4F,
    #90C55C,
    #7DBE66,
    #72B96B,
    #6EB86D,
    #F08F34,
    #E96732,
    #6C80BF,
    #E86031,
    #6AC3CB,
    #FFEE25
    );
}

body{
  margin: 0;
  background: var(--back-clr);

  font-family: 'Ume P Gothic';

  /* everything is inside the size of the screen
  scroll happens in the different boxes */
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-columns: 550px 1fr;
}

::selection{
  background-color: var(--acc-clr);
}

/* body divided in 2 columns: */
#sidebar{
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
}
#interface{
  width: 100%;
  height: 100vh;

  overflow-y: scroll;
  position: relative;
}

/* sidebar column divided in 2 rows: */
#menu{
  height: 20vh;
  position: relative;
  flex-shrink: 0;
}
#actualitee{
  flex-grow: 1;
  min-height: 0;
  overflow-y: scroll;
  position: relative;
}

/* MENU
  ========================================== */
#menu{
  display: flex;
}
#menu > *{
  margin: 1.5em;
}
#menu > *:not(:last-child){
  margin-right: 0;
}
#menu > .logo{
  width: 100%;
}
#menu .logo-balsa{
  height: 70px;
}



#page-links{
  flex-shrink: 1;
  /* position: sticky;
  top: 0;
  overflow: auto;
  z-index: 100; */
}
nav ul{
  list-style-type: none;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: 0.4em;
  flex-wrap: wrap;
  /* margin: 1em; */

}
nav li{
  word-break: keep-all;
  background: white;
  padding: 0.2em;
}
nav a{
  text-decoration: none;
  position: relative;

  line-height: normal;
}
nav a::after{
  /* content: "";
  display: block;
  position: absolute;
  left: 0; right: 0;
  height: 5px;
  background: white; */
}

/* SUPER LINK
  ========================================== */

a{
  color: var(--dark-clr);
  text-decoration: none;
}
a:hover{
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-size: 50%;
  animation: linkgradient 0.5s infinite linear;
}

@keyframes linkgradient {
  from{
    background-position: 0;
  }
  to{
    background-position: 100%;
  }
}
