<h1 id="auteur-inconnu">Auteur inconnu</h1>
<h2 id="anaïs-moreau">Anaïs Moreau</h2>
<h3 id="création-théâtre-report-saison-20-21">Création théâtre (report saison 20-21)</h3>
<h3 id="du-16-au-22-septembre-2021">Du 16 au 22 septembre 2021</h3>
<p>16 , 17 à 20h</p>
<p>18 à 18h</p>
<p>20 , 21 à 13h30<br />
21, 22 à 20h</p>
<p><strong>De l'intime à l'extime : l'expérience du jeu de soi...</strong></p>
<p>La nuit du 18 septembre 1998 - elle a 16 ans - elle se retrouve dans une chambre d'hôtel avec un jeune homme séduisant qu'elle vient de rencontrer, le soir-même, à la braderie du Canal Saint-Martin à Rennes. C'est sa "première fois". Et cela se passe mal. Elle découvre la sexualité sous la forme de la contrainte. Crûment, on appelle cela : viol. Un acte qu'elle garde, anonyme, pendant sept ans. Durant de nombreuses années, ses relations amoureuses sont comme des répétitions de cette première expérience : violences, névroses, rapports de domination et de soumission...</p>
<p>Dix-sept ans plus tard, elle porte plainte avec les souvenirs qui lui restent. Le dossier sera classé sans suite. Motif : auteur inconnu. C'est de cette expérience-là, réelle, brute, autobiographique, que Anaïs Moreau a voulu partir, pour l'ausculter, la partager et la porter vers une possible élucidation.</p>
<ol type="1">
<li><p>Jeu : Anaïs Moreau et Renaud Garnier-Fourniguet</p></li>
<li><p>Conception : Anaïs Moreau</p></li>
<li><p>Collaboration artistique : Judith Ribardière</p></li>
<li><p>Création sonore : Loup Mormont</p></li>
<li><p>Création lumière : Nicolas Thill</p></li>
<li><p>Scénographie et costumes : Camille Collin</p></li>
<li><p>Aide à l'écriture et au jeu : Nicolas Luçon</p></li>
<li><p>Régie son : Antonin Simon</p></li>
<li><p>Stagiaire son : Némo Camus</p></li>
<li><p>Coproduction et production déléguée : Théâtre la Balsamine</p></li>
<li><p>Soutiens : Equal.brussels (Région Bruxelles-Capitale), Théâtre &amp; Publics, La Chaufferie, BAMP, Centre Culturel de la Vénerie, Zinneke ASBL, Agnès Limbos</p></li>
</ol>
<p><img src="media/image1.png" style="width:2.25694in;height:0.31944in" /></p>
<p>A l’issue de chaque représentation, un temps d’échange et de débat spécifique est prévu. </p>
<h1 id="schaerbeek-fête-la-communauté-française-de-belgique">Schaerbeek fête la Communauté française de Belgique </h1>
<p>Le 25 septembre 2021</p>
<p>La Balsamine propose à cette occasion un après-midi festif et familial en extérieur dans le quartier Dailly, devant le théâtre et dans le parc Scutenaire.</p>
<p>Grâce au soutien de la Commune de Schaerbeek et de la Cocof, les 3 spectacles de cirque programmés sont accessibles gratuitement à tou.te.s. Réservations indispensables !</p>
<h1 id="cruda"><strong><em>Cruda</em></strong> </h1>
<h2 id="collectif-a-sens-unique">Collectif A sens unique</h2>
<h3 id="spectacle-dacrobatie">Spectacle d’acrobatie</h3>
<p>À 15h</p>
<h3 id="section"> </h3>
<p>Ce spectacle est une plongée humoristique dans le passé d’une ancienne gymnaste. Elle était douée, très douée … mais pas assez pour qu’on se souvienne d’elle. A coup d’acrobatie et en tordant son corps dans tous les sens, elle nous avoue tout ! Et ça la libère autant que ça nous libère !</p>
<ol type="1">
<li><p>De et avec :  Constanza Sommi<br />
Mise en scène : Sara Desprez<br />
Regards clownesques :  Sky de Sela et Carmen Tagle</p></li>
<li><p>Regards ponctuels : Benjamin Renard, Noémie Armbruster, Christine Daigle</p></li>
<li><p>Technique : Thibaud Rocaboy / Thibault Condy<br />
Administration : L’Envoleur (Guillaume Cornu)</p></li>
<li><p>Soutiens : Région Pays de la Loire, Cité du cirque – Pôle régional cirque Le Mans, L’Espace Catastrophe Centre International de Création des Arts du Cirque (BE), Latitude 50 - Pole arts du cirque et de la rue, Centre Culturel Wolubilis, Cirque Exalté, Lézarti’cirque, Cie Mesdesmoisselles.</p></li>
</ol>
<h1 id="mousse"><strong><em>Mousse </em></strong> </h1>
<h2 id="cie-scratch">Cie Scratch </h2>
<h3 id="spectacle-de-jonglage">Spectacle de jonglage</h3>
<p>À 16h</p>
<p>Mousse est une ode au doute. Un spectacle qui évoque nos instants de solitude, toutes ces choses qu’on fait dans notre coin et qu’on n’ose pas partager. Dans Mousse, il y aura un micro, des balles, une craie, un jardinier, une plante, un k-way de grand-mère, France Gall et puis Barbara, des yeux ouverts, un coiffeur professionnel et un grand karaoké. C’est un spectacle de jonglerie punk, triste et rigolo.</p>
<ol type="1">
<li><p>Jongleuse : Gaëlle Coppée</p></li>
<li><p>Technicien : Denis Michiels</p></li>
<li><p>Coach : Bram Dobbelaere</p></li>
<li><p>Conseils en jeu clownesque : Christine Rossignol-Dallaire</p></li>
<li><p>Conseils en écriture dramaturgique : Gaël Santisteva</p></li>
<li><p>Conseils en jonglerie et amitié : Eric Longequel</p></li>
<li><p>Diffusion : Chantal Heck – La chouette diffusion</p></li>
<li><p>Une production de la cie Scratch</p></li>
<li><p>Coproductions : Latitude 50 – Pôle des arts du cirque et de la rue, Centre Culturel du Brabant Wallon</p></li>
<li><p>Accueils en résidence : Espace Catastrophe – Centre International de Création des Arts du Cirque, Centre Culturel du Brabant Wallon, Latitude 50 – Pôle des arts du cirque et de la rue, Circus Centrum, Festival International des arts de la rue de Chassepierre, Centre Culturel du Wolubilis, Centre Culturel d’Ath – CAR, La Maison des Jonglages, Maison de la création, Petit théâtre de la grande vie, PERPLX, Lauréat CircusNext+ (Co-funded by the Erasmus+ Programme of the European Union), Subtopia, Cirqueon</p></li>
<li><p>Soutiens : Wallonie-Bruxelles Théâtre-Danse, Fédération Wallonie-Bruxelles, Wallonie-Bruxelles International WBI. Le projet a bénéficié du dispositif « écriture en campagne » (Latitude 50 – La Chaufferie-Acte1, la SACD et la SSA)</p></li>
<li></li>
</ol>
<h1 id="encore-heureux"><strong><em>Encore Heureux !</em> </strong></h1>
<h2 id="cie-la-scie-du-bourgeon">Cie La Scie du Bourgeon </h2>
<h3 id="spectacle-darts-de-rue">Spectacle d’arts de rue</h3>
<p>À 17h</p>
<p>De la tendresse de la jeunesse à la fougueuse passion de la vieillesse, et l’inverse. Délices du temps qui passe et imprègne les corps d’une histoire singulière. Un homme, une femme écrivent leur histoire au présent, au futur et au passé. Le spectateur devient complice de ce jeu intime de force, fragilité et éclats de rire.</p>
<ol type="1">
<li><p>De et avec : Elsa Bouchez &amp; Philippe Droz</p></li>
<li><p>Régie : Valentin Boucq</p></li>
<li><p>Diffusion : Espace Catastrophe – diffusion@catastrophe.be</p></li>
<li><p>Avec le soutien de : Espace Catastrophe – Centre International de Création des Arts du Cirque, Tout Mons Danse, Centre culturel Wolubilis &amp; Les Fêtes Romanes</p></li>
</ol>
<h1 id="intérieur">Intérieur </h1>
<h2 id="de-maurice-maeterlinck">de Maurice Maeterlinck</h2>
<h2 id="héloïse-jadoul">Héloïse Jadoul</h2>
<h3 id="création-théâtre">Création théâtre </h3>
<h3 id="du-28-septembre-au-8-octobre-2021">Du 28 septembre au 8 octobre 2021 </h3>
<p><strong>28→1 et 5→8 à 20h30<br />
7 à 13h30</strong></p>
<p>"Et rien, si ce n’est le silence n’aura eu d’importance… » Le Trésor des humbles – </p>
<p>Maeterlinck</p>
<p>Intérieur nuit. Une veillée sous la lampe. L’Enfant dort au centre de la pièce. Le Père, Le Mère et les deux jeunes Filles attendent.</p>
<p>De l’autre côté des fenêtres, le Vieillard et l’Étranger attendent eux aussi, dépositaires d’une sombre annonce : le corps sans vie d’une jeune fille vient d’être repêché dans le fleuve. Comment l’annoncer ?</p>
<p>En abordant ce court texte de Maurice Maeterlinck, la metteuse en scène Héloïse Jadoul questionne notre rapport contemporain à la mort, s’interroge sur la porosité possible entre ce monde tangible et celui d’après, tourné vers l'incertitude et l'inconnu. </p>
<p>Texte : Maurice Maeterlinck</p>
<p>Interprétation : Sarah Grin, Ophélie Honoré, Manon Joannotéguy et Alexandre Trocki et une dizaine de participant·es bruxellois·es</p>
<p>Régie plateau / régie générale : Thibaud Decoene et Luna Moncada</p>
<p>Création sonore : Olmo Missaglia</p>
<p>Création lumière : Angela Massoni</p>
<p>Scénographie et costumes : Bertrand Nodet</p>
<p>Construction décor : Olivier Waterkeyn, avec l'apport précieux de Boris Dambly, Sébastien Munck et Eugénie Obolensky</p>
<p>Création chorégraphique : Lorenzo De Angelis</p>
<p>Stagiaire assistanat à la mise en scène : Mizuki Kondo</p>
<p>Mise en scène : Héloïse Jadoul</p>
<p>Un remerciement tout particulier à Luc Roussel, Léonce Wapelhorst et Maxime Deckers </p>
<p>Production déléguée : Théâtre la Balsamine </p>
<p>Coproductions : MARS-Mons arts de la scène, Théâtre la Balsamine, maison de la culture de Tournai/ maison de création et la Coop Asbl – Shelter prod</p>
<p>Soutiens : Fédération Wallonie-Bruxelles - Service du Théâtre, Taxshelter.be, ING, Tax-Shelter du Gouvernement Fédéral Belge</p>
<p>Tournée :</p>
<p>• du 13 au 15 octobre 2021 à Mars – Mons arts de la Scène (Théâtre le Manège)</p>
<p>• les 8 et 9 mars 2022 à la maison de la culture de Tournai</p>
<ul>
<li></li>
</ul>
<p>Autour du spectacle Intérieur</p>
<h1 id="je-vous-annonce-un-oiseau-léger">Je vous annonce  « un oiseau léger »</h1>
<h3 id="installation-sonore">Installation sonore</h3>
<h3 id="du-28-septembre-au-8-octobre-2021-1">Du 28 septembre au 8 octobre 2021</h3>
<h3 id="foyer-de-la-balsamine">Foyer de la Balsamine</h3>
<p>Il est dit que les oiseaux chantent à l’aube pour donner le signe qu’ils sont encore en vie . . . </p>
<p>Recevoir l’annonce d’un décès, critique point de bascule entre ignorance et impossibilité d’ignorer par la suite. Après elle, s’ensuit l’étrange sensation que le monde ne s’est pas arrêté de tourner pour autant.</p>
<p>Faire l’annonce d’un décès. Comment articuler ce que les mots ne suffisent pas à nommer ?</p>
<p>Qui, aujourd’hui, dans la société civile ou au sein des familles, porte le poids de cette responsabilité ?</p>
<p>Une cabine téléphonique posée dans le foyer de la Balsamine. </p>
<p>À l’intérieur, un combiné qui attend une oreille attentive, un interlocuteur ou une interlocutrice pour écouter les récits de celles et ceux qui ont été - un jour - messager·ère ou receveur·euse de la douloureuse annonce.</p>
<p>Avec cette seule question : </p>
<p>Lorsque l’un ou l’une d’entre nous s’arrête de chanter, comment l’annoncer aux autres ?</p>
<p>Un projet initié par Héloïse Jadoul</p>
<p>Récolte des témoignages et conception : Héloïse Jadoul et Ophélie Honoré</p>
<p>Montage sonore : Olmo Missaglia</p>
<h1 id="octobre-1968-mexico">20 octobre 1968, Mexico</h1>
<h2 id="pierre-larauza-emmanuelle-vincent-t.r.a.n.s.i.t.s.c.a.p.e">Pierre Larauza + Emmanuelle Vincent / t.r.a.n.s.i.t.s.c.a.p.e</h2>
<h3 id="création-danse">Création danse</h3>
<h3 id="du-15-au-17-octobre-2021">Du 15 au 17 octobre 2021</h3>
<p>15, 16 à 20h30</p>
<p>17 à 17h</p>
<p>Une pièce chorégraphique et sportive de Pierre Larauza et Emmanuelle Vincent</p>
<p>Le 20 octobre 1968, aux Jeux olympiques de Mexico, un sauteur en hauteur déjoue les conventions en proposant un mouvement inédit. Après concertation, les juges homologuent le saut. L’Américain Dick Fosbury, à 21 ans, est sacré champion olympique.</p>
<p>Ce spectacle s’empare de ce mouvement culte comme allégorie chorégraphique de la transgression. Danseuses, réel.le.s sauteur·se·s et corps essoufflés se donnent le relais dans cette pièce qui bouscule la frontière entre fait et fiction, geste sportif et mouvement dansé.</p>
<p>Au-delà d’un hommage à l’irrévérence de Dick Fosbury, « 20 octobre 1968, Mexico » se veut le miroir chorégraphique de notre difficulté à franchir les murs trop souvent érigés.</p>
<ol type="1">
<li><p>Chorégraphie et scénographie : Pierre Larauza et Emmanuelle Vincent</p></li>
<li><p>Danseuses : Manuela Fiori Schneider, Gene Francart, Emmanuelle Vincent</p></li>
<li><p>Performeur : Pierre Larauza</p></li>
<li><p>En collaboration et avec la participation des résident.e.s de la maison de repos Les Acacias, l'éducateur Youssef Kaddar, les sauteurs et sauteuses en hauteur de clubs d'athlétisme belges</p></li>
<li><p>Création son : D A N G</p></li>
<li><p>Lumière et régie générale : Serge Payen</p></li>
<li><p>Chargée de production : Silvia Gutiérrez Kirchner</p></li>
<li><p>Chargée de diffusion : Manon André</p></li>
<li><p>Assistante scénographie : Mathilde Roman</p></li>
</ol>
<ol type="1">
<li><p>Production : t.r.a.n.s.i.t.s.c.a.p.e asbl</p></li>
<li><p>Coproduction : Charleroi danse – Centre chorégraphique de la Fédération Wallonie-Bruxelles</p></li>
<li><p>Soutiens : Théâtre la Balsamine, Maison des Cultures et de la Cohésion Sociale de Molenbeek, Théâtre Marni et Zinnema </p></li>
</ol>
<p>t.r.a.n.s.i.t.s.c.a.p.e est soutenu par la Fédération Wallonie-Bruxelles - Service de la danse, la Commune d’Ixelles et accompagné par le Grand Studio</p>
<h1 id="le-paradoxe-de-billy">Le paradoxe de Billy</h1>
<h2 id="ludovic-drouet">Ludovic Drouet</h2>
<h3 id="création-théâtre-1">Création théâtre</h3>
<h3 id="du-19-au-29-octobre">Du 19 au 29 octobre </h3>
<p>19-&gt; 22 et 26-&gt; 29 à 20h30</p>
<p>21 à 14h</p>
<p>La nuit, la forêt. Deux corps sont découverts. Une femme et un homme. Jo et Billy.</p>
<p>Jo tient encore l'arme du crime mais l'autopsie révèle qu'elle est morte avant Billy.</p>
<p>Un inspecteur est dépêché sur place. Il croise les versions : règlement de compte ou crime rituel ?</p>
<p>Aucun détail n'est insignifiant, tel un puzzle.</p>
<p>L’enquête se heurte à des incohérences. Quelque chose d'autre semble avoir eu lieu. Au-delà du fait divers, une chasse d'un nouveau genre est en train de s'ouvrir.</p>
<p>L’auteur de ce thriller original, Ludovic Drouet, a reçu pour <em>Le paradoxe de Billy</em>, le Prix des Metteurs en scène, catégorie hors Belgique. Un prix attribué par le Centre des écritures dramatiques Wallonie-Bruxelles (CED-WB) visant à encourager le dynamisme des écritures de théâtre en Belgique francophone.</p>
<ol type="1">
<li><p><strong>Avec :</strong> Fanny Estève, Lucas Meister, Samuel Van Der Zwalmen</p></li>
<li><p><strong>Écriture et mise en scène :</strong> Ludovic Drouet </p></li>
<li><p><strong>Création lumière :</strong> Iris Julienne</p></li>
<li><p><strong>Création sonore :</strong> Gildas Bouchaud</p></li>
<li><p><strong>Création costumes et accessoires :</strong> Rita Belova</p></li>
<li><p><strong>RégIe plateau :</strong> Lionel Ueberschlag</p></li>
<li></li>
<li><p><strong>Production déléguée :</strong> Théâtre la Balsamine</p></li>
<li><p><strong>Coproductions </strong>: Festival de Liège, Théâtre la Balsamine, La Coop asbl et ShelterProd</p></li>
<li><p><strong>Soutiens :</strong> Fédération Wallonie-Bruxelles – Service du Théâtre, taxshelter.be, ING, le tax-shelter du gouvernement fédéral belge, Corridor, BAMP, Fabrique de Théâtre du Hainaut, Centre des Arts Scéniques, Centre des écritures dramatiques – résidence de Mariemont, Théâtre de l'L , La Zone, [e]Utopia – Armel Roussel, Ad Lib Diffusion, Théâtre Poème et Le Lac</p></li>
</ol>
<h1 id="les-lianes">Les lianes</h1>
<h2 id="françoise-berlanger">Françoise Berlanger</h2>
<h3 id="théâtre-et-musique-report-saison-20-21">Théâtre et musique (report saison 20-21)</h3>
<h3 id="en-partenariat-et-co-présentation-avec-ars-musica"><br />
en partenariat et co-présentation avec Ars Musica </h3>
<h3 id="du-12-au-17-novembre-2021"><strong><br />
Du 12 au 17 novembre 2021</strong></h3>
<p>12, 13, 15, 16* et 17 à 20h30</p>
<p><strong>14 à 17h</strong></p>
<p><strong>*La représentation du 16 novembre est en anglais</strong></p>
<p><strong>D'un corps à l'autre. Vie et métamorphoses.</strong></p>
<p>Que deviendra notre monde dans 350 ans ? C'est la question édifiante que l'équipe artistique tentera de démêler sur un plateau de théâtre aux accents futuristes. <strong>Les lianes</strong>, c'est un appel à l'imagination, un spectacle d'anticipation effronté, un territoire où les pensées s'entrechoquent dans un néant sublime et drôle.</p>
<ol type="1">
<li><p>Jeu : Caroline Daish, Fabian Fiorini (piano), Daya Hallé, Mika Oki (musique électronique), Katia Lecomte Mirsky et Emilienne Tempels</p></li>
<li><p>Texte et mise en scène : Françoise Berlanger</p></li>
<li><p>Composition : Fabian Fiorini, Mika Oki, Felipe Radicetti et Sarah Wéry</p></li>
<li><p>Scénographie, création vidéo et lumière : Daya Hallé et Katia Lecomte Mirsky (2Files4Free)</p></li>
<li><p>Costumes : Benjamin Huynh</p></li>
<li><p>Création lumière : Grégoire Tempels</p></li>
<li><p>Son : Marc Doutrepont</p></li>
<li><p>Dramaturgie : Marcel Berlanger</p></li>
<li><p>Traduction de la pièce en anglais : Amélie Hayoz</p></li>
<li><p>Remerciement : Francis Hallé</p></li>
<li><p>Chargée de diffusion : Valentine Siboni</p></li>
<li><p>Production déléguée : Théâtre la Balsamine</p></li>
<li><p>Coproductions : La Cerisaie asbl, Théâtre la Balsamine, Ars Musica</p></li>
<li><p>Soutiens : Fédération Wallonie Bruxelles - Service du Théâtre et Service de l'édition et Le Senghor</p></li>
<li><p>Aides : SACD, Centre des Écritures Dramatiques, Wallonie-Bruxelles International et ITSLIQUID international – Venise</p></li>
</ol>
<p>+ logo ARS Musica</p>
<h1 id="xx-time--du-20-au-28-novembre-2021-report-saison-20-21">XX TIME- Du 20 au 28 novembre 2021 (report saison 20-21)</h1>
<h2 id="toujours-de-34-face-sans-grace-in-my-big-fireworks-i-play-to-you-the-final-bouquet-forces-tout-doit-disparaître-ouvrir-la-voix-jusque-dans-nos-lits">Toujours de 3/4 Face ! / Sans Grace / In my big fireworks I play to you the final bouquet / Forces / Tout doit disparaître / Ouvrir la voix / Jusque dans nos lits</h2>
<h3 id="création-théâtre-danse-performance-installation-rencontres-débats-projections-documentaires-ateliers">création, théâtre, danse, performance, installation, rencontres, débats, projections documentaires, ateliers<br />
</h3>
<p>Le XX Time est soutenu par la Commission Communautaire française de la Région de Bruxelles-Capitale.</p>
<h2 id="toujours-de-34-face">Toujours de 3/4 face ! </h2>
<p>Loraine Dambermont - Création danse</p>
<p>20.11 et 21.11</p>
<h2 id="sans-grace">Sans Grace</h2>
<p>Kayije Kagame - Théâtre</p>
<p>20.11 et 21.11</p>
<h2 id="in-my-big-fireworks-i-play-to-you-the-final-bouquet">In my big fireworks I play to you the final bouquet</h2>
<p>Les soeurs h - Concert performé</p>
<p>26.11 et 27.11</p>
<h2 id="forces">Forces</h2>
<p>Mannès/Turine/Lemaître - Danse</p>
<p>26.11 et 27.11</p>
<h2 id="tout-doit-disparaître">Tout doit disparaître</h2>
<p>Ophélie Mac - Performance - démo (+18 ans)</p>
<p>27.11</p>
<h2 id="ouvrir-la-voix">Ouvrir la voix</h2>
<p>Amandine Gay - Film documentaire</p>
<p>28.11</p>
<h2 id="jusque-dans-nos-lits">Jusque dans nos lits</h2>
<p>Lucile Saada Choquet – Installation performance</p>
<h1 id="toujours-de-34-face-1">Toujours de 3/4 FACE !</h1>
<h2 id="loraine-dambermont">Loraine Dambermont  </h2>
<h3 id="création-danse-1">Création danse</h3>
<h3 id="le-20-novembre-à-19h30">Le 20 novembre à 19h30</h3>
<h3 id="le-21-novembre-à-16h">Le 21 novembre à 16h</h3>
<p>Les pieds bien ancrés dans le sol, la tête haute, le regard alerte, un maintien subtil tel un parfait mélange de décontraction et d’agilité, une posture si précise qu’elle trahit forcément une volonté de perfectionnisme. Selon Johnny Cadillac, ancien karatéka belge, le ¾ face est « la » position de défense par excellence. La chorégraphe et interprète Loraine Dambermont s’approprie ce principe et nous livre ici son guide de survie face à l’expectative du chaos ! <strong>Toujours de ¾ face !</strong>, tel un tutoriel « live », dévoile les secrets de self-défense les plus infaillibles pour faire face aux dangers qui nous guettent. De quoi affronter joyeusement notre futur imprévisible …</p>
<ol type="1">
<li><p>Chorégraphe et interprète : Loraine Dambermont</p></li>
<li><p>Composition : Alain Deval</p></li>
<li><p>Arrangement son : Alain Deval avec la collaboration de Loraine Dambermont, Lynn Suemitsu (Golin), Victor Petit et Gavin Vanaelst</p></li>
<li><p>Création lumières :  Rémy Urbain</p></li>
<li><p>Regards extérieurs :  Noora Hannula</p></li>
<li><p>Soutiens : Théâtre la Balsamine, Théâtre Marni, Garage29, La Roseraie, Iles Suitcase, L’Armande, CC Bruegel, Perpetum Mobile Festival Bruxelles, Muziekacademie van Anderlecht, Dance Flavours, Theater aan de Rijn Arnhem, Le Studio 28 Roubaix</p></li>
<li><p>Remerciement : Johnny Cadillac</p></li>
<li></li>
</ol>
<h1 id="sans-grace-1">Sans Grace</h1>
<p><strong>Kayije Kagame</strong></p>
<p><strong>Création Théâtre</strong></p>
<p>le 20 novembre à 21h<br />
le 21 novembre à 17h</p>
<p>« Je suis la voix de Grace, parce quʼelle nʼest pas là. » Comment s’emparer de l’absence d’une actrice et restituer au plus près sa voix ? SANS GRACE explore l’univers polysémique d’un duo d’actrices, Grace Seri et Kayije Kagame, de leur relation à l’imaginaire au pouvoir d’évasion. Comment se soustraire au spectacle tout en étant sur scène ? Que signifie disparaître lorsqu’on est présente face à un public ? Ces questions proposent ici des réponses en pratique et en actes, que ce soit dans l’épuisement du jeu par la parole et dans l’expérience de seuils d’intensité, qui puissent ouvrir ces paradoxes et déplier leurs possibles.</p>
<ol type="1">
<li><p>Conception, jeu : Kayije Kagame</p></li>
<li><p>Coécriture, voix : Grace Seri</p></li>
<li><p>Conception costume : Marvin M’toumo</p></li>
<li><p>Réalisation costume : Clara Vischel</p></li>
<li><p>Organisation sonore : Hugo Radi</p></li>
<li><p>Conception lumière : Dinko Baresic</p></li>
<li><p>Administration : Cie Victor – Donatien Roustant</p></li>
<li><p>Soutiens à la tournée : Grütli – Centre de production et de diffusion des arts vivants, Genève, Arsenic – Centre d’art scéniques contemporain, Lausanne, la Balsamine, Bruxelles, Canton de Genève, Pro Helvetia</p></li>
</ol>
<p>Performance créée à la résidence d’artistes La Becque (CH) et présentée aux Urbaines, Lausanne (2019) ainsi que dans le cadre du Festival GO GO GO au Grütli</p>
<p>La Balsamine accueille ce projet dans le cadre du Réseau REM – Résidences Européennes en Mouvement – Une collaboration Balsamine, Grütli, Théâtre de Poche de Hédé-Bazouges</p>
<h1 id="in-my-big-fireworks-i-play-to-you-the-final-bouquet-1">In my big fireworks I play to you the final bouquet</h1>
<h2 id="les-sœurs-h">Les sœurs h </h2>
<h3 id="concert-performé">Concert performé </h3>
<h3 id="les-26-et-27-novembre-à-19h30">Les 26 et 27 novembre à 19h30</h3>
<h3 id="section-1"></h3>
<p>Dans un entre-deux flottant, trop rose et trop pailleté, deux adolescentes et un musicien naviguent à vue. Dans cet espace hybride où se mêlent musique live, vidéo, écriture et performance, Les sœurs h explorent le passage de l’enfance à l’âge adulte comme un plongeon dans l’inconnu.</p>
<p>À travers la performance, les artistes questionnent les notions de transition et de construction identitaire, caractéristiques de l’adolescence. Période d’incertitudes, de tentatives, de désirs, d’ambivalences et de contradictions. Les sœurs h s’intéressent à ce désir de trouver sa propre voie, à ce rejet instinctif des schémas préétablis. Elles traduisent cette quête d’identité bouillonnante, quasi explosive, qui n’a pas peur de sortir des sentiers battus, pour y trouver son propre sens.</p>
<ol type="1">
<li><p>Vidéos, texte : Les sœurs h (Marie Henry et Isabelle Henry)</p></li>
<li><p>Musique live : Maxime Bodson</p></li>
<li><p>Performance : Clara Petit-Jean et Jeanne Wehrlin</p></li>
<li><p>Scénographie : Marie Szersnovicz</p></li>
<li><p>Lumières : Laurence Halloy</p></li>
<li><p>Production : Mortimer et les sœurs h, Perfect Shirley asbl</p></li>
<li><p>Soutiens : SACD, Ville de Lausanne, Casino Barrière Montreux, Pro Helvetia, Fondation suisse pour la culture</p></li>
<li><p>Partenaires : La Bellone, Maison de Quartier de Chailly</p></li>
</ol>
<h1 id="forces-1">Forces</h1>
<h2 id="mannès-turine-lemaître">Mannès-Turine-Lemaître </h2>
<h2 id="danse">Danse </h2>
<p>Les 26 et 27 novembre à 21h</p>
<p><strong>Après <em>Atomix 3001</em>, ils reviennent en force et la déflagration artistique entre les mouvements, le son en live et la lumière opère toujours.</strong></p>
<p>Leslie Mannès, Thomas Turine et Vincent Lemaître, poursuivent leur exploration triangulaire et fusionnelle et provoquent chez le spectateur une expérience sensorielle totale et englobante. Cela donne FORCES un rituel futuriste et immersif où trois figures féminines nous emportent en un tourbillon de forces primaires, telluriques, et technologiques. Telles des chamanes guerrières cyborgs, ces passeuses puisent dans l'invisible, pour faire de leurs corps, le vecteur d'une métamorphose vitale, collective, émancipatrice. Un diamant brut. On se fait aspirer littéralement par cette alchimie si particulière des trois créateurs en symbiose totale. Les trois corps sont hypnotiques, ils forcent à l'admiration, à la fascination. Un trouble chorégraphique qui ne souffre aucune faiblesse.</p>
<ol type="1">
<li><p>Avec : Leslie Mannès, Mercedes Dassy, Daniel Barkan</p></li>
<li><p>Conception : Leslie Mannès, Thomas Turine, Vincent Lemaître</p></li>
<li><p>Chorégraphie : Leslie Mannès</p></li>
<li><p>Musique originale live : Thomas Turine</p></li>
<li><p>Création lumière : Vincent Lemaître</p></li>
<li><p>Conseillère artistique : Joëlle Bacchetta</p></li>
<li><p>Création costumes : Marie Artamonoff</p></li>
<li><p>Développement et diffusion : BLOOM Project/Stéphanie Barboteau, Claire Alex</p></li>
<li><p>Production : Asbl Hirschkuh</p></li>
<li><p>Coproduction : Les Brigittines, CDCN Le Gymnase Roubaix dans le cadre du dispositif accueil studio</p></li>
<li><p>Soutiens : Fédération Walllonie-Bruxelles - service de la danse, SACD Beaumarchais, SACD Belgique, Théâtre la Balsamine, Cosipie, Charleroi-danses, Centre Culturel Réné Magritte (Lessines-Be)</p>
<p><strong>Forces a reçu le Prix Maeterlinck de la Critique 2020 dans la catégorie Meilleur Spectacle de Danse</strong></p></li>
</ol>
<h1 id="tout-doit-disparaître-1">Tout doit disparaître</h1>
<h2 id="ophélie-mac">Ophélie Mac </h2>
<h3 id="performance-démo---de-18-ans">Performance démo - + de 18 ans </h3>
<h3 id="le-27-novembre-à-19h">Le 27 novembre à 19h</h3>
<p>Tout doit disparaître questionne non seulement la frontière entre l’art, le sexe et l’artisanat, mais aussi la sous-représentation des corps noirs dans le monde de l’art. La Balsamine invite l’artiste pour qu’elle effectue une démonstration type « tupperware » pour y présenter et vendre ses Encastrables : des godemichets en céramique faits par ses soins.</p>
<p>Elle vous explique pourquoi la céramique est fantastique et répond à vos questions techniques. Cash &amp; Cartes acceptées.</p>
<p>Ophélie Mac, aka Mac Coco, est une artiste afro-féministe activiste qui se définit comme céramiste-performeuse. Depuis 2012 elle vit et travaille à Bruxelles. Son travail artistique questionne sa double culture, son identité métissée, ses influences religieuses, ses croyances, son intimité ainsi que sa relation au public<strong>.</strong></p>
<h1 id="ouvrir-la-voix-1">Ouvrir la voix</h1>
<h2 id="amandine-gay">Amandine Gay</h2>
<h3 id="film-documentaire">Film documentaire</h3>
<h3 id="le-28-novembre-à-16h">Le 28 novembre à 16h</h3>
<p>Ouvrir la Voix est un documentaire sur les Afro-descendantes noires d'Europe francophone (France et Belgique) écrit et réalisé par Amandine Gay. C’est aussi le premier long métrage de la réalisatrice et, surtout, le résultat de près de trois ans de travail en autoproduction.</p>
<p>Ouvrir la Voix est un documentaire de création qui bouscule les codes du film d’entretiens. Pensé et réalisé comme une grande conversation entre vingt-quatre femmes noires de France et de Belgique, le film débute le jour où elles se sont découvertes noires, en contexte minoritaire, et se termine avec leurs aspirations pour le futur. C'est aussi un hommage aux artistes noires que la réalisatrice a rencontrées à l’époque où elle était encore comédienne, c’est pourquoi le film est ponctué de répétitions et de performances.</p>
<p>Ouvrir la Voix est aussi une façon, pour Amandine Gay, de célébrer l’histoire de la résistance des femmes noires qui ont toujours inventés des outils leur permettant de ne pas être réduites au silence.</p>
<ol type="1">
<li><p>Ecriture et réalisation : Amandine Gay</p></li>
<li><p>Production : Bras de fer</p></li>
</ol>
<h1 id="jusque-dans-nos-lits-1">Jusque dans nos lits</h1>
<h2 id="lucile-saada-choquet">Lucile Saada Choquet</h2>
<h3 id="installation-performance">Installation – performance </h3>
<h3 id="dates-à-définir">Dates à définir</h3>
<p>Tête-à-tête décoloniaux réservés aux personnes racisées (30 min par rencontre). Installation tous publics.</p>
<p>L’installation performative JUSQUE DANS NOS LITS crée du temps et de l’espace pour les héro.ïne.s racisé.e.s contemporain.e.s. Dans un pavillon en bois, entourée de rideaux semi-transparents, la performeuse Lucile Saada Choquet accueille sur un lit des personnes noires, arabes, berbères, asiodescendantes, latines et métisses. Et toi, à quel groupe racial appartiens-tu ?<br />
L’installation conçue tant pour l’espace public que pour les espaces transitoires des lieux culturels - hall, bar, cour, jardin - crée un territoire où des corps et des voix systématiquement minorisées peuvent se raconter. Piéton.ne.s et spectateur.ices sont invité.e.s à échanger avec Lucile Saada Choquet sur leur rapport au lit, aux corps et à leurs représentations. Ici on parle sommeil, cheveux, rituels, amours et sexualités.<br />
A partir de l’expérience de la charge raciale, JUSQUE DANS NOS LITS repolitise des espaces de vie intime en se confrontant aux imaginaires communs. Ce geste artistique tente de mettre en pratique des réparations collectives et individuelles.</p>
<ol type="1">
<li><p>Conception et performance : Lucile Saada Choquet</p></li>
<li><p>Dramaturgie : Petra van Brabandt</p></li>
<li><p>Scénographie : Aria Ann</p></li>
<li><p>Costumes : Pierre Antoine Vettorello</p></li>
<li><p>Régie générale : Tarek Lamrabti</p></li>
<li><p>Développement - production – diffusion : Habemus papam – Cora-Line Lefèvre et Julien Sigard</p></li>
<li><p>Compagnonnage : Café Congo (Bruxelles)</p></li>
<li><p>Partenaires : La Chaufferie-Acte1, La Bellone, Mars/Mons, arts de la scène et Le Rideau de Bruxelles</p></li>
<li><p>Soutiens: la Fédération Wallonie-Bruxelles, Service Général de la Création Artistique - Direction du Théâtre, le réseau REM</p></li>
</ol>
<p>Projet accueilli et soutenu dans le cadre du réseau REM – Résidences Européennes en Mouvement. Une collaboration Balsamine (Schaerbeek / Belgique), Grütli (Genève / Suisse), Théâtre de Poche (Hédé-Bazouges/France)</p>
<h1 id="audrey-lucie">AUDREY LUCIE</h1>
<h2 id="notch-company---oriane-varak">notch company - oriane varak</h2>
<h3 id="création-danse-report-saison-20-21">Création danse (report saison 20-21)</h3>
<h3 id="du-1-au-5-février-2022-à-20h30">Du 1 au 5 février 2022 à 20h30</h3>
<p>Dans un futur proche, la technologie permet de télécharger sa conscience dans une Intelligence Artificielle pour y vivre éternellement. AUDREY LUCIE sera le premier être à entrer dans le SNURB (Soul Negentropic Utility for ReBirth). Avec l'aide de son opérateur ANUBIS, elle se prépare à dire adieu à son corps.</p>
<ol type="1">
<li><p>Concept et mise en scène : Oriane Varak</p></li>
<li><p>Création et interprétation : Audrey Lucie Riesen et Guillaume Le Boisselier</p></li>
<li><p>Musique : I AM THE MINOTAUR</p></li>
<li><p>Création lumières : Jef Philips</p></li>
<li><p>Scénographie, costumes et accessoires : Julie Chapallaz</p></li>
<li><p>Accompagnement dramaturgique : Olivier Hespel</p></li>
<li><p>Coaching physique : Areti Chourdaki</p></li>
<li><p>Collaboration artistique : Guillaume Le Boisselier</p></li>
<li><p>Assistante réalisation : Élodie Huré</p></li>
<li><p>Regards extérieurs : Areti Chourdaki, Audrey Dero</p></li>
<li><p>Coproduction et production déléguée : Théâtre la Balsamine</p></li>
<li><p>Soutiens : Fédération Wallonie-Bruxelles, Service Général de la Création Artistique - Service de la Danse, Grand Studio et Bourse SACD</p></li>
<li><p>Remerciements : Gwen Laroche, Odile Dubucq / Varia, In Limbo, Nathalie Salamero et l’Atelier Peinture de la Monnaie, Nicolas Sanchez et Mina Millienos / Océan Nord</p></li>
</ol>
<h1 id="todos-caerán">Todos caerán </h1>
<h2 id="le-colonel-astral"> Le Colonel Astral </h2>
<h2 id="librement-inspiré-de-don-quichotte-de-cervantès">Librement inspiré de Don Quichotte de Cervantès</h2>
<h3 id="création-théâtre-report-saison-20-21-1">Création théâtre (report saison 20-21)</h3>
<h3 id="du-16-au-26-février-2022-à-20h30">Du 16 au 26 février 2022 à 20h30</h3>
<p>Au début il n'y a qu'une salle de théâtre, trois présences, un texte, Tchekhov peut être : rien d'extraordinaire, il pourrait s'agir d'une répétition.</p>
<p>Soudain un quatrième personnage débarque. Il affirme être un chevalier errant et il se fait appeler Don Alfonso Quichano. Son cheval est une brouette et sa dulcinée s’appelle Andy. C'est le début d'une série de péripéties dont ces quatre êtres sont à la fois les auteurs et les les sujets. </p>
<p>Todos Caerán parle d'une quête d'identité obstinée qui ne se laisse pas décourager par les tentatives ratées et les désillusions cuisantes. C'est un road trip absurde qui traverse des époques, des situations et des styles littéraires différents. Le seul repère est le théâtre : c'est là que les protagonistes reviennent toujours, comme si ce n'était qu’à l’endroit de la représentation et du partage qu’il y avait un espoir de se rencontrer soi-même.</p>
<ol type="1">
<li><p>Texte : Francesco Italiano</p></li>
<li><p>Mise en scène : Guillemette Laurent</p></li>
<li><p>Interprétation, collaboration à l'écriture et à la mise en scène : Marie Bos, Renaud Cagna, Estelle Franco et Francesco Italiano</p></li>
<li><p>Création lumière et direction technique : Nelly Framinet</p></li>
<li><p>Scénographie : Nicolas Mouzet-Tagawa</p></li>
<li><p>Création sonore : Maxime Bodson</p></li>
<li><p>Stagiaire son : Némo Camus</p></li>
<li><p>Costumes : Thijsje Strijpens</p></li>
<li><p>Conseiller technique : Lionel Ueberschlag</p></li>
<li><p>Accompagnement et diffusion : BLOOM Project</p></li>
<li><p>Production déléguée : Théâtre la Balsamine</p></li>
<li><p>Production : Le Colonel Astral / Audience asbl</p></li>
<li><p>Coproductions : Théâtre la Balsamine, La Coop asbl et ShelterProd</p></li>
<li><p>Soutiens : Fédération Wallonie-Bruxelles – Service du théâtre, taxshelter.be, ING, tax-shelter du gouvernement fédéral belge, Théâtre Océan Nord et Le 140.</p></li>
</ol>
<p>Ce spectacle n’aurait pu avoir lieu sans le concours du Théâtre Océan Nord.</p>
<h1 id="stand-by">Stand by </h1>
<h2 id="thi-mai-nguyen">Thi-Mai Nguyen </h2>
<h3 id="création-danse-2">Création danse</h3>
<h3 id="du-8-au-12-mars-2022-à-20h30">Du 8 au 12 mars 2022 à 20h30</h3>
<p>Un homme, une femme. Un couple.</p>
<p>Tous deux revisitent leur vie, au travers de leur propre corps.  Séparément et ensemble. </p>
<p>De l’embryon qu’ils ont été, jusqu’à la poussière qu’ils sont redevenus. </p>
<p>Avec leur peau, leur souffle, leur regard, ils affrontent la gravité, les déformations sonores et visuelles. </p>
<p>Ils questionnent leur héritage, leur capacité d'action et réaction.</p>
<p>Au cours de cette traversée physique et temporelle, leurs enveloppes résistent, tentent de tenir debout.  </p>
<p>D’où vient cette force qui les amène à vivre, à tout prix ? Serait-ce de l'altérité ?</p>
<p>Avec <em>Stand by</em>, la chorégraphe Thi-Mai Nguyen explore notre humanité à partir de son origine, effectue un voyage à travers sa propre matrice. Il est donc ici question de transmission, de responsabilité, de ce qui nous pousse à influer sur ce monde. </p>
<p>To stand by, people.</p>
<ol type="1">
<li><p>Une pièce de et par : Thi-Mai Nguyen</p></li>
<li><p>Danseur, acteur : Mehdi Baki</p></li>
<li><p>Enfants figurants : distribution en cours</p></li>
<li><p>Regards extérieurs : Laida Aldaz, Marie Hossenlopp, Soa Ratsifandrihana</p></li>
<li><p>Création sonore : Antoine Dégoutte</p></li>
<li><p>Création lumières : Caspar Langhoff </p></li>
<li><p>Construction : Ralf Noon</p></li>
<li></li>
<li><p>Coproduction et production déléguée : Théâtre la Balsamine</p></li>
<li><p>Soutiens : Fédération Wallonie-Bruxelles – Service de la danse, Ultima Vez</p></li>
<li><p>Aide : La Faktoria</p></li>
</ol>
<h1 id="abri-ou-les-casanie.r.e.s-de-lapocalypse">Abri ou les casanie.r.e.s de l’apocalypse</h1>
<h2 id="silvio-palomo-et-le-comité-des-fêtes">Silvio Palomo et le comité des fêtes</h2>
<h3 id="création-théâtre-2">Création théâtre</h3>
<h3 id="du-20-au-29-avril-2022-à-20h30">Du 20 au 29 avril 2022 à 20h30</h3>
<p>Tou·te·s aux abris ! Se préparer à tout, surtout au pire. Se rassurer même si tout va bien. Faire des plans, des listes, car tout peut arriver, n’importe quand. En attendant, s’entraîner, s’occuper, ranger et discuter. Il faudrait juste que quelque chose arrive pour que l’aventure commence !</p>
<p><em>Abri ou les casanier·e·s de l’apocalypse</em> est une création conçue pour six acteur·trice·s. Ensemble, iels mettront (presque) tout en œuvre pour sublimer leur quotidien et construire un intérieur à leur image. </p>
<p>Bienvenue dans un monde du « au cas où » et du « pratico-pratique" où l’on tente en vain de reconstituer un simulacre du monde. </p>
<p>Avec cette nouvelle création, Silvio Palomo souhaite enfermer ses personnages en vase clos. Prétexter une fin du monde pour interroger une petite tribu obligée de vivre ensemble dans un espace confiné. Que reste-t-il alors de leurs habitudes, de leurs manies et de leurs préoccupations ? Comment peuvent-iels réinventer une lecture sensible de leur quotidien et de ce territoire, où le temps semble, de par la finitude de leur monde, suspendu ?</p>
<ol type="1">
<li><p><strong>Conception</strong> Silvio Palomo</p></li>
<li><p><strong>Scénographie</strong> Itzel Palomo</p></li>
<li><p><strong>Création lumière</strong> Léonard Cornevin</p></li>
<li><p><strong>Jeu</strong> Léonard Cornevin, Aurélien Dubreuil-Lachaud, Manon Joannotéguy, Jean-Baptiste Polge, Nicole Stankiewicz, et Noémie Zurletti​</p></li>
<li><p><strong>Production</strong> Little Big Horn asbl et le Comité des fêtes</p></li>
<li><p><strong>Coproductions</strong> Théâtre la Balsamine, la Coop asbl</p></li>
<li><p><strong>Soutiens </strong>: Fédération Wallonie-Bruxelles - Service du Théâtre, Cocof, Théâtre Varia – Centre dramatique de la Fédération Wallonie Bruxelles, du Centre Wallonie-Bruxelles Paris et de Montévidéo, Centre d'Art /Marseille<em>,</em> le tax-shelter du gouvernement fédéral belge</p></li>
</ol>
<h1 id="au-pied-des-montagnes">Au pied des montagnes</h1>
<h2 id="une-tribu-collectif">UNE TRIBU Collectif</h2>
<h3 id="création-théâtre-dombres---pour-tous-à-partir-de-8-ans">Création théâtre d'ombres - pour tous, à partir de 8 ans</h3>
<h3 id="du-9-au-15-mai-2022">Du 9 au 15 mai 2022</h3>
<p><em><br />
</em>Lundi 9 mai – scolaire</p>
<p>Mardi 10 mai– scolaire</p>
<p>Mercredi 11 mai– scolaire</p>
<p>Jeudi 12 mai– scolaire</p>
<p>Vendredi 13 mai à 19h – tout public<br />
Samedi 14 mai à 17h – tout public</p>
<p>Dimanche 15 mai à 15h – tout public</p>
<p>Kuzma, dix ans, est née dans un pays-Parallélogramme, vit dans immeuble-Rectangle, regarde les infos dans une télé-Cube. Le quotidien semble très Carré, jusqu’au jour où plus rien ne tourne Rond. Un nouveau président prend le pouvoir de la nation et décide de procéder à une épuration ethnique. Ainsi, sa famille apprend qu’elle fait partie de la population Triangle, et que celle-ci n’a plus sa place dans la nouvelle géométrie politique du nouvel élu. Kuzma doit fuir, à travers les montagnes, dans un monde où réel et imaginaire se confondent. Conte philosophique pour esprits cartésiens, ce nouveau projet d’UNE TRIBU Collectif explore l’ombre en quête d’une liberté moins formelle.</p>
<ol type="1">
<li><p>Création : UNE TRIBU Collectif</p></li>
<li><p>Conception et mise en scène : Gwendoline Gauthier, Sarah Hebborn et Valentin Périlleux</p></li>
<li><p>Ecriture et interprétation : Gwendoline Gauthier et Sarah Hebborn</p></li>
<li><p>Scénographie : Valentin Périlleux</p></li>
<li><p>Aide à la mise en scène : Daniel Schmitz</p></li>
<li><p>Aide à la manipulation des silhouettes : Michel Villée</p></li>
<li><p>Construction : Guy Carbonnelle [Quai 41], Caspar Langhoff et toute l'équipe</p></li>
<li><p>Création sonore : Thomas Turine</p></li>
<li><p>Création lumière : Dimitri Joukovsky</p></li>
<li><p>Costumes : Rita Belova</p></li>
<li><p>Régie : Karl Autrique</p></li>
<li><p>Illustrations et silhouettes : Fanny Dreyer</p></li>
<li><p>Façonnages de silhouettes : Sarah Cheveau</p></li>
<li><p>Diffusion : Louise Mestrallet</p></li>
<li><p>Production déléguée : Théâtre la Balsamine</p></li>
<li><p>Coproduction : Entrée de Secours ASBL, Théâtre la Balsamine et Pierre de Lune</p></li>
<li><p>Soutiens : Fédération Wallonie – Bruxelles - Service du Théâtre, Bamp, Wolubilis, La Roseraie, Centre de la Marionnette de la FWB et Quai 41</p></li>
<li><p>Remerciement : La Coop asbl</p></li>
</ol>
<p><strong>LES PARTENARIATS</strong></p>
<h1 id="festival-noël-au-théâtre">FESTIVAL NOËL AU THÉÂTRE</h1>
<h3 id="du-26-au-30-décembre-2021">Du 26 au 30 décembre 2021</h3>
<p>Programmation en cours</p>
<h1 id="kunstenfestivaldesarts">Kunstenfestivaldesarts </h1>
<h3 id="mai-2022">mai 2022</h3>
<p>Programmation en cours</p>
<p>Infos et tickets : www.kunstenfestivaldesarts.be</p>
<h1 id="les-balsatoiles">Les Balsatoiles </h1>
<p>Dès 15h, le temps de 6 mercredis après-midis, la Balsa se transforme en cinéma de quartier. Ces projections gratuites de films d’animation sont des moments privilégiés de partage.</p>
<p>Le 27 octobre</p>
<p><strong>La Fameuse invasion des Ours en Sicile</strong> de Lorenzo Mattotti</p>
<p>Italie / France 2019</p>
<p>Les 24 novembre</p>
<p><strong>Calamity, une enfance de Martha Jane Cannary</strong> de Rémi Chayé,</p>
<p>France 2020</p>
<p>Le 8 décembre</p>
<p><strong>Toy Story 4</strong> de Josh Cooley</p>
<p>États-Unis 2019</p>
<p>Le 19 janvier</p>
<p><strong>Kubo et l' Armure Magique</strong> de Travis Knight</p>
<p>États-Unis 2016</p>
<p>Le 16 mars</p>
<p><strong>Wall-E</strong> de Andrew Stanton</p>
<p>États-Unis 2008</p>
<p><strong>Le 1<sup>er</sup> juin</strong></p>
<p><strong>Shaun le mouton</strong> de Mark Burton &amp; Richard Starzack,</p>
<p>France / Royaume-Uni 2015</p>
<p>Chaque film est précédé d’un atelier créatif en lien avec les thématiques abordées par l’œuvre. Entrée libre mais réservation souhaitée !</p>
