<blockquote><p>«&#x202F;La douceur est une énigme. Incluse dans un double mouvement d'accueil et de don, elle apparaît à la lisière des passages que naissance et mort signent.</p>
<p>Parce qu'elle a ses degrés d'intensité, parce qu'elle a une force symbolique et un pouvoir de transformation sur les êtres et les choses, elle est une puissance.&#x202F;»</p>
<p class="signature">Anne Dufourmantelle, <em>La puissance de la douceur</em></p>
</blockquote>
<p>Durant la saison 21-22, nous célébrerons nos retrouvailles, la fin d’une crise, la réouverture du théâtre, le retour du public. Nous fêterons les artistes et le public qui nous ont cruellement manqué. Nous appliquerons un baume bienfaisant composé d’échanges et d’effusions. Nous soignerons les plaies des spectacles qui portent encore les traces d’une période trouble, de ceux qui ont vécu l’attente, l’arrêt brutal, les incertitudes, le manque de regard et d’égard. Entre œuvres reportées enfin montrées et créations de nouvelles, nous passerons le flambeau, nous accueillerons une nouvelle direction, nous expérimenterons la transition, nous ferons le deuil de l’ancienne direction pour en voir naître une autre. Nous nous retrouverons, nous retisserons nos liens. Nous ferons tout avec cœur. Tous en chœur. Pour cette ultime année involutive, nous ferons acte de douceur.</p>
<p class="signature">Monica Gomes <br/>Direction générale et artistique de la Balsamine</p>


<!-- <section id="programme-en-paysage">
<h1 >Programme en paysage</h1>
<img src="https://balsamine.be/images/img-21-22/newsletter/fenetre-b.png">
</section> -->

<div id="interfaceBalsa" class="list-display part1">
	<section class="schedule">

<div class="schedule__list ps ps--theme_default" data-ps-id="b945b4d8-7a03-5cd9-4678-798da79156a7">

<article class="schedule__item schedule__item__interface has-shape" data-url="saison-21-22/auteur-inconnu.html" id="auteur-inconnu">
<section class="page-number-frame">
	<div class="schedule__page-number"><p>p.6</p></div>	
</section>	
<section class="title-frame">
<h1 class="schedule__title">Auteur inconnu</h1>
<div class="schedule__additional-tags">
<h2 class="schedule__authors">
          Anaïs Moreau
      </h2>
<h3 class="schedule__event-type">
        Création théâtre
  		</h3>
</div>
</section>
<section class="dates-frame">
<div class="schedule__dates">
<time class="start-date" datetime="2021-09-16 20:00:00">16.09<span class="year">.21</span></time>
<span></span>
<time class="end-date" datetime="2021-09-22 20:00:00">22.09<span class="year">.21</span></time>
</div>
</section>
</article>
<article class="schedule__item schedule__item__interface" data-url="saison-21-22/schaerbeekenfete.html" id="schaerbeekenfete">
	<section class="page-number-frame">
	<div class="schedule__page-number"><p>p.10</p></div>	
</section>	
<section class="title-frame">
<h1 class="schedule__title">Schaerbeek fête la Communauté française</h1>
<div class="schedule__additional-tags">
<h3 class="schedule__event-type">
        Spectacles de cirque
  		</h3>
<!-- don't show in schedule -->
<!-- until here -->
</div>
</section>
<section class="dates-frame">
<div class="schedule__dates">
<time class="start-date" datetime="2021-09-25 00:00:00">25.09<span class="year">.21</span></time>
</div>
</section>
</article>
<article class="schedule__item schedule__item__interface has-shape" data-url="saison-21-22/interieur.html" id="interieur">
	<section class="page-number-frame">
	<div class="schedule__page-number"><p>p.16</p></div>	
</section>	
<section class="title-frame">
<h1 class="schedule__title">Intérieur</h1>
<div class="schedule__additional-tags">
<h2 class="schedule__authors">
          Héloïse Jadoul
      </h2>
<h3 class="schedule__event-type">
        Création théâtre
  		</h3>
<!-- don't show in schedule -->
<!-- until here -->
</div>

</section>
<section class="dates-frame">
<div class="schedule__dates">
<time class="start-date" datetime="2021-09-28 00:00:00">28.09<span class="year">.21</span></time>
<span></span>
<time class="end-date" datetime="2021-10-08 00:00:00">08.10<span class="year">.21</span></time>
</div>
</section>
</article>
<article class="schedule__item schedule__item__interface has-shape" data-url="saison-21-22/20-octobre-1968-mexico.html" id="20-octobre-1968-mexico">
	<section class="page-number-frame">
	<div class="schedule__page-number"><p>p.20</p></div>	
</section>	
<section class="title-frame">
<h1 class="schedule__title">20 octobre 1968, Mexico</h1>
<div class="schedule__additional-tags">
<h2 class="schedule__authors">
          Pierre Larauza + Emmanuelle Vincent - t.r.a.n.s.i.t.s.c.a.p.e
      </h2>
<h3 class="schedule__event-type">
        Création danse
  		</h3>
<!-- don't show in schedule -->
<!-- until here -->
</div>
</section>
<section class="dates-frame">
<div class="schedule__dates">
<time class="start-date" datetime="2021-10-15 20:30:00">15.10<span class="year">.21</span></time>
<span></span>
<time class="end-date" datetime="2021-10-17 17:00:00">17.10<span class="year">.21</span></time>
</div>
</section>
</article>
<article class="schedule__item schedule__item__interface has-shape" data-url="saison-21-22/le-paradoxe-de-billy.html" id="le-paradoxe-de-billy">
	<section class="page-number-frame">
	<div class="schedule__page-number"><p>p.24</p></div>	
</section>	
<section class="title-frame">
<h1 class="schedule__title">Le paradoxe de Billy</h1>
<div class="schedule__additional-tags">
<h2 class="schedule__authors">
          Ludovic Drouet
      </h2>
<h3 class="schedule__event-type">
        Création théâtre
  		</h3>
<!-- don't show in schedule -->
<!-- until here -->
</div>
</section>
<section class="dates-frame">
<div class="schedule__dates">
<time class="start-date" datetime="2021-10-19 00:00:00">19.10<span class="year">.21</span></time>
<span></span>
<time class="end-date" datetime="2021-10-29 00:00:00">29.10<span class="year">.21</span></time>
</div>
</section>
</article>

<article class="schedule__item schedule__item__interface has-shape" data-url="saison-21-22/les-lianes.html" id="les-lianes">
	<section class="page-number-frame">
	<div class="schedule__page-number"><p>p.28</p></div>	
</section>	
<section class="title-frame">
<h1 class="schedule__title">Les lianes</h1>
<div class="schedule__additional-tags">
<h2 class="schedule__authors">
          Françoise Berlanger
      </h2>
<h3 class="schedule__event-type">
        Création théâtre et musique 
  		</h3>
<!-- don't show in schedule -->
<!-- until here -->
</div>
</section>
<section class="dates-frame">
<div class="schedule__dates">
<time class="start-date" datetime="2021-11-12 20:30:00">12.11<span class="year">.21</span></time>
<span></span>
<time class="end-date" datetime="2021-11-17 20:30:00">17.11<span class="year">.21</span></time>
</div>
</section>
</article>
</div>

</section>
</div>
<div id="interfaceBalsa" class="list-display part2">
	<section class="schedule">
		<div class="schedule__list ps ps--theme_default" data-ps-id="b945b4d8-7a03-5cd9-4678-798da79156a7">

<article class="schedule__item schedule__item__interface has-shape" data-url="saison-21-22/xx-time-21-22.html" id="xx-time-21-22">
	<section class="page-number-frame">
	<div class="schedule__page-number"><p>p.32</p></div>	
</section>	
<section class="title-frame">
<h1 class="schedule__title">XX Time</h1>
<div class="schedule__additional-tags">
<h2 class="schedule__authors">
          Sans Grace / In my big fireworks I play to you the final bouquet / Forces / Tout doit disparaître / Toujours de 3/4 FACE&#x202F;! / Ouvrir la voix / Jusque dans nos lits &mdash;
        création, théâtre, danse, performance, installation, rencontres, débats, projection documentaire
  		</h3>
<!-- don't show in schedule -->
<!-- until here -->
</div>

</section>
<section class="dates-frame">
<div class="schedule__dates">
<time class="start-date" datetime="2021-11-20 00:00:00">20.11<span class="year">.21</span></time>
<span></span>
<time class="end-date" datetime="2021-11-28 00:00:00">28.11<span class="year">.21</span></time>
</div>
</section>
</article>
<article class="schedule__item schedule__item__interface has-shape" data-url="saison-21-22/audreylucie.html" id="audreylucie">
	<section class="page-number-frame">
	<div class="schedule__page-number"><p>p.42</p></div>	
</section>	
<section class="title-frame">
<h1 class="schedule__title">AUDREY LUCIE</h1>
<div class="schedule__additional-tags">
<h2 class="schedule__authors">
          notch company-oriane varak
      </h2>
<h3 class="schedule__event-type">
        Création danse 
  		</h3>
<!-- don't show in schedule -->
<!-- until here -->
</div>

</section>
<section class="dates-frame">
<div class="schedule__dates">
<time class="start-date" datetime="2022-02-01 00:00:00">01.02<span class="year">.22</span></time>
<span></span>
<time class="end-date" datetime="2022-02-05 00:00:00">05.02<span class="year">.22</span></time>
</div>

</section>
</article>
<article class="schedule__item schedule__item__interface has-shape" data-url="saison-21-22/todos-caeran.html" id="todos-caeran">
	<section class="page-number-frame">
	<div class="schedule__page-number"><p>p.46</p></div>	
</section>	
<section class="title-frame">
<h1 class="schedule__title">Todos caerán</h1>
<div class="schedule__additional-tags">
<h2 class="schedule__authors">
          Le Colonel Astral
      </h2>
<h3 class="schedule__event-type">
        Création théâtre
  		</h3>
<!-- don't show in schedule -->
<h3 class="schedule__event-title-detail">
<!--         Librement inspiré de Don Quichotte de Cervantès
 -->      </h3>
<!-- until here -->
</div>

</section>
<section class="dates-frame">
<div class="schedule__dates">
<time class="start-date" datetime="2022-02-16 00:00:00">16.02<span class="year">.22</span></time>
<span></span>
<time class="end-date" datetime="2022-02-26 00:00:00">26.02<span class="year">.22</span></time>
</div>

</section>
</article>
<article class="schedule__item schedule__item__interface has-shape" data-url="saison-21-22/stand-by.html" id="stand-by">
	<section class="page-number-frame">
	<div class="schedule__page-number"><p>p.50</p></div>	
</section>	
<section class="title-frame">
<h1 class="schedule__title">Stand by</h1>
<div class="schedule__additional-tags">
<h2 class="schedule__authors">
          Thi-Mai Nguyen
      </h2>
<h3 class="schedule__event-type">
        Création danse
  		</h3>
<!-- don't show in schedule -->
<!-- until here -->
</div>

</section>
<section class="dates-frame">
<div class="schedule__dates">
<time class="start-date" datetime="2022-03-03 00:00:00">08.03<span class="year">.22</span></time>
<span></span>
<time class="end-date" datetime="2022-03-12 00:00:00">12.03<span class="year">.22</span></time>
</div>

</section>
</article>
<article class="schedule__item schedule__item__interface has-shape" data-url="saison-21-22/abri-ou-les-casanieres-de-lapocalypse.html" id="abri-ou-les-casanieres-de-lapocalypse">
	<section class="page-number-frame">
	<div class="schedule__page-number"><p>p.52</p></div>	
</section>	
<section class="title-frame">
<h1 class="schedule__title">Abri ou les casanier·e·s de l'apocalypse</h1>
<div class="schedule__additional-tags">
<h2 class="schedule__authors">
          Silvio Palomo et le comité des fêtes
      </h2>
<h3 class="schedule__event-type">
        Création théâtre
  		</h3>
<!-- don't show in schedule -->
<!-- until here -->
</div>

</section>
<section class="dates-frame">
<div class="schedule__dates">
<time class="start-date" datetime="2022-04-20 00:00:00">20.04<span class="year">.22</span></time>
<span></span>
<time class="end-date" datetime="2022-04-29 00:00:00">29.04<span class="year">.22</span></time>
</div>

</section>
</article>
<article class="schedule__item schedule__item__interface has-shape" data-url="saison-21-22/au-pied-des-montagnes.html" id="au-pied-des-montagnes">
	<section class="page-number-frame">
	<div class="schedule__page-number"><p>p.56</p></div>	
</section>	
<section class="title-frame">
<h1 class="schedule__title">Au pied des montagnes</h1>
<div class="schedule__additional-tags">
<h2 class="schedule__authors">
          UNE TRIBU Collectif
      </h2>
<h3 class="schedule__event-type">
        Création théâtre d'ombres 
  		</h3>
<!-- don't show in schedule -->
<!-- <h3 class="schedule__event-infos-sup">
        pour tous, à partir de 8 ans
      </h3> -->
<!-- until here -->
</div>

</section>
<section class="dates-frame">
<div class="schedule__dates">
<time class="start-date" datetime="2022-05-09 00:00:00">09.05<span class="year">.22</span></time>
<span></span>
<time class="end-date" datetime="2022-05-15 00:00:00">15.05<span class="year">.22</span></time>
</div>

</section>
</article>


<article class="schedule__item schedule__item__interface has-shape " data-url="saison-21-22/les-balsatoiles.html" id="les-balsatoiles">
		<section class="page-number-frame">
	<div class="schedule__page-number"><p>p.60</p></div>	
</section>	
<section class="title-frame">
<h1 class="schedule__title" id="les-partenariats">Les partenariats</h1>
<div class="schedule__additional-tags">
	<h2 class="schedule__authors">
Festival Noël au Théâtre
      </h2>
      <h2 class="schedule__authors">D Festival       </h2>

      	<h2 class="schedule__authors">
Kunstenfestivaldesarts
      </h2>
            	<h2 class="schedule__authors">
ReForm asbl      </h2>

</div>
</section>
<section class="dates-frame">
<div class="schedule__dates">

</section>
</article>
<article class="schedule__item schedule__item__interface has-shape balsatoiles" data-url="saison-21-22/les-balsatoiles.html" id="les-balsatoiles">
		<section class="page-number-frame">
	<div class="schedule__page-number"><p>p.61</p></div>	
</section>	
<section class="title-frame">
<h1 class="schedule__title">Les balsatoiles</h1>
<div class="schedule__additional-tags">
<!-- don't show in schedule -->
<!-- until here -->
</div>
</section>
<section class="dates-frame">
<div class="schedule__dates">
<time>2021</time>
<span></span>
<time>2022</time>
</div>
</section>
</article>
<article class="schedule__item schedule__item__interface has-shape non-spectacle"  data-url="saison-21-22/les-balsatoiles.html" id="les-balsatoiles">
		<section class="page-number-frame">
	<div class="schedule__page-number"><p>p.63</p></div>	
</section>	
<section class="title-frame">
<h1 class="schedule__title">Autour des spectacles</h1>
<div class="schedule__additional-tags">
<!-- don't show in schedule -->
<!-- until here -->
</div>
</section>
<section class="dates-frame">
<div class="schedule__dates">

</div>
</section>
</article>

<article class="schedule__item schedule__item__interface has-shape non-spectacle" data-url="saison-21-22/les-balsatoiles.html" id="les-balsatoiles">
		<section class="page-number-frame">
	<div class="schedule__page-number"><p>p.66</p></div>	
</section>	
<section class="title-frame">
<h1 class="schedule__title">Les résidences</h1>
<div class="schedule__additional-tags">
<!-- don't show in schedule -->
<!-- until here -->
</div>
</section>
<section class="dates-frame">
<div class="schedule__dates">

</div>
</section>
</article>
<article class="schedule__item schedule__item__interface has-shape non-spectacle" data-url="saison-21-22/les-balsatoiles.html" id="les-balsatoiles">
		<section class="page-number-frame">
	<div class="schedule__page-number"><p>p.69</p></div>	
</section>	
<section class="title-frame">
<h1 class="schedule__title">Infos Pratiques</h1>
<div class="schedule__additional-tags">
<!-- don't show in schedule -->
<!-- until here -->
</div>
</section>
<section class="dates-frame">
<div class="schedule__dates">

</div>
</section>
</article>
<article class="schedule__item schedule__item__interface has-shape non-spectacle" data-url="saison-21-22/les-balsatoiles.html" id="les-balsatoiles">
		<section class="page-number-frame">
	<div class="schedule__page-number"><p>p.72</p></div>	
</section>	
<section class="title-frame">
<h1 class="schedule__title">Tarifs</h1>
<div class="schedule__additional-tags">
<!-- don't show in schedule -->
<!-- until here -->
</div>
</section>
<section class="dates-frame">
<div class="schedule__dates">

</div>
</section>
</article>

<article class="schedule__item schedule__item__interface has-shape non-spectacle" data-url="saison-21-22/les-balsatoiles.html" id="les-balsatoiles">
		<section class="page-number-frame">
	<div class="schedule__page-number"><p>p.75</p></div>	
</section>	
<section class="title-frame">
<h1 class="schedule__title">L’équipe</h1>
<div class="schedule__additional-tags">
<!-- don't show in schedule -->
<!-- until here -->
</div>
</section>
<section class="dates-frame">
<div class="schedule__dates">

</div>
</section>
</article>
<article class="schedule__item schedule__item__interface has-shape non-spectacle soutiens" data-url="saison-21-22/les-balsatoiles.html" id="les-balsatoiles">
		<section class="page-number-frame">
	<div class="schedule__page-number"><p>p.76</p></div>	
</section>	
<section class="title-frame">
<h1 class="schedule__title">Les soutiens</h1>
<div class="schedule__additional-tags">
<!-- don't show in schedule -->
<!-- until here -->
</div>
</section>
<section class="dates-frame">
<div class="schedule__dates">

</div>
</section>
</article>



</section>
<!-- <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div> --></div>
</div>
	