<section id="extras">

<h1 id="autour-des-spectacles">Autour des spectacles </h1>
<h2>Ateliers et rencontres</h2>
<p>Chaque saison, plus de deux mille personnes (tous âges confondus) bénéficient, gratuitement, d’ateliers et d’animations, ainsi que de rencontres avec les artistes.</p>
<p>La politique culturelle du théâtre la Balsamine permet d’offrir, systématiquement, un accompagnement pédagogique (sorties scolaires en groupes) et ce, dans l’intention d’optimaliser la rencontre des publics avec l’œuvre en devenir. Cet accompagnement est dispensé avant, et/ou, après la représentation choisie, soit au sein des infrastructures scolaires, soit au sein du théâtre.</p>
<p>Si le théâtre classique offre des repères rassurants, il ne traduit pas toujours le caractère hybride et complexe du monde dans lequel nous sommes amenés à évoluer. Emmener les jeunes au théâtre pour y voir de la création contemporaine est une occasion de les familiariser avec des codes qui leur sont inhabituels, les amener à déchiffrer des représentations de l’aujourd’hui. Faire vivre l’expérience du contemporain aux jeunes peut être aussi une façon de les aider à démonter un préjugé trop souvent répandu selon lequel l’art théâtral serait une discipline poussiéreuse et archaïque, étrangère à leur culture et à leurs questionnements, qui ne leur appartiendrait pas, qui leur serait inaccessible.</p>
<p>N’hésitez donc pas, si un spectacle de notre saison vous donnait l’envie de mettre en relation vos étudiant.e.s avec la pratique artistique, à nous faire part de vos idées.</p>
<p>Nous organisons régulièrement des dynamiques d’échanges entre étudiant.e.s et professionnel.le.s, sous différentes formes en fonction des projets. Pour exemples : captations vidéo, stages d’observation, interviews d’artistes, séances de croquis, ateliers créatifs…</p>
<p>L’encadrement est assuré par les initiateur.trice.s du projet, en collaboration étroite, avec la médiatrice du théâtre&#x202F;:</p> 
<dl>
<dt>Noemi Tiberghien, romaniste et comédienne</dt>
<dt>Pour la contacter</dt>
<dd>+32 2 737 70 18 </dd>
<dd>noemi.tiberghien@balsamine.be</dd>
</dl>
<h2 id="les-aftershows">Les aftershows</h2>
<p>À l’issue de toutes les deuxièmes représentations des créations, la Balsamine vous propose une rencontre avec l’équipe artistique. Un moment privilégié pour débattre et échanger en toute convivialité. Petite particularité, cette rencontre est menée par un.e autre artiste de la saison.</p>
<h2>La chaîne Balsa</h2>
<dl>
<dt>Retrouvez la chaîne Balsa sur le web </dt>
<dd>https://lucarne.balsamine.be/</dd>
</dl>
<p>Ce média vous permet d’être en lien avec la vie de la Balsa et les artistes qui composent notre saison. C’est pour nous une manière de rester connecté.e.s avec vous au-delà des soirs de représentations.</p>
</section>
<section id="residences">
<h1 id="les-residences">Les résidences</h1>
<h2 class="résidences-artistiques">Les résidences artistiques de création </h2>
<dl>
<!-- 20 octobre 1968, Mexico
t.r.a.n.s.i.t.s.c.a.p.e
Intérieur
Héloïse Jadoul
Le paradoxe de Billy
Ludovic Drouet
Toujours de ¾ face
Loraine Dambermont
Stand By
Thi-Mai Nguyen
ABRI ou les casanier·e·s de l'apocalypse
Le comité des fêtes / Silvio Palomo
</dl>
<h2 class="résidences-artistiques">Les résidences artistiques de recherche </h2>
<dl>
19&#x202F;x&#x202F;Brussels
Transitscape
Ici commence le pays de la liberté
Jean le Peltier
Répétitions générales
Rémi Faure
Ruptuur
Mercedes Dassy
Tourisme
Zoé Nève
Chorale van de Trinette -->
<dd>20 octobre 1968, Mexico</dd>
<dt>t.r.a.n.s.i.t.s.c.a.p.e</dt>
<dd>Intérieur</dd>
<dt>Héloïse Jadoul</dt>
<dd>Le paradoxe de Billy</dd>
<dt>Ludovic Drouet</dt>
<dd>Toujours de ¾ FACE !</dd>
<dt>Loraine Dambermont</dt>
<dd>Stand by</dd>
<dt>Thi-Mai Nguyen</dt>
<dd>Abri ou les casanier·e·s de l'apocalypse</dd>
<dt>Le comité des fêtes / Silvio Palomo</dt>
</dl>
<h2 class="résidences-artistiques">Les résidences artistiques de recherche </h2>
<dl>
<dd>19&#x202F;x&#x202F;Brussels</dd>
<dt>t.r.a.n.s.i.t.s.c.a.p.e</dt>
<dd>Ici commence le pays de la liberté</dd>
<dt style="margin-bottom: 20pt;">Jean le Peltier</dt>
<dd>Répétitions générales</dd>
<dt>Rémi Faure</dt>
<dd>Ruptuur</dd>
<dt>Mercedes Dassy</dt>
<dd>Touriste</dd>
<dt>Zoé Nève</dt>
<dd>Chorale van de Trinette</dt>
</dl>
<h2 class="résidences-artistiques">Les résidences artistiques administratives</h2>
<dl>
<dd>Martine Wijckaert</dd>
<dd>Le Théâtre du Tilleul</dd>
</dl>
<h2 class="résidences-artistiques" id="residence-rem">Résidences artistiques dans le cadre du réseau R.E.M.</h2> 
<figure class="logos" id="rem"><img src="../../content/images/logos/REM.svg"/></figure>
<h3>Résidences Européennes en Mouvement</h3>
<h3 class="h3-rem">Une coopération Balsamine / Théâtre de Poche / Le Grütli (Bruxelles / Hédé-Bazouges / Genève)</h3>
<p>Depuis deux ans, nous amorçons la construction d’un réseau de résidences avec deux autres structures&#x202F;: le Grütli à Genève et le Théâtre de Poche à Hédé-Bazouges en Bretagne. Ce maillage repose d’abord sur le partage de nos expériences respectives et sur cette volonté de se confronter à d’autres expertises d’accompagnement d’artistes, d’autres fonctionnements et de mutualiser nos moyens. Des liens humains se sont tissés au gré de nos échanges et aujourd’hui, forts de nos spécificités, nous invitons des artistes à vivre et travailler dans nos structures et à y développer leurs projets.</p>
<dl>
<dt>Les artistes soutenus présentement par cette coopération sont</dt>
<dd>Lucile Saada Choquet </dd>
<dt>Jusque dans nos lits</dt>

<dd>Justine Bougerol et Silvio Palomo</dd>
<dt>Terrain Vague &mdash; Module 2</dt>

<dd>Dominique Gilliot, Antoine Pesle et Juliette Chaigneau</dd>
<dt>France Anodine</dt>
<dt>À propos de…</dt>

<dd>Kajige Kagame</dd>
<dt>Sans Grace</dt>

<dd>Le joli collectif</dd>
<dt>Justice-s</dt>
</dl>
</section>
<section id="pratiques">
<h1 id="infos-pratiques">Infos pratiques</h1>
<h2 id="accès">Accès</h2>
<p>Tous les chemins mènent à la Balsa</p>
<figure id="plan"><img src="../../content/images/plan.png"/></figure>
<dl style="float:left;">
<dt>La Balsamine</dt>
<dt>Avenue Félix Marchal 1</dt>
<dt>1030 Bruxelles</dt>
</dl>
<dl style="clear:both;display: inline-block;margin-left: 20pt;">
<dt >Administration</dt>
<dt>+32 2 732 96 18</dt>
<dt>info@balsamine.be</dt>
</dl>
<dl>
<figure id="mobilite" style=""><img src="../../content/images/pictogramme-personne-a-mobilite-reduite.jpg.svg"/></figure>
<p style="display: block; ">L’accessibilité de nos salles aux personnes à mobilité réduite est possible mais pas aisée. Lors de vos réservations, nous vous remercions de bien vouloir le notifier pour que nous puissions vous accueillir au mieux.</p>
</dl>

<h2 id="réservations">Réservations</h2>
<dl>
<dt>Par téléphone</dt>
<dd>+32 2 735 64 68</dd>
<p>Du lundi au vendredi, de 14h30 à 17h30, les samedis jour de représentations de 16h30 à 19h, et les soirs de représentations jusqu’à 19h. En dehors de ces heures, un répondeur prend vos réservations.</p>
</dl>
<dl>
<dt>Par e‑mail</dt>
<dd>reservation@balsamine.be </dd>
<p>en précisant votre nom et votre prénom, le nom du spectacle, la date de représentation, le(s) tarif(s) dont vous bénéficiez et le nombre de places souhaitées.</p>
</dl>
<dl>
<dt>Par le site internet</dt>
<dd>www.balsamine.be</dd>
<p>Accessible 24h/24</p>
</dl>
<h2>Moyens de paiement et retrait des places</h2>
<dl>
<dt>Préventes</dt>
<p>Pour bénéficier du tarif prévente, le paiement doit avoir lieu 48h avant la date de représentation choisie. Par virement bancaire au numéro de compte suivant</p>
IBAN BE15 0680 6267 2030 — BIC GKCCBEBB
</dl>
<dl>
<dt>Sur place</dt>
<p>La billetterie est ouverte les soirs de représentation à partir de 19h.</p>
</dl>
<dl>
Règle
<p>Toute place achetée ne peut en aucun cas bénéficier d'un remboursement. Cependant, un report de place est possible sur un autre spectacle de la même saison.</p>
</dl>

<h2 id="bar-et-restauration">Bar et restauration</h2>
<dl>
<dt>Le bar est ouvert</dt>
<dt id="bar">— à 19h pour les représentations débutant à 20h30</dt>
<dt>— 1h avant toutes les autres représentations</dt>
</dl>
<p>Une petite restauration délicieuse et faite sur place est proposée avant chaque spectacle.</p>

</section>



<section id="tarifs">
<h1 id="les-tarifs">Les tarifs </h1>
<h2 id="tarif-mécène">Mécène → 20 €</h2>
<p>Être mécène, c’est participer à la pérennité des fondamentaux de la Balsamine que sont l’échange et le dialogue, la création et l’enjeu artistique et expérimental. C’est nous aider à soutenir la création artistique. C’est reconnaître et accompagner une politique qui soutient les jeunes artistes. C’est vous associer au pari de la jeunesse et de la rencontre des savoirs issus de différentes disciplines. C’est une opportunité singulière de nous permettre de poursuivre une politique tarifaire accessible à tous.</p>
<h2 id="tarif-plein">Plein → 15&#x202F;€</h2>
<h2 id="tarif-plein-prevente" class="prevente">Prévente → 12&#x202F;€</h2>
<h2 id="tarif-réduit">Réduit → 10&#x202F;€</h2>
<h2 id="tarif-réduit-prevente" class="prevente">Prévente 7&#x202F;€</h2>
<p><span class="asterisque"><sup><img src="../../content/images/dessin/picto/picto_dodu.svg"></sup></span>Étudiants, + de 60 ans, demandeurs d’emploi, professionnels du spectacle, schaerbeekois</p>
<h2 id="tarif-enfant">Enfant → 7&#x202F;€</h2>
<p>- de 12 ans</p>
<h2 id="tarif-étudiants">Étudiants → 6&#x202F;€</h2>
<p>en écoles supérieures artistiques</p>
<h2 id="tarif-spécial-au-pied-des-montagnes">Spécial Au pied des montagnes → 7&#x202F;€</h2>
<figure id="article27" style=""><img src="../../content/images/logos/article27.svg"/></figure>
<figure id="arsene50" style=""><img src="../../content/images/logos/arsene50.svg"/></figure>
<h2 id="article-27-et-arsène-50">Article 27 et <br/>Arsène 50</h2>


<h2 id="tarif-solidaire-united-stages">Solidaire</h2>
<figure id="united" style=""><img src="../../content/images/united-stages.svg"/></figure>

<p>Au sein du Label United Stages, la Balsamine réalise également une grande collecte de fonds à destination d’associations qui accompagnent au quotidien les plus fragilisés. Vous pouvez être solidaire de cette initiative à tout moment de la saison. Il vous suffit d’ajouter le montant que vous souhaitez verser à celui des places achetées.</p>
<h2 id="tarifs-de-groupe-à-partir-de-10-personnes">Groupes</h2>
<p>à partir de 10 personnes</p>
<h2 class="groupes">Adultes <br/>→ 10&#x202F;€ la place <br/>+ 1 place offerte à l’organisateur</h2> 
<h2 class="groupes">Étudiants <br/>→ 7&#x202F;€ la place <br/>+ 1 place offerte à l’enseignant</h2>
<p>Le paiement des réservations de groupe doit s’effectuer 10 jours avant la date de représentation choisie</p>
</section>

<section id="equipe">

<h1 id="léquipe">L’équipe</h1>
<dl>

<dt>Direction générale et artistique</dt>
<dd>Monica Gomes</dd>
<dt><!-- Direction générale et artistique  -->À partir de janvier 2022</dt>
<dd>Isabelle Bats et Mathias Varenne</dd>
<dt>Direction financière et administrative</dt>
<dd>Morgan Brunea</dd>
<dt><!-- Direction financière et administrative  -->À partir de novembre 2021</dt>
<dd>Gabriel Nahoum</dd>
<dt>Coordination générale, communication <br/>et accueil compagnies</dt>
<dd>Fanny Arvieu</dd>
<dt>Presse, promotion et relations publiques</dt>
<dd>Priscilla Kristy Lowe</dd>
<dt>Comédienne et romaniste &mdash; Médiation écoles <br/>et associations</dt>
<dd>Noemi Tiberghien</dd>
<dt>Production et diffusion</dt>
<dd> Clément Dallex Mabille</dd>
<dt>Metteur en scène et auteur &mdash; Artiste associée</dt>
<dd>Martine Wijckaert</dd>
<dt>Résidence artistique et administrative</dt>
<dd>Théâtre du Tilleul</dd>
<dt>Direction technique</dt>
<dd>Jef Philips</dd>
<dt>Régie</dt>
<dd>Rémy Urbain</dd>
<dt>Stagiaire régie</dt>
<dd>Anita Kostabi</dd>
<dt>Restauration</dt>
<dd>Arnout Vandamme</dd>
<dt>Photographe de plateau associé</dt>
<dd>Hichem Dahes</dd>
<dt>Designers graphique associés</dt>
<dd>Open Source Publishing</dd>
<dt>Le Conseil d’administration</dt>
<dd>Caroline de Poorter, Isabelle Dumont, André Jadoul, Estelle Marion, <br/>Francis Metzger, Emmanuelle Nizou et Christine Rygaert</dd>
  <dl>
</section>
<section id="soutiens">

<h1 id="les-soutients">Les soutiens</h1>
<figure id="logos-partenaires" style=""><img src="../../content/images/logos-all-large.svg"/></figure>

<p>La Balsamine est subventionnée par la Fédération Wallonie-Bruxelles et fait partie du réseau des Scènes chorégraphiques de la Commission Communautaire française de la Région de Bruxelles-Capitale.</p>
<p>La Balsamine reçoit aussi le soutien de Wallonie-Bruxelles Théâtre/Danse et de Wallonie-Bruxelles International.</p>
<p>La Balsamine est signataire de la charte United Stages. UNITED STAGES ce sont une cinquantaine de structures et associations culturelles qui s’engagent publiquement à défendre et promouvoir un projet de société progressiste, solidaire et respectueux des droits humains.</p>

<div id="furo">
<img src="../../content/images/Furoshiki-1-1-flat.svg"/>
</div>

</section> 

