<!-- AUTEUR INCONNU --> 

<section id="auteur-inconnu">

    <figure class="image-cover"><img src="/../../content/images/pages-inconnu.png" /><figcaption>Photo&#x202F;: Hichem Dahes</figcaption></figure>

    <img class="image-forme" src="/../../content/images/dessin/pink/trace-inconnu.svg" />

    <h1 class="title" >Auteur inconnu</h1>

    <div class="schedule__dates">
        <time class="start-date" datetime="2021-09-16 20:00:00">16.09<span class="year">.21</span></time>
        <span></span>
        <time class="end-date" datetime="2021-09-22 20:00:00">22.09<span class="year">.21</span></time>
        <div class="date--detail">
            <!-- <h3 id="du-16-au-22-septembre-2021">Du 16 au 22 septembre 2021</h3> -->
            <h3>16, 17 à 20h &mdash; 18&nbsp;à&nbsp;18h &mdash; 20,&nbsp;21&nbsp;à&nbsp;13h30 &mdash; 21,&nbsp;22&nbsp;à&nbsp;20h</h3>
        </div>
    </div>

    <h2 class="authors">Anaïs Moreau</h2>
    <h3 class="event-type" id="création-théâtre-report-saison-20-21">Création théâtre</h3>
    <h3 class="event-type">Report saison 20-21</h3>
    <p class="phrase-intro">De l'intime à l'extime&#x202F;: l'expérience du jeu <br/>de soi…</p>
    <p>La nuit du 18 septembre 1998 - elle a 16 ans - elle se retrouve dans une chambre d'hôtel avec un jeune homme séduisant qu'elle vient de rencontrer, le soir-même, à la braderie du Canal Saint-Martin à Rennes. C'est sa «&#x202F;première fois&#x202F;». Et cela se passe mal. Elle découvre la sexualité sous la forme de la contrainte. Crûment, on appelle cela&#x202F;: viol. Un acte qu'elle garde, anonyme, pendant sept ans. Durant de nombreuses années, ses relations amoureuses sont comme des répétitions de cette première expérience&#x202F;: violences, névroses, rapports de domination et de soumission…</p>
    <p>Dix-sept ans plus tard, elle porte plainte avec les souvenirs qui lui restent. Le dossier sera classé sans suite. Motif&#x202F;: auteur inconnu. C'est de cette expérience-là, réelle, brute, autobiographique, que Anaïs Moreau a voulu partir, pour l'ausculter, la partager et la porter vers une possible élucidation.</p>
    

    <figure class="image-extra"><img src="https://cloud.osp.kitchen/s/8BQerYPosRKEfEX/preview"/><figcaption>Photos&#x202F;: Hichem Dahes</figcaption></figure>
    <ol>

        <li><span>Jeu</span> Anaïs&#xa0;Moreau et Renaud&#xa0;Garnier-Fourniguet</li>
        <li><span>Conception</span> Anaïs&#xa0;Moreau</li>
        <li><span>Collaboration artistique</span> Judith&#xa0;Ribardière</li>
        <li><span>Création sonore</span> Loup&#xa0;Mormont</li>
        <li><span>Création lumière</span> Nicolas&#xa0;Thill</li>
        <li><span>Scénographie et costumes</span> Camille&#xa0;Collin</li><br/>
        <li><span>Aide à l'écriture et au jeu</span> Nicolas&#xa0;Luçon</li>
        <li><span>Régie son</span> Antonin&#xa0;Simon</li><br/>
        <li><span>Stagiaire son</span> Némo&#xa0;Camus</li>
        <li><span>Coproduction et production déléguée</span> Théâtre la Balsamine</li>
        <li><span>Soutiens</span>&nbsp;Equal.brussels (Région Bruxelles-Capitale), Théâtre &amp; Publics, La Chaufferie, BAMP, Centre Culturel de la Vénerie, Zinneke ASBL, Agnès Limbos</li>
    </ol>

    <figure class="image-extra"><img src="https://cloud.osp.kitchen/s/Ya5ABKXYgWHccek/preview"/></figure>
    <!-- <p><img src="media/image1.png" style="width:2.25694in;height:0.31944in" /></p> -->
    <p class="production">A l’issue de chaque représentation, un temps d’échange et de débat spécifique est prévu. </p>
    <figure id="logo-equal" style=""><img src="../../content/images/logos/equal_brussels.svg"/></figure>

</section>


<!-- FETE DE LA COMMUNAUTE FRANCE --> 

<section>
    <figure class="image-cover"><img src="/../../content/images/pages-comunaute-02.svg"/><figcaption></figcaption></figure>

    <h1 class="title">Schaerbeek fête la Communauté française de Belgique </h1>
    <div class="schedule__dates">
        <time class="start-date" datetime="2021-09-16 20:00:00">25.09<span class="year">.21</span></time>
        <div class="date--detail">
        </div>
    </div>
    <h3 class="event-type">La Balsamine propose à cette occasion un après-midi festif et familial en extérieur dans le quartier Dailly, devant le théâtre et dans le parc Scutenaire.</h3>
    <h3 class="event-type" style="margin-top: 8pt;">Grâce au soutien de la Commune de Schaerbeek et de la Cocof, les 3 spectacles de cirque programmés sont accessibles gratuitement à tou.te.s. Réservations indispensables&#x202F;!</h3>
</section>
<section>
    <figure class="image-cover-festival"><img src="https://cloud.osp.kitchen/s/yiLgHPayMoSwWne/preview"><figcaption>Photo&#x202F;: Guadalupe Aizaga</figcaption></figure>

    <h2 class="title"> Cruda</h2>
    <h3 class="authors" id="collectif-a-sens-unique">Collectif A Sens Unique</h3>
    <h3 class="event-type-festival" id="spectacle-dacrobatie">Spectacle d’acrobatie</h3>
        <div class="schedule__dates">
    <div class="date--detail">
            <!-- <h3 id="du-16-au-22-septembre-2021">Du 16 au 22 septembre 2021</h3> -->
            <h3>25 à 15h</h3>
        </div>
    </div>
    <p>Ce spectacle est une plongée humoristique dans le passé d’une ancienne gymnaste. Elle était douée, très douée … mais pas assez pour qu’on se souvienne d’elle. A coup d’acrobatie et en tordant son corps dans tous les sens, elle nous avoue tout&#x202F;! Et ça la libère autant que ça nous libère&#x202F;!</p>
    <ol type="1">

        <li><span>De et avec</span> Constanza&#xa0;Sommi<li>
                <li><span>Mise en scène</span> Sara&#xa0;Desprez</li>
                <li><span>Regards clownesques</span> Sky&#xa0;de&#xa0;Sela et Carmen&#xa0;Tagle</li>
                <li><span>Regards ponctuels</span> Benjamin&#xa0;Renard, Noémie&#xa0;Armbruster, Christine&#xa0;Daigle</li>
                <li><span>Technique</span> Thibaud&#xa0;Rocaboy / Thibault&#xa0;Condy</li>
                <li><span>Administration</span> L’Envoleur (Guillaume&#xa0;Cornu)</li>
                <li><span>Soutiens</span> Région Pays de la Loire, Cité du cirque – Pôle régional cirque Le Mans, L’Espace Catastrophe Centre International de Création des Arts du Cirque (BE), Latitude 50 - Pôle arts du cirque et de la rue, Centre Culturel Wolubilis, Cirque Exalté, Lézarti’cirque, Cie Mesdemoiselles</li>
    </ol>
</section>
<section>
    <figure class="image-cover-festival"><img src=""><figcaption>Photo&#x202F;: Émilie Michel</figcaption></figure>

    <h2 class="title" id="mousse">Mousse </h2>
    <h3 class="authors" id="cie-scratch">Cie Scratch </h3>
    <h3 class="event-type-festival" id="spectacle-de-jonglage">Spectacle de jonglage</h3>
    <div class="schedule__dates">
        <div class="date--detail">
            <!-- <h3 id="du-16-au-22-septembre-2021">Du 16 au 22 septembre 2021</h3> -->
            <h3>25 à 16h</h3>
        </div>
    </div>

    <p><em>Mousse</em> est une ode au doute. Un spectacle qui évoque nos instants de solitude, toutes ces choses qu’on fait dans notre coin et qu’on n’ose pas partager. Dans <em>Mousse</em>, il y aura un micro, des balles, une craie, un jardinier, une plante, un k-way de grand-mère, France Gall et puis Barbara, des yeux ouverts, un coiffeur professionnel et un grand karaoké. C’est un spectacle de jonglerie punk, triste et rigolo.</p>
    <ol type="1">
        <li><span>Jongleuse</span> Gaëlle&#xa0;Coppée</li>
        <li><span>Technicien</span> Denis&#xa0;Michiels</li>
        <li><span>Coach</span> Bram&#xa0;Dobbelaere</li>
        <li><span>Conseils en jeu clownesque</span> Christine&#xa0;Rossignol-Dallaire</li>
        <li><span>Conseils en écriture dramaturgique</span> Gaël&#xa0;Santisteva</li>
        <li><span>Conseils en jonglerie et amitié</span> Eric&#xa0;Longequel</li>
        <li><span>Diffusion</span> Chantal&#xa0;Heck – La&#xa0;chouette&#xa0;diffusion</li>
        <li><span>Production</span> Scratch</li>
        <li><span>Coproductions</span> Latitude 50 – Pôle des arts du cirque et de la rue, Centre Culturel du Brabant Wallon</li>
        <li><span>Accueils en résidence</span> Espace Catastrophe – </br>Centre International de Création des Arts du Cirque, Centre Culturel du</br>Brabant Wallon, Latitude 50 – Pôle des arts du cirque et de la rue, Circus Centrum, Festival International des arts de la rue de Chassepierre, Centre Culturel du Wolubilis, Centre Culturel d’Ath – CAR, La Maison des Jonglages, Maison de la création, Petit théâtre de la grande vie, PERPLX, Lauréat CircusNext+ (Co-funded by the Erasmus+ Programme of the European Union), Subtopia, Cirqueon</li>
        <li><span>Soutiens</span> Wallonie-Bruxelles Théâtre-Danse, Fédération Wallonie-Bruxelles, Wallonie-Bruxelles International. Le projet a bénéficié du&nbsp;dispositif «&#x202F;écriture &nbsp;en campagne&#x202F;» (Latitude 50 – La Chaufferie-Acte1, la&nbsp;SACD et la SSA)</li>
    </ol>
</section>
<section>
        <figure class="image-cover-festival"><img src="https://cloud.osp.kitchen/s/EdP54tC2TZtCycM/preview"><figcaption>Photo&#x202F;: Tom Boccara</figcaption></figure>

    <h2 class="title" id="encore-heureux">Encore heureux&#x202F;!</h2>
    <h3 class="authors" id="cie-la-scie-du-bourgeon">Cie La Scie du BOURGEON</h3>
    <h3 class="event-type-festival" id="spectacle-darts-de-rue">Spectacle d’arts de rue</h3>
    <div class="schedule__dates">
        <div class="date--detail">
            <!-- <h3 id="du-16-au-22-septembre-2021">Du 16 au 22 septembre 2021</h3> -->
                <h3 class="event-type-festival">25 à 17h</h3>

        </div>
    </div>

    <p>De la tendresse de la jeunesse à la fougueuse passion de la vieillesse, et l’inverse. Délices du temps qui passe et imprègne les corps d’une histoire singulière. Un homme, une femme écrivent leur histoire au présent, au futur et au passé. Le spectateur devient complice de ce jeu intime de force, fragilité et éclats de rire.</p>
    <ol type="1">
        <li><span>De et avec</span> Elsa&#xa0;Bouchez et Philippe&#xa0;Droz</li>
        <li><span>Régie</span> Valentin&#xa0;Boucq</li><br/>
        <li><span>Diffusion</span> Espace&#xa0;Catastrophe</li>
        <li><span>Soutiens</span> Espace Catastrophe – Centre International de Création des Arts du Cirque, Tout Mons Danse, Centre culturel Wolubilis et Les Fêtes Romanes</li>
    </ol>

    <figure class="image-trait"><img style="width:130%;margin-top:100px;margin-left:100px;"  src="/../../content/images/dessin/trait/arbres.png"/></figure>
</section>


<!-- INTERIEUR -->

<section id="interieur">
    <figure class="image-cover"><img  src="/../../content/images/pages-interieur.png" /><figcaption>Photo&#x202F;: Bertrand Nodet</figcaption></figure>
    <img class="image-forme" src="/../../content/images/dessin/pink/fenetre-interieur.svg" />

    <h1 class="title">Intérieur </h1>
    <h2 class="authors" id="de-maurice-maeterlinck">de Maurice Maeterlinck</h2>
    <h2 class="authors" id="héloïse-jadoul">Héloïse Jadoul</h2>
    <h3 class="event-type" id="création-théâtre">Création théâtre </h3>


    <div class="schedule__dates">
        <time class="start-date" datetime="2021-09-28 00:00:00">28.09<span class="year">.21</span></time>
        <span></span>
        <time class="end-date" datetime="2021-10-08 00:00:00">08.10<span class="year">.21</span></time>
        <div class="date--detail">
            <h3>28→1 et 5→8 à 20h30 &mdash; 7 à 13h30 et à 20h30</h3>
        </div>
    </div>



    <p class="phrase-intro">«&#x202F;Et rien, si ce n’est <br/>le silence n’aura <br/>eu d’importance…&#x202F;» <br/>&mdash; <em>Le Trésor <br/>des humbles</em> Maeterlinck</p>
    <p>Intérieur nuit. Une veillée sous la lampe. L’Enfant dort au centre de la pièce. Le Père, La Mère et les deux jeunes Filles attendent.</p>
    <p>De l’autre côté des fenêtres, le Vieillard et l’Étranger attendent eux aussi, dépositaires d’une sombre annonce&#x202F;: le corps sans vie d’une jeune fille vient d’être repêché dans le fleuve. Comment l’annoncer&#x202F;?</p>
    <p>En abordant ce court texte de Maurice Maeterlinck, la metteuse en scène Héloïse Jadoul questionne notre rapport contemporain à la mort, s’interroge sur la porosité possible entre ce monde tangible et celui d’après, tourné vers l'incertitude et l'inconnu. </p>
    <ol>
        <li><span>Texte</span> Maurice&#xa0;Maeterlinck</li>
        <li><span>Interprétation</span> Sarah&#xa0;Grin, Ophélie&#xa0;Honoré, Manon&#xa0;Joannotéguy, Alexandre&#xa0;Trocki et une dizaine de participant·es bruxellois·es</li>
        <li><span>Mise en scène</span> Héloïse&#xa0;Jadoul</li>
        <li><span>Régie plateau</span> Sandrine&#xa0;Nicaise</li>
        <li><span>Régie lumière</span> Amaury&#xa0;Baronnet</li>
        <li><span>Régie son</span> Jérémy&#xa0;Michel</li>
        <li><span>Création <br/>sonore</span> Olmo&#xa0;Missaglia</li>
        <li><span>Création lumière et régie générale</span> Angela&#xa0;Massoni</li>
        <li><span>Scénographie et costumes</span> Bertrand&#xa0;Nodet</li>
        <li><span>Construction décor</span> Boris&#xa0;Dambly, Sébastien&#xa0;Munck, Eugénie&#xa0;Obolensky et Olivier&#xa0;Waterkeyn</li>
        <li><span>Création chorégraphique</span> Lorenzo&#xa0;De&#xa0;Angelis</li>
        <li><span>Stagiaire assistanat à la mise en scène</span> Mizuki&#xa0;Kondo</li>
        <li><span>Un remerciement tout particulier à</span> Luc&#xa0;Roussel, Léonce&#xa0;Wapelhorst et Maxime&#xa0;Deckers </li>
        <li><span>Production déléguée</span> Théâtre la Balsamine </li>
        <li><span>Coproductions</span> MARS-Mons arts de la scène, Théâtre la Balsamine, maison de la culture de Tournai/ maison de création et la Coop Asbl – Shelter prod</li>
        <li><span>Soutiens</span> Fédération Wallonie-Bruxelles - Service du Théâtre, Taxshelter.be, ING, Tax-Shelter du Gouvernement Fédéral Belge</li>
    </ol>

    <h2 class="extras-interieur">Tournée</h2>
    <dl>
    <dt>du 13 au 15 octobre 2021</dt>
    <dd>Mars-Mons arts de la Scène (Théâtre le Manège)</dd>
    <dt>les 8 et 9 mars 2022</dt>
    <dd>la maison de la culture de Tournai</dd>
    </dl>

</section>
<section id="">
   <h2 class="title" id="extras-interieur">Je vous annonce «&#x202F;un oiseau léger&#x202F;»</h2>
    <h3 class="authors" id="cie-scratch">Héloïse Jadoul</h3>
    <h3 class="event-type-festival" id="spectacle-de-jonglage">Installation sonore</h3>
    <h3 class="event-type-festival" >Foyer de la Balsamine</h3>
    <h3 class="event-type-festival" >Entrée gratuite mais réservation indispensable </h3>
    <div class="schedule__dates">
        <div class="date--detail">
            <!-- <h3 id="du-16-au-22-septembre-2021">Du 16 au 22 septembre 2021</h3> -->
            <h3>28.09 → 8.10</h3>
        </div>
    </div>

    <p class="phrase-intro">Il est dit que les oiseaux chantent à l’aube pour donner le signe qu’ils sont encore en vie…</p>
    <p>Recevoir l’annonce d’un décès, critique point de bascule entre ignorance et impossibilité d’ignorer par la suite. Après elle, s’ensuit l’étrange sensation que le monde ne s’est pas arrêté de tourner pour autant.</p>
    <p>Faire l’annonce d’un décès. Comment articuler ce que les mots ne suffisent pas à nommer&#x202F;? Qui, aujourd’hui, dans la société civile ou au sein des familles, porte le poids de cette responsabilité&#x202F;?</p>
    <p>Une cabine téléphonique posée dans le foyer de la Balsamine. À l’intérieur, un combiné qui attend une oreille attentive, un interlocuteur ou une interlocutrice pour écouter les récits de celles et ceux qui ont été - un jour - messager·ère ou receveur·euse de la douloureuse annonce.</p>
    <p>Avec cette seule question&#x202F;: lorsque l’un ou l’une d’entre nous s’arrête de chanter, comment l’annoncer aux autres&#x202F;?
      </p>  
      <ol>
    <li><span>Un projet initié par</span> Héloïse&#xa0;Jadoul</li>
    <li><span>Récolte des témoignages et conception</span> Héloïse&#xa0;Jadoul et Ophélie&#xa0;Honoré</li>
    <li><span>Montage sonore</span> Olmo&#xa0;Missaglia</li>
    <li><span>Production</span> Théâtre la Balsamine</li>
</ol>
</section>


<!-- OCTOBRE 1968 MEXIXO -->

<section id="mexico">
    <figure class="image-cover"><img src="/../../content/images/pages-mexico.png" /><figcaption>Photo&#x202F;: Thy Nguyên Truong Minh</figcaption></figure>
    <img class="image-forme" src="/../../content/images/dessin/pink/lego-mexico.svg" />
    <h1 class="title" >20 octobre 1968, Mexico</h1>
    <h2 class="authors" id="">Pierre Larauza + Emmanuelle Vincent / t.r.a.n.s.i.t.s.c.a.p.e</h2>
    <h3 class="event-type">Création danse</h3>
    <div class="schedule__dates">
        <time class="start-date" datetime="2021-10-15 20:30:00">15.10<span class="year">.21</span></time>
        <span></span>
        <time class="end-date" datetime="2021-10-17 17:00:00">17.10<span class="year">.21</span></time>
        <div class="date--detail">
            <h3>15, 16 à 20h30 &mdash; 17 à 17h</h3>
        </div>
    </div>

    <p class="phrase-intro">Une pièce chorégraphique <br/>et sportive <br/>de Pierre Larauza <br/>et Emmanuelle Vincent</p>
    <p>Le 20 octobre 1968, aux Jeux olympiques de Mexico, un sauteur en hauteur déjoue les conventions en proposant un mouvement inédit. Après concertation, les juges homologuent le saut. L’Américain Dick Fosbury, à 21 ans, est sacré champion olympique.</p>
    <p>Ce spectacle s’empare de ce mouvement culte comme allégorie chorégraphique de la transgression. Danseuses, réel.le.s sauteur·se·s et corps essoufflés se donnent le relais dans cette pièce qui bouscule la frontière entre fait et fiction, geste sportif et mouvement dansé.</p>
    <p>Au-delà d’un hommage à l’irrévérence de Dick Fosbury, <em>20 octobre 1968, Mexico</em> <br/>se veut le miroir chorégraphique de notre difficulté à franchir les murs trop souvent érigés.</p>
    <ol type="1">
        <li><span>Chorégraphie et scénographie</span> Pierre&#xa0;Larauza et Emmanuelle&#xa0;Vincent</li>
        <li><span>Danseuses</span> Manuela&#xa0;Fiori&#xa0;Schneider, Gene&#xa0;Francart, Emmanuelle&#xa0;Vincent</li>
        <li><span>Performeur</span> Pierre&#xa0;Larauza</li>
        <li><span>Collaboration et participation</span> des résident.e.s de la maison de repos Les Acacias, l'éducateur Youssef&#xa0;Kaddar, les sauteurs et sauteuses en hauteur de clubs d'athlétisme belges</li>
        <li><span>Création son</span> D A N G</li>
        <li><span>Lumière et régie générale</span> Serge&#xa0;Payen</li>
        <li><span>Chargée de production</span> Silvia&#xa0;Gutiérrez&#xa0;Kirchner</li>
        <li><span>Chargée de diffusion</span> Manon&#xa0;André</li>
        <li><span>Assistante scénographie</span> Mathilde&#xa0;Roman</li>
    </ol>
    <ol type="1">
        <li><span>Production</span> t.r.a.n.s.i.t.s.c.a.p.e asbl</li>
        <li><span>Coproduction</span> Charleroi danse – Centre chorégraphique de la Fédération Wallonie-Bruxelles</li>
        <li><span>Soutiens</span> Théâtre la Balsamine, Maison des Cultures et de la Cohésion Sociale de Molenbeek, Théâtre Marni et Zinnema </li>
    </ol>
    <p class="production">t.r.a.n.s.i.t.s.c.a.p.e est soutenu par la Fédération Wallonie-Bruxelles - Service de la danse, la Commune d’Ixelles et accompagné par le Grand Studio</p>

    <figure class="image-trait"><img style="width:80%; margin-top:300px; margin-left:150px;"src="/../../content/images/dessin/trait/fenetre.png"/><figcaption></figcaption></figure>

</section>


<!-- LE PARADOXE DE BILLY  -->

<section id="billy">
    <figure class="image-cover"><img src="/../../content/images/pages-paradoxe.png" /><figcaption>Photo&#x202F;: Ludovic Drouet</figcaption></figure>
    <img class="image-forme" src="/../../content/images/dessin/pink/cerf-paradoxe.svg" />
    <h1 class="title">Le paradoxe de&nbsp;Billy</h1>
    <h2 class="authors" id="ludovic-drouet">Ludovic Drouet</h2>
    <h3 class="event-type" id="création-théâtre-1">Création théâtre</h3>

    <div class="schedule__dates">
        <time class="start-date" datetime="2021-10-19 00:00:00">19.10<span class="year">.21</span></time>
        <span></span>
        <time class="end-date" datetime="2021-10-29 00:00:00">29.10<span class="year">.21</span></time>
        <div class="date--detail">
            <h3>19 → 22 et 26 → 29 à 20h30 </br>21 à 13h30 et à 20h30</h3>
        </div>
    </div>


    <!-- <h3 id="du-19-au-29-octobre">Du 19 au 29 octobre </h3> -->
    <p>La nuit, la forêt. Deux corps sont découverts. Une femme et un homme. Jo et Billy.</p>
    <p>Jo tient encore l'arme du crime mais l'autopsie révèle qu'elle est morte avant Billy.</p>
    <p>Un inspecteur est dépêché sur place. Il croise les versions&#x202F;: règlement de compte ou crime rituel&#x202F;? Aucun détail n'est insignifiant, tel un puzzle. L’enquête se heurte à des incohérences. Quelque chose d'autre semble avoir eu lieu. Au-delà du fait divers, une chasse d'un nouveau genre est en train de s'ouvrir.</p>
    <p class="production">L’auteur de ce thriller original, Ludovic Drouet, a reçu pour <em>Le paradoxe de Billy</em>, le Prix des Metteurs en scène, catégorie hors Belgique. Un prix attribué par le Centre des écritures dramatiques Wallonie-Bruxelles (CED-WB) visant à encourager le dynamisme des écritures de théâtre en Belgique francophone.</p>
    <ol type="1">
        <li><span>Avec</span> Fanny Estève, Lucas Meister, Lionel Ueberschlag, <br/>Samuel Van Der Zwalmen</li>
        <li><span>Voix off</span> Andreas&#xa0;Perschewski</li>
        <li><span>Écriture et <br/>mise en scène</span> Ludovic&#xa0;Drouet </li>
        <li><span>Création lumière</span> Iris&#xa0;Julienne</li>
        <li><span>Création <br/>sonore</span> Gildas&#xa0;Bouchaud</li>
        <li><span>Création costumes et accessoires</span> Rita&#xa0;Belova</li>
        <li><span>Production déléguée</span> Théâtre la Balsamine</li>
        <li><span>Coproductions</span> Festival de Liège, Théâtre la Balsamine, La Coop asbl et ShelterProd</li>
        <li><span>Soutiens</span> Fédération Wallonie-Bruxelles – Service du Théâtre, taxshelter.be, ING, le tax-shelter du gouvernement fédéral belge, Corridor, BAMP, Fabrique de Théâtre du Hainaut, Centre des Arts Scéniques, Centre des écritures dramatiques – résidence de Mariemont, Théâtre de l'L, La Zone, [e]Utopia – Armel&#xa0;Roussel, Ad Lib Diffusion, Théâtre Poème et Le Lac</li>
    </ol>
    <figure class="image-trait"><img style="margin-top:130px; margin-left:90px;" src="/../../content/images/dessin/trait/rideau01.png"/><figcaption></figcaption></figure>
</section>


<!-- LES LIANES -->

<section>
    <figure class="image-cover"><img src="/../../content/images/page-lianes.png" /><figcaption>Photo&#x202F;: Théodore Marković</figcaption></figure>
    <img class="image-forme" src="/../../content/images/dessin/pink/lianes-serpent.svg" />
    <h1 class="title">Les lianes</h1>
    <h2 class="authors" id="françoise-berlanger">Françoise Berlanger</h2>
    <h3 class="event-type" id="théâtre-et-musique-report-saison-20-21">Théâtre et musique <!--(report saison 20-21)--></h3>
            <h3 class="event-type">Report saison 20-21</h3>

    <h3 class="event-type" id="en-partenariat-et-co-présentation-avec-ars-musica">En partenariat et co-présentation avec Ars Musica </h3>
    <h3 class="event-type">La représentation du 16 novembre est en anglais</h3>

    <div class="schedule__dates">
        <time class="start-date" datetime="2021-11-12 20:30:00">12.11<span class="year">.21</span></time>
        <span></span>
        <time class="end-date" datetime="2021-11-17 20:30:00">17.11<span class="year">.21</span></time>
        <div class="date--detail">
            <h3>12, 13, 15, 16 et 17 à 20h30 <br/>14 à 17h</h3>
        </div>
    </div>


    <!-- <h3 id="du-12-au-17-novembre-2021"><strong><br /> -->
    <!-- Du 12 au 17 novembre 2021</strong></h3> -->
    <p class="phrase-intro">D'un corps à l'autre. <br/>Vie et métamorphoses.</p>
    <p>Que deviendra notre monde dans 350 ans&#x202F;? C'est la question édifiante que l'équipe artistique tentera de démêler sur un plateau de théâtre aux accents futuristes. <em>Les lianes</em>, c'est un appel à l'imagination, un spectacle d'anticipation effronté, un territoire où les pensées s'entrechoquent dans un néant sublime et drôle.</p>
    <figure class="image-extra"><img src="https://cloud.osp.kitchen/s/DdckYHqCK66rCwJ/preview"/><figcaption>Photo&#x202F;: Théodore Marković</figcaption></figure>
    <ol type="1">
        <li><span>Jeu</span> Caroline&#xa0;Daish, Fabian&#xa0;Fiorini (piano), Daya&#xa0;Hallé, Mika&#xa0;Oki (musique électronique), Katia&#xa0;Lecomte&#xa0;Mirsky et Emilienne&#xa0;Tempels</li>
        <li><span>Texte et mise <br/>en scène</span> Françoise&#xa0;Berlanger</li>
        <li><span>Composition</span> Fabian&#xa0;Fiorini, Mika&#xa0;Oki, Felipe&#xa0;Radicetti et Sarah&#xa0;Wéry</li>
        <li><span>Scénographie, création vidéo et <br/>lumière</span> Daya&#xa0;Hallé et Katia&#xa0;Lecomte&#xa0;Mirsky (2Files4Free)</li><br/>
        <li><span>Costumes</span> Benjamin&#xa0;Huynh</li>
        <li><span>Création lumière</span> Grégoire&#xa0;Tempels</li><br/>
        <li><span>Son</span> Marc&#xa0;Doutrepont</li>
        <li><span>Dramaturgie</span> Marcel&#xa0;Berlanger</li>
        <li><span>Traduction de <br/>la pièce en anglais</span> Amélie&#xa0;Hayoz</li>
        <li><span>Remerciement</span> Francis&#xa0;Hallé</li>
        <li><span>Chargée <br/>de diffusion</span> Valentine&#xa0;Siboni</li>
        <li><span>Production déléguée</span> Théâtre la Balsamine</li>
        <li><span>Coproductions</span> La Cerisaie asbl, Théâtre la Balsamine, Ars Musica</li><br/>
        <li><span>Soutiens</span> Fédération Wallonie Bruxelles - Service du Théâtre et Service de l'édition et Le Senghor</li>
        <li><span>Aides</span> SACD, Centre des Écritures Dramatiques, Wallonie-Bruxelles International et ITSLIQUID international – Venise</li>
    </ol>
        <figure id="ars-musica" style=""><img src="../../content/images/logos/arsmusica.jpg.svg"/></figure>

        <figure class="image-trait"><img style="width:50%; margin-top:130px;margin-left:270px;"src="/../../content/images/dessin/trait/rocher01.png"/><figcaption></figcaption></figure>

</section>



<!-- XX-TIME --> 

<section id="xx-time">
        <figure class="image-cover"><img src="/../../content/images/pages-xx.png" /><figcaption>Photo&#x202F;: Hichem Dahes</figcaption></figure>

    <img class="image-forme" src="/../../content/images/dessin/pink/chromosome-xxtime.svg" />
    <h1 class="title">XX TIME</h1>

    <h2 class="title" id="toujours-de-34-face-sans-grace-in-my-big-fireworks-i-play-to-you-the-final-bouquet-forces-tout-doit-disparaître-ouvrir-la-voix-jusque-dans-nos-lits">Toujours de 3/4 FACE&#x202F;! / Sans Grace / In my big fireworks I play to you the final bouquet / Forces / Tout doit disparaître / Ouvrir la voix / Jusque dans nos lits</h2>
    <h3 class="event-type" id="création-théâtre-danse-performance-installation-rencontres-débats-projections-documentaires-ateliers">Création, théâtre, danse, performance, installation, rencontres, débats, projection documentaire, ateliers</h3>
            <h3 class="event-type">Report saison 20-21</h3>

		<div class="schedule__dates">
			<time class="start-date" datetime="2021-11-20 00:00:00">20.11<span class="year">.21</span></time>
			<span></span>
			<time class="end-date" datetime="2021-11-28 00:00:00">28.11<span class="year">.21</span></time>
		</div>



    <h3 class="event-type" style="margin-top: 8pt;">Le XX Time est soutenu par la Commission Communautaire française de la Région de Bruxelles-Capitale.</h3>
    <div class="xx-time-sommaire">
    <h2 id="toujours-de-34-face">Toujours de 3/4 FACE&#x202F;!</h2>

    <h3>Loraine Dambermont</h3>
    <h3>Création danse</h3>

    <h3>20.11 et 21.11</h3>

    <h2 id="sans-grace">Sans Grace</h2>
    <h3>Kayije Kagame</h3>
    <h3>Théâtre</h3>
    <h3>20.11 et 21.11</h3>

    <h2 id="in-my-big-fireworks-i-play-to-you-the-final-bouquet">In my big fireworks I play to you the final bouquet</h2>
    <h3>Les soeurs h</h3>
    <h3>Concert performé</h3>
    <h3>26.11 et 27.11</h3>

    <h2 id="forces">Forces</h2>
    <h3>Mannès/Turine/Lemaître</h3>
    <h3>Danse</h3>
    <h3>26.11 et 27.11</h3>

    <h2 id="tout-doit-disparaître">Tout doit disparaître</h2>
    <h3>Ophélie Mac</h3>
    <h3>Performance - démo (+18 ans)</h3>
    <h3>27.11</h3>

    <h2 id="ouvrir-la-voix">Ouvrir la voix</h2>
    <h3>Amandine Gay</h3>
    <h3>Film documentaire</h3>
    <h3>28.11</h3>

    <h2 id="jusque-dans-nos-lits">Jusque dans nos lits</h2>
    <h3>Lucile Saada Choquet – Installation performance</h3>
                <h3 class="event-type">Dates à définir</h3>

</div>
</section>
<!-- 
<section>
    <h2 class="title" id="encore-heureux">Encore heureux&#x202F;!</h2>
    <h3 class="authors" id="cie-la-scie-du-bourgeon">Cie La Scie du BOURGEON</h3>
    <h3 class="event-type-festival" id="spectacle-darts-de-rue">Spectacle d’arts de rue</h3>
    <h3 class="event-type-festival">À 17h</h3>
    <div class="schedule__dates">
        <div class="date--detail">
            <h3>25 à 17h</h3>
        </div>
    </div>
    <figure class="image-cover-festival"><img src="https://cloud.osp.kitchen/s/EdP54tC2TZtCycM/preview"><figcaption>Photo&#x202F;: Tom Boccara</figcaption></figure>

    <p>De la tendresse de la jeunesse à la fougueuse passion de la vieillesse, et l’inverse. Délices du temps qui passe et imprègne les corps d’une histoire singulière. Un homme, une femme écrivent leur histoire au présent, au futur et au passé. Le spectateur devient complice de ce jeu intime de force, fragilité et éclats de rire.</p>
    <ol type="1">
        <li><span>De et avec</span> Elsa Bouchez et Philippe Droz</li>
        <li><span>Régie</span> Valentin Boucq</li>
        <li><span>Diffusion</span> Espace Catastrophe</li>
        <li><span>Soutiens</span> Espace Catastrophe – Centre International de Création des Arts du Cirque, Tout Mons Danse, Centre culturel Wolubilis et Les Fêtes Romanes</li>
    </ol>
</section> -->

<section>

<figure class="image-cover-festival"><img src=""/><figcaption>Photo&#x202F;: Hichem Dahes</figcaption></figure>
    <h2 class="title" id="toujours-de-34-face-1">Toujours de 3/4 FACE&#x202F;!</h2>
    <h3 class="authors" id="loraine-dambermont">Loraine Dambermont  </h3>
    <h3 id="création-danse-1">Création danse</h3>
        <div class="schedule__dates">
        <div class="date--detail">
            <h3>20 à 19h30 &mdash; 21 à 16h</h3>
        </div>
    </div>


    <p>Les pieds bien ancrés dans le sol, la tête haute, le regard alerte, un maintien subtil tel un parfait mélange de décontraction et d’agilité, une posture si précise qu’elle trahit forcément une volonté de perfectionnisme. Selon Johnny Cadillac, ancien karatéka belge, le ¾ face est «&#x202F;la&#x202F;» position de défense par excellence. La chorégraphe et interprète Loraine Dambermont s’approprie ce principe et nous livre ici son guide de survie face à l’expectative du chaos&#x202F;! <em>Toujours de 3/4 FACE&#x202F;!</em>&nbsp;&nbsp;, tel un tutoriel «&#x202F;live&#x202F;», dévoile les secrets de self-défense les plus infaillibles pour faire face aux dangers qui nous guettent. De quoi affronter joyeusement notre futur imprévisible …</p>
    <ol type="1">
			<li><span>Chorégraphe et interprète</span> Loraine&#xa0;Dambermont</li>
			<li><span>Composition</span> Alain&#xa0;Deval</li>
			<li><span>Arrangement son</span> Alain&#xa0;Deval avec la collaboration de Loraine&#xa0;Dambermont, Lynn&#xa0;Suemitsu (Golin), Victor&#xa0;Petit et Gavin&#xa0;Vanaelst</li><br/>
			<li><span>Création lumières</span>  Rémy&#xa0;Urbain</li>
			<li><span>Regards extérieurs</span>  Noora&#xa0;Hannula</li>
			<br/><li><span>Soutiens</span> Théâtre la Balsamine, Théâtre Marni, Garage29, La Roseraie, Iles Suitcase, L’Armande, CC Bruegel, Perpetum Mobile Festival Bruxelles, Muziekacademie van Anderlecht, Dance Flavours, Theater aan de Rijn Arnhem, Le Studio 28 Roubaix</li>
			<li><span>Remerciement</span> Johnny Cadillac</li>
    </ol>
</section>

<section>
        <figure class="image-cover-festival"><img src=""/><figcaption>Photo&#x202F;: Eden Levi Am</figcaption></figure>

    <h2 id="sans-grace-1">Sans Grace</h2>
    <h3>Kayije Kagame</h3>
    <h3>Théâtre</h3>
        <div class="schedule__dates">
        <div class="date--detail">
            <h3>20 à 21h &mdash; 21 à 17h</h3>
        </div>
    </div>


    <p>«&#x202F;Je suis la voix de Grace, parce qu’elle n’est pas là.&#x202F;» Comment s’emparer de l’absence d’une personne et restituer au plus près sa voix&#x202F;? <em>Sans Grace</em> explore l’univers polysémique d’un duo d’actrices, Grace Seri et Kayije Kagame<!-- , de leur relation à l’imaginaire au pouvoir d’évasion -->. Comment se soustraire au spectacle tout en étant sur scène&#x202F;? Que signifie disparaître lorsqu’on est présente face à un public&#x202F;? Ces questions proposent <!-- ici  -->des réponses en pratique et en actes, <!-- que ce soit --> dans l’épuisement du jeu par la parole et dans l’expérience de seuils d’intensité, qui puissent ouvrir ces paradoxes et déplier leurs possibles.</p>
    <ol type="1">
			<li><span>Conception</span> Kayije&#xa0;Kagame</li>
			<li><span>Coécriture, voix</span> Grace&#xa0;Seri</li>
			<li><span>Conception <br/>costume</span> Marvin&#xa0;M’toumo</li>
			<li><span>Assistante costume</span> Chaïm&#xa0;Vischel</li>
			<li><span>Organisation sonore</span> Hugo&#xa0;Radi</li>
			<li><span>Conception lumière</span> Dinko&#xa0;Baresic</li>
            <li><span>Jeu</span> Kayije Kagame</li>
			<li><span>Administration</span> Cie Victor – Donatien&#xa0;Roustant</li>
			<li><span>Soutiens à la tournée</span>Le Grütli – Centre de production et de diffusion des Arts vivants, Genève, Arsenic – Lausanne, la Balsamine – Bruxelles, le Centre Culturel Suisse Paris, la Corodis, le Canton de Genève, Pro Helvetia.</li>
            <li><span>Remerciements</span> Hélène M’bengui, Nathalie Ata Nguepnjo Nguissi, Christophe Kihm, Lucas Cantori, Matthieu Vétois, Pierre Mifsud, TU-Théâtre de l’Usine - Genève. </li>
    </ol>
            <figure id="rem" style=""><img src="../../content/images/logos/REM.svg"/></figure>

    <p class="production">Performance créée à la résidence d’artistes La Becque (CH) </br>et présentée aux Urbaines, Lausanne (2019) ainsi que dans <br/>le cadre du Festival GO GO GO au Grütli. La Balsamine accueille <br/>ce projet dans le cadre du Réseau REM – Résidences Européennes en Mouvement – Une collaboration Balsamine, Grütli, Théâtre de Poche <br/>de Hédé-Bazouges </p>

</section>
<section>
<figure class="image-cover-festival"><img src=""/><figcaption>Photo&#x202F;: Margot Montigny / CCS</figcaption></figure>
    <h2 id="in-my-big-fireworks-i-play-to-you-the-final-bouquet-1">In my big fireworks I play to you the final bouquet</h2>
    <h3 id="les-sœurs-h">Les sœurs h</h3>
    <h3 id="concert-performé">Concert performé</h3>
            <div class="schedule__dates">
        <div class="date--detail">
            <h3>26, 27 à 19h30</h3>
        </div>
    </div>
    
    <p>Dans un entre-deux flottant, trop rose et trop pailleté, deux adolescentes et un musicien naviguent à vue. Dans cet espace hybride où se mêlent musique live, vidéo, écriture et performance, Les sœurs h explorent le passage de l’enfance à l’âge adulte comme un plongeon dans l’inconnu. À travers la performance, les artistes questionnent les notions de transition et de construction identitaire, caractéristiques de l’adolescence. Période d’incertitudes, de tentatives, de désirs, d’ambivalences et de contradictions. Les sœurs h s’intéressent à ce désir de trouver sa propre voie, à ce rejet instinctif des schémas préétablis. Elles traduisent cette quête d’identité bouillonnante, quasi explosive, qui n’a pas peur de sortir des sentiers battus, pour y trouver son propre sens.</p>
    <ol >
			<li><span>Vidéos, texte</span> Les&#xa0;sœurs&#xa0;h (Marie&#xa0;Henry et Isabelle&#xa0;Henry)</li>
			<li><span>Musique <br/>live</span> Maxime&#xa0;Bodson</li>
			<li><span>Performance</span> Clara&#xa0;Petit-Jean et Jeanne&#xa0;Wehrlin</li>
			<li><span>Scénographie</span> Marie&#xa0;Szersnovicz</li>
			<li><span>Lumières</span> Laurence&#xa0;Halloy</li><br/>
			<li><span>Production</span> Mortimer et les sœurs h, Perfect Shirley asbl</li>
			<li><span>Soutiens</span> SACD, Ville de Lausanne, Casino Barrière Montreux, Pro Helvetia, Fondation suisse pour la culture</li>
			<li><span>Partenaires</span> La Bellone, Maison de Quartier de Chailly</li>
    </ol>
</section>
<section>

    <figure class="image-cover-festival"><img src=""/><figcaption>Photo&#x202F;: Hichem Dahes</figcaption></figure>
    <h2>Forces</h2>
    <h3 >Mannès-Turine-Lemaître </h3>
    <h3 >Danse </h3>
    <div class="schedule__dates">
        <div class="date--detail">
            <h3>26, 27 à 21h</h3>
        </div>
    </div>
<p><em>FORCES</em> est un rituel futuriste et immersif où trois figures féminines nous emportent en un tourbillon de forces primaires, telluriques, et technologiques. Telles des chamanes guerrières cyborgs, ces passeuses puisent dans l’invisible, pour faire de leurs corps, le vecteur d’une métamorphose vitale, collective, émancipatrice. La relation fusionnelle entre le corps, le son et la lumière provoque chez le spectateur une expérience sensorielle et englobante. Un diamant brut.</p>
<!--     <p class="phrase-intro">Après <em>Atomix 3001</em>, Leslie Mannès, Thomas Turine et Vincent Lemaître  poursuivent leur exploration triangulaire et fusionnelle entre les mouvements, le son en live et la lumière.</p>
    <p>Ces trois créateurs provoquent chez le spectateur une expérience sensorielle totale et englobante. Cela donne <em>FORCES</em> un rituel futuriste et immersif où trois figures féminines nous emportent en un tourbillon de forces primaires, telluriques, et technologiques. Telles des chamanes guerrières cyborgs, ces passeuses puisent dans l'invisible, pour faire de leurs corps, le vecteur d'une métamorphose vitale, collective, émancipatrice. Un diamant brut.</p> -->

        <p class="production" ><em>Forces</em> a reçu le Prix Maeterlinck de la Critique 2020 dans la catégorie Meilleur Spectacle de Danse</p>
    <ol type="1">
			<li><span>Avec</span> Leslie&#xa0;Mannès, Mercedes&#xa0;Dassy, Daniel&#xa0;Barkan</li>
			<li><span>Conception</span> Leslie&#xa0;Mannès, Thomas&#xa0;Turine, Vincent&#xa0;Lemaître</li>
			<li><span>Chorégraphie</span> Leslie&#xa0;Mannès</li>
			<li><span>Musique originale live</span> Thomas&#xa0;Turine</li>
			<li><span>Création lumière</span> Vincent&#xa0;Lemaître</li>
			<li><span>Conseillère artistique</span> Joëlle&#xa0;Bacchetta</li>
			<li><span>Création costumes</span> Marie&#xa0;Artamonoff</li>
			<li><span>Développement et diffusion</span> BLOOM Project/Stéphanie&#xa0;Barboteau, Claire&#xa0;Alex</li>
			<li><span>Production</span> Asbl&#xa0;Hirschkuh</li>
			<li><span>Coproduction</span> Les Brigittines, CDCN Le Gymnase Roubaix dans le cadre du dispositif accueil studio</li>
			<li><span>Soutiens</span> Fédération Walllonie-Bruxelles - service de la danse, SACD Beaumarchais, SACD Belgique, Théâtre la Balsamine, Cosipie, Charleroi-danses, Centre Culturel Réné Magritte (Lessines-Be)</li>
    </ol>

</section>
<section id="" class="">

    <figure class="image-cover-festival"><img src=""/><figcaption>Photo&#x202F;: Mac coco by mac coco</figcaption></figure>
    <h2>Tout doit disparaître</h2>
    <h3 id="">Ophélie Mac </h3>
    <h3 id="">Performance démo </h3>
    <h3>+ de 18 ans </h3>
    <h3>Entrée gratuite mais réservation indispensable</h3>
    <div class="schedule__dates">
        <div class="date--detail">
            <h3>27 à 19h</h3>
        </div>
    </div>
    <p><em>Tout doit disparaître</em> &nbsp;questionne non seulement la frontière entre l’art, le sexe et l’artisanat, mais aussi la sous-représentation des corps noirs dans le monde de l’art. La Balsamine invite l’artiste pour qu’elle effectue une démonstration type «&#x202F;tupperware&#x202F;» pour y présenter et vendre ses Encastrables&#x202F;: des godemichets en céramique faits par ses soins. Elle vous explique pourquoi la céramique est fantastique et répond à vos questions techniques. Cash &amp; Cartes acceptées.</p>
    <p>Ophélie Mac, aka Mac Coco, est une artiste afro-féministe activiste qui se définit comme céramiste-performeuse. Depuis 2012 elle vit et travaille à Bruxelles. Son travail artistique questionne sa double culture, son identité métissée, ses influences religieuses, ses croyances, son intimité ainsi que sa relation au public.</p>

</section>
<section>

    <figure class="image-cover-festival"><img src=""/><figcaption>Photo&#x202F;: Bras de Fer Production</figcaption></figure>

    <h2 id="ouvrir-la-voix-1">Ouvrir la voix</h2>
    <h3 id="amandine-gay">Amandine Gay</h3>
    <h3 id="film-documentaire">Film documentaire</h3>
    <h3>Entrée gratuite mais réservation indispensable</h3>
    <div class="schedule__dates">
        <div class="date--detail">
            <h3>28 à 16h</h3>
        </div>
    </div>
    <p><em>Ouvrir la Voix</em> &nbsp;est un documentaire sur les Afro-descendantes noires d'Europe francophone (France et Belgique) écrit et réalisé par Amandine Gay. C’est aussi le premier long métrage de la réalisatrice et, surtout, le résultat de près de trois ans de travail en autoproduction.</p>
    <p><em>Ouvrir la Voix</em> &nbsp;est un documentaire de création qui bouscule les codes du film d’entretiens. Pensé et réalisé comme une grande conversation entre vingt-quatre femmes noires de France et de Belgique, le film débute le jour où elles se sont découvertes noires, en contexte minoritaire, et se termine avec leurs aspirations pour le futur. C'est aussi un hommage aux artistes noires que la réalisatrice a rencontrées à l’époque où elle était encore comédienne, c’est pourquoi le film est ponctué de répétitions et de performances.</p>
    <p><em>Ouvrir la Voix</em> &nbsp;est aussi une façon, pour Amandine Gay, de célébrer l’histoire de la résistance des femmes noires qui ont toujours inventé des outils leur permettant de ne pas être réduites au silence.</p>
    <ol>
			<li><span>Ecriture et réalisation</span> Amandine Gay</li>
			<li><span>Production</span> Bras de fer</li>
    </ol>

</section>
<section>

<figure class="image-cover-festival"><img src=""/><figcaption>Photo&#x202F;: Gabriel Maydieu</figcaption></figure>
    <h2 id="jusque-dans-nos-lits-1">Jusque dans nos lits</h2>
    <h3 id="lucile-saada-choquet">Lucile Saada Choquet</h3>
    <h3 id="installation-performance">Installation &mdash; performance </h3>
       

    <div class="schedule__dates">
        <div class="date--detail">
            <h3>Dates à définir</h3>
        </div>
    </div>
    <p>L’installation performative <em>Jusque dans nos lits</em> crée du temps et de l’espace pour les héro·ïne·s racisé·e·s contemporain·e·s. Dans un pavillon en bois, entourée de rideaux semi-transparents, la performeuse Lucile Saada Choquet accueille sur un lit des personnes noires, arabes, berbères, asiodescendantes, latines et métisses. Et toi, à quel groupe racial appartiens-tu&#x202F;? </p>
    <p>L’installation crée un territoire où des corps et des voix systématiquement minorisées peuvent se raconter. À partir de l’expérience de la charge raciale, <em>Jusque dans nos lits</em> &nbsp;&nbsp;repolitise des espaces de vie intime en se confrontant aux imaginaires communs.</p>
    <ol type="1">
			<li><span>Conception et performance</span> Lucile&#xa0;Saada&#xa0;Choquet</li>
			<li><span>Dramaturgie</span> Petra&#xa0;van&#xa0;Brabandt</li>
			<li><span>Scénographie</span> Aria&#xa0;Ann</li>
			<li><span>Costumes</span> Pierre&#xa0;Antoine&#xa0;Vettorello</li>
			<li><span>Régie générale</span> Tarek&#xa0;Lamrabti</li>
			<li><span>Développement - production – diffusion</span> Habemus&#xa0;papam – Cora-Line&#xa0;Lefèvre et Julien&#xa0;Sigard</li>
			<li><span>Compagnonnage</span> Café Congo (Bruxelles)</li>
			<li><span>Partenaires</span> La Chaufferie-Acte1, La Bellone, Mars/Mons, arts de la scène et Le Rideau de Bruxelles</li>
			<li><span>&nbsp;Soutiens</span> la Fédération Wallonie-Bruxelles, Service Général de la Création Artistique - Direction du Théâtre, le réseau REM</li>
    </ol>
    <figure id="rem" style=""><img src="../../content/images/logos/REM.svg"/></figure>
		<p class="production">Projet accueilli et soutenu dans le cadre du réseau REM – Résidences Européennes en Mouvement. Une collaboration Balsamine (Schaerbeek / Belgique), Grütli (Genève / Suisse), Théâtre de Poche (Hédé-Bazouges/France)</p>
                    

</section>


<!-- AUDREY LUCIE --> 
<section id="audrey">

           <figure class="image-cover"><img src="/../../content/images/page-audrey.png" /><figcaption>Photo&#x202F;: Denis Gysen</figcaption></figure>
    <img class="image-forme" src="/../../content/images/dessin/pink/casque-audrey.svg" />
    <h1 class="title">AUDREY LUCIE</h1>
    <h2 class="authors" id="notch-company---oriane-varak">notch company<br/>oriane varak</h2>
    <h3 class="event-type" id="création-danse-report-saison-20-21">Création danse</h3>
        <h3 class="event-type">Report saison 20-21</h3>
        <h3 class="event-type">En partenariat et co-présentation avec le D Festival</h3>

		<div class="schedule__dates">
			<time class="start-date" datetime="2022-02-01 00:00:00">01.02<span class="year">.22</span></time>
			<span></span>
			<time class="end-date" datetime="2022-02-05 00:00:00">05.02<span class="year">.22</span></time>
			<div class="date--detail">
			<h3 id="du-1-au-5-février-2022-à-20h30">1 → 5 à 20h30</h3>

			</div>
		</div>
    <p>Dans un futur proche, la technologie permet de télécharger sa conscience dans une Intelligence Artificielle pour y vivre éternellement. AUDREY LUCIE sera le premier être à entrer dans le SNURB (Soul Negentropic Utility for ReBirth). Avec l'aide de son opérateur ANUBIS, elle se prépare à dire adieu à son&nbsp;corps.</p>

    <ol type="1">
			<li><span>Concept et mise en scène</span> Oriane Varak</li>
			<li><span>Création et interprétation</span> Audrey Lucie Riesen et Guillaume Le Boisselier</li>
				<li><span>Musique</span> I AM THE MINOTAUR</li>
				<li><span>Création lumières</span> Jef&#xa0;Philips</li>
				<li><span>Scénographie, costumes et accessoires</span> Julie&#xa0;Chapallaz</li>
				<li><span>Accompagnement dramaturgique</span> Olivier&#xa0;Hespel</li>
				<li><span>Coaching physique</span> Areti&#xa0;Chourdaki</li>
				<li><span>Collaboration artistique</span> Guillaume&#xa0;Le&#xa0;Boisselier</li>
				<li><span>Assistante réalisation</span> Élodie&#xa0;Huré</li>
				<li><span>Regards extérieurs</span> Areti&#xa0;Chourdaki, Audrey&#xa0;Dero</li>
				<li><span>Coproduction et production déléguée</span> Théâtre la Balsamine</li>
				<li><span>Soutiens</span> Fédération Wallonie-Bruxelles, Service Général de la Création Artistique - Service de la Danse, Grand Studio et Bourse SACD</li>
				<li><span>Remerciements</span> Gwen Laroche, Odile Dubucq / Varia, In Limbo, Nathalie Salamero et l’Atelier Peinture de la Monnaie, Nicolas Sanchez et Mina Millienos / Océan Nord</li>
    </ol>
        <figure class="audrey-detail image-extra"><img src="https://cloud.osp.kitchen/s/fyGYNTtaMsTZa58/preview"><figcaption>Photo&#x202F;: Denis Gysen</figcaption></figure>

        <figure class="image-trait"><img style="margin-top:140px; margin-left:90px; width:120% !important;"src="/../../content/images/dessin/trait/bumps-bigger.png"/><figcaption></figcaption></figure>

</section>



<!-- TODOS CAERAN --> 
<section>

     <figure class="image-cover"><img src="/../../content/images/pages-todos.png" /><figcaption>Photo&#x202F;: Hichem Dahes</figcaption></figure>                   
    <img class="image-forme" src="/../../content/images/dessin/pink/heaume-todos.svg" />
    <h1 class="title" id="todos-caerán">Todos caerán </h1>
    <h2 class="authors" id="le-colonel-astral"> Le Colonel Astral </h2>
    <h3 class="event-type" id="librement-inspiré-de-don-quichotte-de-cervantès">Librement inspiré de <br/>Don Quichotte de Cervantès</h3>
		<h3 class="event-type" id="création-théâtre-report-saison-20-21-1">Création théâtre</h3>
            <h3 class="event-type">Report saison 20-21</h3>

	
		<div class="schedule__dates">
			<time class="start-date" datetime="2022-02-16 00:00:00">16.02<span class="year">.22</span></time>
			<span></span>
			<time class="end-date" datetime="2022-02-26 00:00:00">26.02<span class="year">.22</span></time>
            <div class="date--detail">
            	<h3 id="du-16-au-26-février-2022-à-20h30">16 → 19 et 22 → 26 à 20h30
&mdash; 21 à 13h30 </h3>
            </div>

		</div>

    <p class="phrase-intro">Un road trip absurde avec l’errance <br/>pour boussole.</p>
    <p>Au début il n'y a qu'une salle de théâtre, trois présences, un texte, Tchekhov peut être&#x202F;: rien d'extraordinaire, il pourrait s'agir d'une répétition. Soudain un quatrième personnage débarque. Il affirme être un chevalier errant et il se fait appeler Don Alfonso Quichano. Son cheval est une brouette et sa dulcinée s’appelle Andy. C'est le début d'une série de péripéties dont ces quatre êtres sont à la fois les auteurs et les sujets. </p>
    <p><em>Todos caerán</em> parle d'une quête d'identité obstinée qui ne se laisse pas décourager par les tentatives ratées et les désillusions cuisantes. C'est un road trip absurde qui traverse des époques, des situations et des styles littéraires différents. Le seul repère est le théâtre&#x202F;: c'est là que les protagonistes reviennent toujours, comme si ce n'était qu’à l’endroit de la représentation et du partage qu’il y avait un espoir de se rencontrer soi-même.</p>

    <figure class="image-extra"><img src="https://cloud.osp.kitchen/s/XpnZJ9Q9G8cH5qE/preview"/><figcaption>Photo&#x202F;: Hichem Dahes</figcaption></figure>

    <ol>
			<li><span>Texte</span> Francesco&#xa0;Italiano</li>
			<li><span>Mise en scène</span> Guillemette&#xa0;Laurent</li>
			<li><span>Interprétation, collaboration à l'écriture et à la mise en scène</span> Marie&#xa0;Bos, Renaud&#xa0;Cagna, Estelle&#xa0;Franco et Francesco&#xa0;Italiano</li>
			<li><span>Création lumière et direction <br/>technique</span> Nelly&#xa0;Framinet</li>
			<li><span>Scénographie</span> Nicolas&#xa0;Mouzet-Tagawa</li>
			<li><span>Création sonore</span> Maxime&#xa0;Bodson</li>
			<li><span>Stagiaire son</span> Némo&#xa0;Camus</li>
			<li><span>Costumes</span> Thijsje&#xa0;Strijpens</li>
			<li><span>Conseiller technique</span> Lionel&#xa0;Ueberschlag</li>
			<li><span>Accompagnement et diffusion</span> BLOOM&#xa0;Project</li>
			<li><span>Production déléguée</span> Théâtre la Balsamine</li>
			<li><span>Coproductions</span> Le Colonel Astral / Audience asbl, Théâtre la Balsamine, La Coop asbl et ShelterProd</li>
			<li><span>Soutiens</span> Fédération Wallonie-Bruxelles – Service du théâtre, taxshelter.be, ING, tax-shelter du gouvernement fédéral belge, Théâtre Océan Nord et Le 140</li>
    </ol>
    <p class="production">Ce spectacle n’aurait pu avoir lieu sans le concours du Théâtre Océan Nord.</p>

    <figure class="image-trait"><img style="width:60%; margin-top:250px;margin-left:90px;" src="/../../content/images/dessin/trait/chaise.png"/><figcaption></figcaption></figure>

</section>



<!-- STAND BY --> 
<section>

    <figure class="image-cover"><img src="/../../content/images/pages-stand.png" /><figcaption>Photo&#x202F;: Thi-Mai Nguyen</figcaption></figure>
    <img class="image-forme" src="/../../content/images/dessin/pink/slip-stand.svg" />
    <h1 class="title" id="stand-by">Stand by </h1>
    <h2 class="authors" id="thi-mai-nguyen">Thi-Mai Nguyen </h2>
    <h3 class="event-type" id="création-danse-2">Création danse</h3>

		<div class="schedule__dates">
			<time class="start-date" datetime="2022-03-08 00:00:00">08.03<span class="year">.22</span></time>
			<span></span>
			<time class="end-date" datetime="2022-03-12 00:00:00">12.03<span class="year">.22</span></time>
			<div class="date--detail">
				<h3 id="du-8-au-12-mars-2022-à-20h30">8 → 12 à 20h30</h3>
			</div>
		</div>


    <p>Un homme, une femme. Un couple.</p>
    <p>Tous deux revisitent leur vie, au travers de leur propre corps. Séparément et ensemble.</p>
    <p>De l’embryon qu’ils ont été, jusqu’à la poussière qu’ils sont redevenus. 
    Avec leur peau, leur souffle, leur regard, ils affrontent la gravité, les déformations sonores et visuelles. 
    Ils questionnent leur héritage, leur capacité d'action et réaction.
    <p>Avec <em>Stand by</em>, la chorégraphe Thi-Mai Nguyen explore notre humanité à partir de son origine. Il est donc ici question de transmission, de responsabilité, de ce qui nous pousse à influer sur ce monde. To stand by, people.</p>

    <ol>
			<li><span>Une pièce de</span> Thi-Mai&#xa0;Nguyen</li>
            <li><span>en collaboration avec</span> Mehdi&#xa0;Baki</li><br/>
			<li><span>Interprètes</span> Mehdi&#xa0;Baki, Thi-Mai&#xa0;Nguyen</li>
			<li><span>Enfants figurants</span> distribution en cours</li>
			<li><span>Regards extérieurs</span> Laida&#xa0;Aldaz, Marie&#xa0;Hossenlopp, Soa Ratsifandrihana</li>
			<li><span>Création sonore</span> Antoine&#xa0;Delagoutte</li>
			<li><span>Création lumières</span> Caspar&#xa0;Langhoff </li>
			<li><span>Construction</span> Ralf&#xa0;Noon</li>
				<li><span>Coproduction et production déléguée</span> Théâtre la Balsamine</li>
				<li><span>Soutiens</span> Fédération Wallonie-Bruxelles – Service de la danse, Ultima Vez</li>
				<li><span>Aide</span> La Faktoria</li>
    </ol>
</section>


<!-- ABRI OU LES CASAN... --> 
<section>

         <figure class="image-cover"><img src="/../../content/images/pages-abri.png" /><figcaption>Photo&#x202F;: Silvio Palomo</figcaption></figure>

    <img class="image-forme" src="/../../content/images/dessin/pink/cabane-abri.svg" />
    <h1 class="title" id="abri">Abri <span>ou les casanier·e·s </br>de l’apocalypse</span></h1>
    <h2 class="authors" id="silvio-palomo-et-le-comité-des-fêtes">Silvio Palomo et le comité des fêtes</h2>
    <h3 class="event-type" id="création-théâtre-2">Création théâtre</h3>
    <div class="schedule__dates">
            <time class="start-date" datetime="2022-03-08 00:00:00">20.04<span class="year">.22</span></time>
            <span></span>
            <time class="end-date" datetime="2022-03-12 00:00:00">29.04<span class="year">.22</span></time>
            <div class="date--detail">
                <h3 id="du-8-au-12-mars-2022-à-20h30">20 → 23 et 26 → 29 à 20h30 &mdash; 21 à 13h30 et à 20h30</h3>
            </div>
        </div>

    <p class="phrase-intro">Tou·te·s aux abris&#x202F;! </p>

    <p>Se préparer à tout, surtout au pire. Se rassurer même si tout va bien. Faire des plans, des listes, car tout peut arriver, n’importe quand. Il faudrait juste que quelque chose arrive pour que l’aventure commence&#x202F;!</p>


    <p><em>Abri ou les casanier·e·s de l’apocalypse</em> est une création conçue pour six acteur·trice·s. Ensemble, iels mettront (presque) tout en œuvre pour sublimer leur quotidien et construire un intérieur à leur image. </p>
    <p>Avec cette nouvelle création, Silvio Palomo enferme ses personnages en vase clos et prétexte une fin du monde pour interroger une petite tribu obligée de vivre ensemble dans un espace confiné. Que reste-t-il alors de leurs habitudes, de leurs manies et de leurs préoccupations&#x202F;? Comment peuvent-iels réinventer une lecture sensible de leur quotidien et de ce territoire, où le temps semble suspendu&#x202F;?</p>
    <ol type="1" style="margin-top: 20pt;">
        <li><span>Conception</span> Silvio&#xa0;Palomo</li>
        <li><span>Scénographie</span> Itzel&#xa0;Palomo</li>
        <li><span>Création <br/>lumière</span> Léonard&#xa0;Cornevin</li>
        <li><span>Jeu</span> Léonard&#xa0;Cornevin, Aurélien&#xa0;Dubreuil-Lachaud, Manon&#xa0;Joannotéguy, Jean-Baptiste&#xa0;Polge, Nicole&#xa0;Stankiewicz et Noémie&#xa0;Zurletti</li>
        <li><span>Production</span> Little Big Horn asbl et le comité des fêtes</li>
        <li><span>Coproductions</span> Théâtre la Balsamine, la Coop asbl</li>
        <li><span>Soutiens </span> Fédération Wallonie-Bruxelles - Service du Théâtre, Cocof, Théâtre Varia – Centre dramatique de la Fédération Wallonie Bruxelles, du Centre Wallonie-Bruxelles Paris et de Montévidéo, Centre d'Art /Marseille, le tax-shelter </br>du gouvernement fédéral belge</li>
		</ol>

        <figure class="image-trait"><img style="margin-top:250px;margin-left:200px;" src="/../../content/images/dessin/trait/coin.png"/><figcaption></figcaption></figure>

</section>



<!-- AU PIED DES MONTAGNES --> 
<section>

    <figure class="image-cover"><img src="/../../content/images/pages-montagne.png" /><figcaption>Photo&#x202F;: Théodore Marković</figcaption></figure>
    <img class="image-forme" src="/../../content/images/dessin/pink/feuille-montagne.svg" />
    <h1 class="title" id="au-pied-des-montagnes">Au pied des montagnes</h1>
    <h2 class="authors" id="une-tribu-collectif">UNE TRIBU Collectif</h2>
    <h3 class="event-type" id="création-théâtre-dombres---pour-tous-à-partir-de-8-ans">Création théâtre d'ombres</h3>
        <h3 class="event-type">À partir de 8 ans</h3>
    <h3 class="event-type">Report saison 20-21</h3>

		<div class="schedule__dates">
			<time class="start-date" datetime="2022-03-08 00:00:00">09.05<span class="year">.22</span></time>
			<span></span>
			<time class="end-date" datetime="2022-03-12 00:00:00">15.05<span class="year">.22</span></time>
			<div class="date--detail">
				<h3>Scolaire → les 9, 10, 11, 12 et 13</h3> 
                <h3>Tout public → 13 à 19h &mdash; 14 à 17h &mdash; 15 à 15h</h3>
			</div>
		</div>
    <p>Kuzma, dix ans, est née dans un pays-Parallélogramme, vit dans immeuble-Rectangle, regarde les infos dans une télé-Cube. Le quotidien semble très Carré, jusqu’au jour où plus rien ne tourne Rond. Un nouveau président prend le pouvoir de la nation et décide de procéder à une épuration ethnique. Ainsi, sa famille apprend qu’elle fait partie de la population Triangle, et que celle-ci n’a plus sa place dans la nouvelle géométrie politique du nouvel élu. Kuzma doit fuir, à travers les montagnes, dans un monde où réel et imaginaire se confondent. Conte philosophique pour esprits cartésiens, ce nouveau projet d’UNE TRIBU Collectif explore l’ombre en quête d’une liberté moins formelle.</p>

    <ol>
        <li><span>Représentations scolaires en partenariat avec Pierre de Lune les 17 et 18 mai.   </span> </li>
            <li><span>Info et réservation </span>www.pierredelune.be</li>
                </ol>

    <figure class="image-extra"><img src="https://cloud.osp.kitchen/s/bMmGKEDW9d4ZSMd/preview"/><figcaption>Photo&#x202F;: Théodore Marković</figcaption></figure>

    <ol>
			<li><span>Création</span> UNE TRIBU Collectif</li>
			<li><span>Conception et mise en <br/>scène</span> Gwendoline&#xa0;Gauthier, Sarah&#xa0;Hebborn et Valentin&#xa0;Périlleux</li><br/>
			<li><span>Ecriture et interprétation</span> Gwendoline&#xa0;Gauthier et Sarah&#xa0;Hebborn</li><br/>
			<li><span>Scénographie</span> Valentin&#xa0;Périlleux</li>
			<li><span>Aide à la mise en scène</span> Daniel&#xa0;Schmitz</li>
			<li><span>Aide à la manipulation des silhouettes</span> Michel&#xa0;Villée</li>
			<li><span>Construction</span> Guy&#xa0;Carbonnelle [Quai 41], Caspar&#xa0;Langhoff et toute l'équipe</li>
			<li><span>Création sonore</span> Thomas&#xa0;Turine</li>
			<li><span>Création lumière</span> Dimitri&#xa0;Joukovsky</li>
			<li><span>Costumes</span> Rita&#xa0;Belova</li>
			<li><span>Régie</span> Karl&#xa0;Autrique</li>
			<li><span>Illustrations et silhouettes</span> Fanny&#xa0;Dreyer</li>
			<li><span>Façonnages de silhouettes</span> Sarah&#xa0;Cheveau</li>
			<li><span>Diffusion</span> Louise&#xa0;Mestrallet</li>
			<li><span>Production déléguée</span> Théâtre la Balsamine</li>
			<li><span>Coproduction</span> Entrée de Secours ASBL, Théâtre la Balsamine et Pierre de Lune</li>
			<li><span>Soutiens</span> Fédération Wallonie – Bruxelles - Service du Théâtre, Bamp, Wolubilis, La Roseraie, Centre de la Marionnette de la FWB et Quai 41</li>
			<li><span>Remerciement</span> La Coop asbl</li>
    </ol>

    <figure class="image-trait"><img style="width:130%;margin-top:100px;margin-left:100px;"  src="/../../content/images/dessin/trait/cerf-volant.png"/></figure>
</section>


<!-- FESTIVAL NOEL -->
<section>
    <div id="partenariats">
    <h1 class="title">Les partenariats</h1>
	<h2 class="" >Festival Noël au Théâtre</h2>
    <h3>26.12 → 30.12</h3>
    <h3>Programmation en cours</h3>
    <h3>Infos et tickets&#x202F;: www.ctej.be</h3>

    <h2 class="" >D Festival</h2>
    <h3>26.01 → 09.02</h3>
    <h3>Un partenariat Marni, Senghor et Balsamine</h3>
    <h3>Programmation en cours</h3>

	<h2 id="kunstenfestivaldesarts">Kunstenfestivaldesarts</h2>
	<h3>06.05 → 28.05</h3>
	<h3>Programmation en cours</h3>
	<h3>Infos et tickets&#x202F;: www.kunstenfestivaldesarts.be</h3>

    <h2 class="" >ReForm asbl</h2>
    <h3>«&#x202F;Théâtre à l'école&#x202F;» </h3>
        <h3>Programmation en cours</h3>
    <h3>www.reform.be</h3>

    </div>
</section>
<section>
  <div id="balsatoiles">
	<h1 id="les-balsatoiles" class="title">Les Balsatoiles </h1>
	<p>Dès 15h, le temps de 6 mercredis après-midis, la Balsa se transforme en cinéma de quartier. Ces projections gratuites de films d’animation sont des moments privilégiés de partage.</p>
	<h2>La Fameuse invasion des Ours en Sicile</h2> 
    <h3>de Lorenzo Mattotti, Italie / France 2019</h3>
    <h3>Le 27 octobre</h3>
	<h2>Calamity, une enfance de Martha Jane Cannary</h2> 
    <h3>de Rémi Chayé, France 2020</h3>
    <h3>Le 24 novembre</h3>

	<h2>Toy Story 4</h2> 
    <h3>de Josh Cooley, États-Unis 2019</h3>
    <h3>Le 8 décembre</h3>

	<h2>Kubo et l'Armure Magique</h2> 
    <h3>de Travis Knight, États-Unis 2016</h3>
    <h3>Le 19 janvier</h3>

	<h2>Wall-E</h2> 
    <h3>de Andrew Stanton, États-Unis 2008</h3>
    <h3>Le 16 mars</h3>

	<h2>Shaun le mouton</h2> 
    <h3>de Mark Burton &amp; Richard Starzack, France / Royaume-Uni 2015</h3>
    <h3>Le 1<sup>er</sup> juin</h3>

	<p>Chaque film est précédé d’un atelier créatif en lien avec les thématiques abordées par l’œuvre. Entrée libre mais réservation indispensable&#x202F;!</p>
</div>
</section>
